Repository equinor/lighthouse-client, changes with the labels that .github/labeler.yml gives for each.
All labels: client, configuration, dependencies

feat: data loading action
  src/Core/Dashboard/Components/DashboardPage/DashbaordViwer.tsx
  src/Core/Dashboard/Context/DataActions.ts
  src/Core/Dashboard/Context/DataProvider.tsx
Labels: client

chore: change punch analytics uri
  src/apps/Construction/index.tsx
Labels: client

chore: make tabs height smaller
  src/Core/Dashboard/Components/Header/Header.tsx
  src/modules/powerBI/src/Components/PageNavigation.tsx
Labels: client

refactor
  src/apps/ScopeChangeRequest/Api/ScopeChange/Access/Workflow/canContribute.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Access/Workflow/canManageContributors.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Access/Workflow/canReassign.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Access/Workflow/canSign.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Access/Workflow/canUnsign.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Access/Workflow/index.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Access/index.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Workflow/addContribution.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Workflow/addContributor.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Workflow/index.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Workflow/reassignCriteria.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Workflow/signCriteria.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Workflow/unsignCriteria.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/getScopeChange.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/index.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/initiateScopeChange.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/patchScopeChange.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/postScopeChange.ts
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestActionBar/Components/RequestDraftActions.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestActionBar/Components/RequestOpenActions.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestActionBar/Components/VoidRequestButton.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Single.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RequestDetailView.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/MenuButton/Components/IconMenu.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Context/scopeChangeAccessContext.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/ScopeChangeSidesheet.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/AddContributor.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributors.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/CriteriaDetail.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Workflow.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/WorkflowCriterias.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/WorkflowIcon.tsx
  src/apps/ScopeChangeRequest/Functions/Access/getContributionId.ts
  src/apps/ScopeChangeRequest/Hooks/useWorkflowAccess.ts
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/apps/ScopeChangeRequest/Styles/SidesheetWrapper.tsx
Labels: client

chore: change punch analytics uri (#151)
  src/apps/Construction/index.tsx
Labels: client

WIP
  package.json
  src/Core/WorkSpace/src/WorkSpaceApi/State.ts
  src/apps/checklistApp.ts
  src/packages/Grid/src/Components/Grid.tsx
  src/packages/Grid/src/Components/IconMenu.tsx
  yarn.lock
Labels: client, configuration, dependencies

Mock scope change
  package-lock.json
  package.json
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  yarn.lock
Labels: client, configuration, dependencies

WIP
  src/Core/WorkSpace/src/WorkSpaceApi/Api.ts
  src/apps/ScopeChangeRequest/Components/Workflow/WorkflowCompact.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/apps/ScopeChangeRequest/Types/scopeChangeRequest.ts
  src/packages/Grid/src/Components/Grid.tsx
Labels: client

WIP
  package-lock.json
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/packages/Grid/src/Components/GenerateColumn.tsx
  src/packages/Grid/src/Components/Grid.tsx
  src/packages/Grid/src/Utils/buildColumnDef.ts
  yarn.lock
Labels: client, configuration, dependencies

env filtering by appEnv: dev , test , prod
  src/Core/Client/Functions/Settings.ts
  src/Core/Client/Service/appsProvider.ts
  src/Core/Client/Types/AppManifest.ts
  src/Core/Client/Utils/environment.ts
  src/Core/Client/index.ts
  src/Core/DataFactory/Components/AddMenu.tsx
  src/apps/apps.ts
  src/components/Menu/MainMenu.tsx
  src/components/Menu/MenuItem.tsx
Labels: client

moved setEnv functiuon and added production guard
  src/Core/Client/Service/createClient.ts
  src/Core/Client/Utils/environment.ts
Labels: client

Form implementation guid (#55)
  src/packages/Form/Readme.md
  src/packages/Form/src/Hooks/useForm.ts
  src/packages/Form/src/Types/form.ts
Labels: client

Hompage background
  src/Core/Client/Home/clientHomeStyles.ts
Labels: client

added abortSignal to stidSelector
  src/apps/ScopeChangeRequest/Api/Search/STID/searchDocuments.ts
  src/apps/ScopeChangeRequest/Api/Search/STID/searchStid.ts
  src/apps/ScopeChangeRequest/Api/Search/STID/searchTags.ts
  src/apps/ScopeChangeRequest/Components/STID/Components/StidSelector.tsx
Labels: client

WIP
  src/apps/ScopeChangeRequest/Components/DetailView/Components/ChevronList/ChevronList.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/CommPkg/CommPkg.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RelatedObjects.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Double.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Single.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/Systems/System.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributors.tsx
  src/apps/ScopeChangeRequest/Types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/Types/stidDocument.ts
Labels: client

add custom array cell type
  src/packages/Table/Components/Cells/ArrayCell.tsx
  src/packages/Table/Components/Cells/index.tsx
  src/packages/Table/Utils/utils.tsx
  src/packages/Table/types.ts
Labels: client

remove unused file
  src/apps/ScopeChangeRequest/Components/DetailView/Components/Tags/TagChevron.tsx
Labels: client

feat: add support of cancellation when redirect to other view
  src/Core/Dashboard/Context/DataProvider.tsx
  src/Core/Dashboard/Types/State.ts
  src/Core/WorkSpace/src/Context/DataProvider.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/apps/Construction/index.tsx
  src/packages/Utils/Hooks/index.ts
  src/packages/Utils/Hooks/useCancellation.ts
  src/packages/Utils/index.ts
  tsconfig.json
  vite.config.ts
Labels: client, configuration

add custom array cell type (#156)
  src/packages/Table/Components/Cells/ArrayCell.tsx
  src/packages/Table/Components/Cells/index.tsx
  src/packages/Table/Utils/utils.tsx
  src/packages/Table/types.ts
Labels: client

WIP PCS down
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: client

search relatedobjects as one
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/SearchableDropdown/PCSLink.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: client

feat: add support for custom header renderer in config
  src/apps/HeatTraceInstallation/HeatTraceInstallationApp.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/packages/Table/Utils/utils.tsx
  src/packages/Table/types.ts
Labels: client

chore: make tab intos styled component
  src/Core/Dashboard/Components/Header/Header.tsx
  src/Core/Dashboard/Components/Header/HeaderStyles.ts
  src/modules/powerBI/src/Components/PageNavigation.tsx
Labels: client

fix: revert to previous config
  src/apps/HeatTraceInstallation/HeatTraceInstallationApp.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: client

chore: fix prettier
  src/apps/HeatTraceInstallation/HeatTraceInstallationApp.tsx
Labels: client

Add support for formatting to relative date
  src/packages/Table/Components/Cells/RelativeDateCell.tsx
  src/packages/Table/Components/Cells/index.tsx
  src/packages/Table/Utils/utils.tsx
  src/packages/Table/types.ts
Labels: client

[Table] - feat: add support for custom header renderer in config (#158)
  src/packages/Table/Utils/utils.tsx
  src/packages/Table/types.ts
Labels: client

cr fix
  src/packages/Table/Components/Cells/RelativeDateCell.tsx
Labels: client

Add support for formatting to relative date (#159)
  src/packages/Table/Components/Cells/RelativeDateCell.tsx
  src/packages/Table/Components/Cells/index.tsx
  src/packages/Table/Utils/utils.tsx
  src/packages/Table/types.ts
Labels: client

WIP refactor
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RelatedObjects.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Double.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/RequestDetailViewStyles.ts
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Single.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/StidDocumentResolver.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/SearchableDropdown/PCSLink.tsx
  src/apps/ScopeChangeRequest/Hooks/useStidDocumentResolver.ts
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: client

fix: move loading to children to menu shows
  src/Core/Dashboard/Components/DashboardPage/DashbaordViwer.tsx
  src/Core/Dashboard/Components/Pages/Pages.tsx
Labels: client

cleanup refactor
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestActionBar/Components/CriteriaSelector.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestActionBar/Components/RequestActionBar.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestActionBar/Components/RequestDraftActions.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestActionBar/Components/RequestOpenActions.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestActionBar/Components/VoidRequestButton.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestActionBar/index.ts
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: client

refactor
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Double.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Single.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/AddContributor.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/Contributors.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/CriteriaDetail.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/Workflow.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/WorkflowCompact.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/WorkflowCriterias.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/WorkflowDot.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/WorkflowIcon.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/WorkflowLine.tsx
  src/apps/ScopeChangeRequest/Components/WorkflowEditor/Components/WorkflowEditor.tsx
  src/apps/ScopeChangeRequest/Hooks/useTextField.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/apps/ScopeChangeRequest/Types/scopeChangeRequest.ts
Labels: client

Uppdated links and link aligment
  src/apps/apps.ts
Labels: client

menu styles
  src/components/Menu/FullscreenMainMenuStyles.ts
  src/components/Menu/MenuItem.tsx
  src/components/Menu/MenuItemStyles.ts
Labels: client

dummy tasks on home page
  src/Core/Client/Home/Task/Task.tsx
  src/Core/Client/Home/Task/TaskItem.tsx
  src/Core/Client/Home/Task/TaskItemStyles.ts
  src/Core/Client/Home/Task/TaskStyle.ts
  src/Core/Client/Home/Task/types.ts
Labels: client

added one more task and paddin and scroll
  src/Core/Client/Home/Task/Task.tsx
  src/Core/Client/Home/Task/TaskStyle.ts
Labels: client

added disabled search field in top-bar
  src/components/TopBar/TopBar.tsx
  src/components/TopBar/TopBarStyle.ts
Labels: client

chore/Remove Node fetch and @azure/app-configuration and @microsoft/applicationinsights-web minor update
  package.json
  yarn.lock
Labels: configuration, dependencies

.github/labeler.yml:

client:
    - ./src/**

configuration:
    - ./*

dependencies:
    - package.json
    - yarn.lock
