Repository equinor/lighthouse-client, changes with the labels that .github/labeler.yml gives for each.
All labels: GithubActions, Apps, Core, Packages, WorkSpace, PageViewer, Client, Portal, Components, Configuration, Pipelines, Dependencies

.github/labeler.yml:

GithubActions:
    - .github/**

Apps:
    - src/apps/**

Core:
    - src/Core/**

Packages:
    - src/packages/**

WorkSpace:
    - src/Core/WorkSpace/**

PageViewer:
    - src/Core/PageViewer/**

Client:
    - src/Core/Client/**

Portal:
    - src/Core/Client/**
    - src/components/Menu/**
    - src/components/TopBar/**

Components:
    - src/components/**

Configuration:
    - /*

Pipelines:
    - pipelines/*

Dependencies:
    - package.json
    - yarn.lock

rename
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithCommentBar.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria.tsx
Labels: Apps

wip get garden items
  src/components/ParkView/Components/VirtualGarden/utils/getGardenItems.ts
Labels: Components

Hide column pending contributions
  src/apps/ScopeChangeRequest/Types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/WorkspaceConfig/Table/tableConfig.tsx
Labels: Apps

fix batch upload attachments
  src/apps/ScopeChangeRequest/Components/Attachments/Attachments.tsx
  src/apps/ScopeChangeRequest/Components/Attachments/HotUpload.tsx
  src/apps/ScopeChangeRequest/Components/Attachments/Upload.tsx
Labels: Apps

convert to mutate rather than mutateAsync
  src/apps/ScopeChangeRequest/Components/DetailView/RequestDetailView.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/ScopeChangeSidesheet.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/Components/Contributors.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/AddContributor.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria.tsx
Labels: Apps

Menu functionality
  src/AppClient.tsx
  src/Core/Client/ClientContext/clientContext.tsx
  src/Core/Client/Functions/Settings.ts
  src/Core/Client/Hooks/useClientContext.ts
  src/Core/Client/Types/ClientSettings.ts
  src/Core/Client/Types/UIContext.ts
  src/components/Layouts/MainLayout.tsx
  src/components/Layouts/MainLayoutStyles.ts
  src/components/Menu/Components/CompactMenu/CompactMenu.tsx
  src/components/Menu/Components/CompactMenu/CompactMenuStyles.ts
  src/components/Menu/Components/ExpandedMenu/ExpandedMenu.tsx
  src/components/Menu/Components/ExpandedMenu/ExpandedMenuStyles.ts
  src/components/Menu/Components/Favourites/Favourites.tsx
  src/components/Menu/Components/Favourites/FavouritesStyles.ts
  src/components/Menu/Components/GroupeItem/GroupeItem.tsx
  src/components/Menu/Components/GroupeItem/GroupeItemStyles.ts
  src/components/Menu/Components/MenuItem/MenuItem.tsx
  src/components/Menu/Components/MenuItem/MenuItemStyles.ts
  src/components/Menu/Components/Sheard/Styles.ts
  src/components/Menu/Context/MenuContext.tsx
  src/components/Menu/MainMenu.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuStyles.ts
  src/components/Menu/Styles.ts
  src/components/Menu/index.ts
  src/components/TopBar/TopBar.tsx
Labels: Core, Client, Portal, Components

soem styles fwip
  src/components/Menu/Components/CompactMenu/CompactMenu.tsx
  src/components/Menu/Components/CompactMenu/CompactMenuStyles.ts
  src/components/Menu/Components/Favourites/FavouritesStyles.ts
  src/components/Menu/Components/GroupeItem/GroupeItem.tsx
Labels: Portal, Components

cr fixes
  src/apps/ScopeChangeRequest/Components/Attachments/HotUpload.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/Components/Contributors.tsx
Labels: Apps
