Repository equinor/lighthouse-client, pull requests merged in 2022-03, with the labels that each got.

#227 Notifications backbone
  index.html
  package.json
  src/Core/Notifications/API/getReadNotifications.ts
  src/Core/Notifications/API/getUnreadNotifications.ts
  src/Core/Notifications/API/readNotification.ts
  src/Core/Notifications/Components/NotificationCard.tsx
  src/Core/Notifications/Components/NotificationCardStyles.tsx
  src/Core/Notifications/Components/NotificationsDrawer.tsx
  src/Core/Notifications/Hooks/useNotificationCenter.ts
  src/Core/Notifications/Hooks/useNotificationMutationKeys.ts
  src/Core/Notifications/Hooks/useNotificationQueryKeys.ts
  src/Core/Notifications/Hooks/useSignalRHub.ts
  src/Core/Notifications/Types/Notification.ts
  src/Core/Notifications/Types/NotificationList.ts
  src/Core/httpClient/src/baseClient.ts
  src/components/Icon/ClickableIcon.tsx
  src/components/TopBar/TopBar.tsx
  yarn.lock
Labels: dependencies

#281 Menu/expanded-menu-ui-updates
  .github/labeler.yml
  src/components/Menu/FullscreenMainMenu.tsx
  src/components/Menu/FullscreenMainMenuStyles.ts
  src/components/Menu/MainMenu.tsx
  src/components/Menu/MenuItem.tsx
  src/components/Menu/MenuItemStyles.ts
  src/components/TopBar/TopBar.tsx
  src/components/TopBar/TopBarStyle.ts
Labels: GithubActions, Components, Portal

#282 fix crash in test
  src/apps/ScopeChangeRequest/Api/ScopeChange/Request/getHistory.ts
  src/apps/ScopeChangeRequest/Components/DetailView/Components/History/HistoryItem.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria.tsx
  src/apps/ScopeChangeRequest/Schemas/scopeChangeRequestSchema.ts
  src/apps/ScopeChangeRequest/Types/scopeChangeRequest.ts
Labels: Apps

#286 Feature/dynatrace oneagent
  .docker/Dockerfile
  .docker/nginx/conf.d/default.conf
  pipelines/frontend-build.yml
Labels: Pipelines

#284 Feature/piping ht improvements
  src/apps/DisciplineReleaseControl/Components/Garden/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/Components/Garden/gardenSetup.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowDot.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Functions/tableHelpers.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/packages/Filter/Components/FilterGroup/FilterGroup-Styles.ts
  src/packages/ModelViewer/ModelViewer.tsx
Labels: Apps, Packages

#285 reject with comment and refactor
  src/apps/ScopeChangeRequest/Components/SearchableDropdown/PCSPersonRoleSearch.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/useWorkflowSigning.tsx
  src/apps/ScopeChangeRequest/Types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/WorkspaceConfig/Table/tableConfig.tsx
Labels: Apps

#290 add commPkgIcon to related objects search
  src/apps/ScopeChangeRequest/Components/SearchableDropdown/RelatedObjectsSearch/RelatedObjectsSearch.tsx
Labels: Apps

#291 clear loading indicators
  src/Core/WorkSpace/src/Components/WorkSpaceTabs/WorkSpaceTabs.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Double.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/RequestDetailViewStyles.ts
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Single.tsx
Labels: Apps, Core, WorkSpace

#289 Menu/compact mode
  src/AppClient.tsx
  src/Core/Client/ClientContext/clientContext.tsx
  src/Core/Client/ClientState/ClientState.ts
  src/Core/Client/Framwork/Modules/Settings/provider.ts
  src/Core/Client/Functions/Settings.ts
  src/Core/Client/Hooks/useClientContext.ts
  src/Core/Client/Types/ClientSettings.ts
  src/Core/Client/Types/UIContext.ts
  src/components/AppIcon/AppIcon.tsx
  src/components/Icon/AppSquareIcon.tsx
  src/components/Layouts/MainLayout.tsx
  src/components/Layouts/MainLayoutStyles.ts
  src/components/Menu/Components/CompactMenu/CompactMenu.tsx
  src/components/Menu/Components/CompactMenu/CompactMenuStyles.ts
  src/components/Menu/Components/ExpandedMenu/ExpandedMenu.tsx
  src/components/Menu/Components/ExpandedMenu/ExpandedMenuStyles.ts
  src/components/Menu/Components/Favourites/Favourites.tsx
  src/components/Menu/Components/Favourites/FavouritesStyles.ts
  src/components/Menu/Components/GroupeItem/GroupeItem.tsx
  src/components/Menu/Components/MenuItem/MenuItem.tsx
  src/components/Menu/Components/MenuItem/MenuItemStyles.ts
  src/components/Menu/Components/Sheard/Styles.ts
  src/components/Menu/Context/FavoritesContext.tsx
  src/components/Menu/Context/MenuContext.tsx
  src/components/Menu/MainMenu.tsx
  src/components/Menu/MainMenuExpandedStyles.ts
  src/components/Menu/MainMenuStyles.ts
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuItem.tsx
  src/components/Menu/MenuItemStyles.ts
  src/components/Menu/MenuStyles.ts
  src/components/Menu/Styles.ts
  src/components/Menu/Utils/favorites.ts
  src/components/Menu/Utils/utils.tsx
  src/components/Menu/index.ts
  src/components/Messages/Service/Components/ServiceMessagePost.tsx
  src/components/Messages/Service/Components/ServiceMessagePostStyle.ts
  src/components/TopBar/TopBar.tsx
Labels: Components, Portal, Core, Client

#295 update workflow icons according to figma
  src/apps/ScopeChangeRequest/Components/Workflow/Components/DefaultWorkflowDot.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/WorkflowIcon.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaDetail.tsx
  src/apps/ScopeChangeRequest/WorkspaceConfig/Table/WorkflowCompact.tsx
  src/apps/ScopeChangeRequest/WorkspaceConfig/Table/WorkflowDot.tsx
  src/apps/ScopeChangeRequest/WorkspaceConfig/Table/tableConfig.tsx
Labels: Apps

#293 [Hanging Garden] - feat: Virtualization of garden
  package.json
  src/Core/WorkSpace/src/Components/WorkSpace/HeaderFilterWrapper.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
  src/Core/WorkSpace/src/Tabs/GardenTab.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/Handover/Garden/CustomViews/HandoverGardenHeader.tsx
  src/apps/Handover/index.tsx
  src/apps/ScopeChangeRequest/WorkspaceConfig/Garden/gardenConfig.ts
  src/apps/WorkOrder/Garden/components/Popover/WorkOrderPopover.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderItem/WorkOrderItem.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderItem/styles.ts
  src/apps/WorkOrder/Garden/utility/gardenSetup.ts
  src/apps/WorkOrder/index.tsx
  src/apps/handoverApp.ts
  src/apps/swcr/CustomViews/SwcrGardenHeader.tsx
  src/apps/swcr/index.ts
  src/components/ParkView/Components/Garden.tsx
  src/components/ParkView/Components/GardenView.tsx
  src/components/ParkView/Components/Group.tsx
  src/components/ParkView/Components/GroupHeader.tsx
  src/components/ParkView/Components/GroupingSelector.tsx
  src/components/ParkView/Components/TreeColumn.tsx
  src/components/ParkView/Components/VirtualGarden/Container.tsx
  src/components/ParkView/Components/VirtualGarden/ExpandProvider.tsx
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/HeaderContainer.tsx
  src/components/ParkView/Components/VirtualGarden/Layout.tsx
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
  src/components/ParkView/Components/VirtualGarden/__tests__/getgardenitems.test.ts
  src/components/ParkView/Components/VirtualGarden/__tests__/subgroupcount.test.ts
  src/components/ParkView/Components/VirtualGarden/hooks/index.ts
  src/components/ParkView/Components/VirtualGarden/hooks/useExpand.ts
  src/components/ParkView/Components/VirtualGarden/hooks/useVirtualScrolling.ts
  src/components/ParkView/Components/VirtualGarden/mock/gardendata.ts
  src/components/ParkView/Components/VirtualGarden/styles/Container.styles.ts
  src/components/ParkView/Components/VirtualGarden/styles/Header.styles.ts
  src/components/ParkView/Components/VirtualGarden/styles/Package.styles.ts
  src/components/ParkView/Components/VirtualGarden/styles/Subgroup.styles.ts
  src/components/ParkView/Components/VirtualGarden/styles/index.ts
  src/components/ParkView/Components/VirtualGarden/types/gardenItem.ts
  src/components/ParkView/Components/VirtualGarden/utils/getDescriptionWidth.ts
  src/components/ParkView/Components/VirtualGarden/utils/getGardenItems.ts
  src/components/ParkView/Components/VirtualGarden/utils/getRowCount.ts
  src/components/ParkView/Components/VirtualGarden/utils/index.ts
  src/components/ParkView/Components/VirtualGarden/utils/isScrollingUtils.ts
  src/components/ParkView/Context/ParkViewContext.ts
  src/components/ParkView/Context/ParkViewProvider.tsx
  src/components/ParkView/Models/data.ts
  src/components/ParkView/Models/gardenOptions.ts
  src/components/ParkView/Services/createGarden.ts
  src/components/ParkView/Services/createTree.ts
  src/components/ParkView/Utils/groupBy.ts
  yarn.lock
Labels: dependencies, Components, Apps, Core, WorkSpace

#294 Fix/scopechange fixes
  src/Core/WorkSpace/src/Components/ToggleButton.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/MenuButton/Components/MenuButton.tsx
  src/apps/ScopeChangeRequest/Components/STID/Components/StidDocument.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/ScopeChangeSidesheet.tsx
  src/apps/ScopeChangeRequest/WorkspaceConfig/Table/tableConfig.tsx
  src/apps/ScopeChangeRequest/WorkspaceConfig/filterConfig.ts
  src/packages/Form/src/Components/NumberInput.tsx
Labels: Apps, Core, Packages, WorkSpace

#274 eager loading POC
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RelatedObjects/CommPkg/CommPkg.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RequestDetailView.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/ScopeChangeSidesheet.tsx
  src/apps/ScopeChangeRequest/Hooks/React-Query/useEagerLoading.ts
  src/apps/ScopeChangeRequest/Hooks/useEagerLoadingReferences.ts
Labels: Apps

#296 fix/goupe id on favorites
  src/components/Menu/Components/Favourites/Favourites.tsx
Labels: Components, Portal

#299 [Scope-change] Pending contribution icon table
  src/apps/ScopeChangeRequest/WorkspaceConfig/Table/tableConfig.tsx
Labels: Apps

#292 hide contributor on other than current step
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/Components/Contributors.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Step/Components/WorkflowStep.tsx
Labels: Apps

#301 fix/workspace sidesheet push main container
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceViewStyles.ts
Labels: Core, WorkSpace

#303 Feature/piping and ht visual changes
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/DisciplineReleaseControl/Components/Garden/GardenItemStyles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenHeader.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenItem.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/StatusCircle.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/Components/Garden/gardenSetup.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/StatusBar/statusBarConfig.ts
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowCompact.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowDot.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowIcon.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Contributor/Components/Contributors.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Criteria/Components/CriteriaDetail.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Functions/tableHelpers.ts
  src/apps/DisciplineReleaseControl/Styles/ReleaseControlColors.tsx
  src/apps/DisciplineReleaseControl/Types/disciplineReleaseControl.ts
  src/apps/DisciplineReleaseControl/Types/drcEnums.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/apps.ts
  src/components/ParkView/Services/createGarden.ts
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
Labels: Components, Apps, Core, Packages, WorkSpace

#302 Feature/scope change double column form
  src/Core/DataFactory/Components/FactoryComponent.tsx
  src/Core/WorkSpace/src/Functions/checkResponseCode.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Request/initiateScopeChange.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/Request/postScopeChange.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/getCategories.ts
  src/apps/ScopeChangeRequest/Api/ScopeChange/getPhases.ts
  src/apps/ScopeChangeRequest/Api/Search/STID/searchDocuments.ts
  src/apps/ScopeChangeRequest/Components/Attachments/Upload.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Double.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Single.tsx
  src/apps/ScopeChangeRequest/Components/Form/DataCreatorWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Form/FormTextField.tsx
  src/apps/ScopeChangeRequest/Components/Form/Origin.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeBaseForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeForm.styles.ts
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/useScopeChangeFormState.ts
  src/apps/ScopeChangeRequest/Components/STID/Components/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/STID/Components/advancedSearchStyles.ts
  src/apps/ScopeChangeRequest/Components/SearchableDropdown/RelatedObjectsSearch/RelatedObjectsSearch.tsx
  src/apps/ScopeChangeRequest/Components/SearchableDropdown/RelatedObjectsSearch/RelatedObjectsStyles.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/ErrorBanner.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/ScopeChangeSidesheet.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/ScopeChangeSidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/useGlobalMutationListener.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/useGlobalQueryListener.ts
  src/apps/ScopeChangeRequest/Functions/throwError.ts
  src/apps/ScopeChangeRequest/Hooks/React-Query/useScopechangeMutation.ts
  src/apps/ScopeChangeRequest/Hooks/useRequestMutations.ts
  src/apps/ScopeChangeRequest/Hooks/useScopeChangeMutationWatcher.ts
  src/apps/ScopeChangeRequest/Hooks/useUnpackRelatedObjects.ts
  src/apps/ScopeChangeRequest/Schemas/scopeChangeRequestSchema.ts
  src/apps/ScopeChangeRequest/Types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/WorkspaceConfig/Table/tableConfig.tsx
  src/apps/ScopeChangeRequest/WorkspaceConfig/dataCreatorConfig.ts
  src/packages/Table/Components/Styles.ts
Labels: Apps, Core, Packages, WorkSpace

#306 [Scope change] pushing pixels
  src/apps/ScopeChangeRequest/Api/Search/STID/searchDocuments.ts
  src/apps/ScopeChangeRequest/Components/DetailView/Components/ChevronList/ChevronList.tsx
  src/apps/ScopeChangeRequest/Components/SearchableDropdown/RelatedObjectsSearch/RelatedObjectsSearch.tsx
  src/apps/ScopeChangeRequest/Components/SearchableDropdown/RelatedObjectsSearch/RelatedObjectsStyles.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria.tsx
  src/apps/ScopeChangeRequest/Hooks/Search/useReferencesSearch.ts
Labels: Apps

#305 Feature/powerbi multi report
  package.json
  src/Core/Client/Hooks/useClientContext.ts
  src/Core/Client/Service/ClientBuilder.ts
  src/Core/Client/Types/App.ts
  src/Core/PageViewer/Types/State.ts
  src/Core/PowerBiViewer/index.ts
  src/Core/PowerBiViewer/src/Api/powerBiViewerApi.ts
  src/Core/PowerBiViewer/src/Api/powerBiViewerState.ts
  src/Core/PowerBiViewer/src/Components/HeaderButton/HeaderButton.tsx
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeader.tsx
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeaderStyles.ts
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/PowerBiViewer/src/PowerBiViewerStyles.ts
  src/Core/PowerBiViewer/src/Types/State.ts
  src/Core/PowerBiViewer/src/Utils/getDefault.ts
  src/Core/PowerBiViewer/src/__Test__/getDefault.test.ts
  src/Core/WorkSpace/src/WorkSpace.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/Installation/index.ts
  src/apps/PowerBI/BusinessCaseReport.tsx
  src/apps/PowerBI/MDRReport.tsx
  src/apps/PowerBI/NonConformityReport.tsx
  src/apps/PowerBI/QualityDeviationReport.tsx
  src/apps/apps.ts
  src/components/Routes/Routes.tsx
  src/modules/powerBI/src/Api/fusionApi.ts
  src/modules/powerBI/src/Components/Filter/PowerBIFilter.tsx
  src/modules/powerBI/src/Components/PageNavigation.tsx
  src/modules/powerBI/src/Components/ReportErrorMessage/ReportErrorMessage.tsx
  src/modules/powerBI/src/Components/ReportErrorMessage/ReportErrorMessageStyles.ts
  src/modules/powerBI/src/Components/index.ts
  src/modules/powerBI/src/Hooks/useActivePage.ts
  src/modules/powerBI/src/Hooks/useErrorMessage.ts
  src/modules/powerBI/src/Hooks/useGetPages.ts
  src/modules/powerBI/src/PowerBI.tsx
  src/modules/powerBI/src/Types/filter.ts
  src/modules/powerBI/src/Types/index.ts
  src/modules/powerBI/src/Utils/error.ts
  src/modules/powerBI/src/api.ts
  src/modules/powerBI/src/index.ts
  src/packages/Components/Icon/AppSquareIcon.tsx
  src/packages/Components/Icon/ClickableIcon.tsx
  src/packages/Components/Icon/Icon.tsx
  src/packages/Components/Icon/index.ts
  src/packages/Components/MarkdownViewer/MarkdownViewer.tsx
  src/packages/Components/MarkdownViewer/MarkdownViewerStyles.ts
  src/packages/Components/index.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: dependencies, Components, Portal, Apps, Core, Packages, WorkSpace, Client, PageViewer

#307 Feat/swcr analytics view
  src/apps/Construction/Utils/weekDiff.ts
  src/apps/swcr/CustomViews/Graph.tsx
  src/apps/swcr/CustomViews/__tests__/createSeries.test.ts
  src/apps/swcr/CustomViews/__tests__/createSeries2.test.ts
  src/apps/swcr/CustomViews/__tests__/datetime.test.ts
  src/apps/swcr/CustomViews/createSeries.ts
  src/apps/swcr/CustomViews/graphUtils.ts
  src/apps/swcr/index.ts
  src/apps/swcr/utilities/getStatusBarData.ts
  src/apps/swcr/utilities/tableSetup.ts
Labels: Apps

#308 fix/add installation to prod and fix is prod links
  package-lock.json
  src/Core/Client/Types/AppManifest.ts
  src/apps/apps.ts
  src/components/Menu/Components/MenuItem/MenuItem.tsx
Labels: Components, Portal, Apps, Core, Client

#313 [Menu] App names and work prep
  src/apps/apps.ts
  src/apps/workPreparation/index.ts
Labels: Apps

#312 [Scope-change] Workflow status table
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeBaseForm.tsx
  src/apps/ScopeChangeRequest/Types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/WorkspaceConfig/Table/tableConfig.tsx
Labels: Apps

#311 [Scope-change] fix loading spinner sidesheet
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RelatedObjects.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RelatedObjects/Area/Area.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RelatedObjects/CommPkg/CommPkg.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RelatedObjects/Discipline/Discipline.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RelatedObjects/Systems/System.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RelatedObjects/Tags/Tag.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Double.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/Single.tsx
  src/apps/ScopeChangeRequest/Hooks/React-Query/useIsReferencesLoading.ts
  src/apps/ScopeChangeRequest/Hooks/useEagerLoadingReferences.ts
  src/apps/ScopeChangeRequest/Types/scopeChangeRequest.ts
Labels: Apps

#314 updated changelog, add scopechange to prod
  Changelog.md
  src/apps/apps.ts
Labels: Apps

#315 [Scope-change] Fixes/pixels
  src/apps/ScopeChangeRequest/Components/DetailView/Components/RequestDetailView/RequestDetailViewStyles.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaDetail.tsx
Labels: Apps

#320 [Hot-fix] fix STID document lookup failing
  src/apps/ScopeChangeRequest/Api/STID/getDocumentById.ts
Labels: Apps

#318 [Table] fix right align numbers table
  src/packages/Table/Components/Table.tsx
Labels: Packages

#321 Default tab on load workspace
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/Core/WorkSpace/src/WorkSpaceApi/useWorkSpace.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
Labels: Core, WorkSpace

#322 getAreaByCode failing
  src/apps/ScopeChangeRequest/Api/PCS/getAreaByCode.ts
Labels: Apps
