Repository equinor/lighthouse-client, pull requests merged in 2022-09, with the labels that each got.

#978 Search for and use person in workflow step edit
  src/apps/ReleaseControl/__tests__/releaseControl.test.ts
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowCustomEditor.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/workflow.styles.ts
  src/apps/ReleaseControl/components/Workflow/ReassignBar/ReassignBar.tsx
  src/apps/ScopeChangeRequest/Components/PersonRoleSearch/PCSPersonRoleSearch.tsx
Labels: Apps

#980 Improved tag/htCable search performance by using 2 api calls
  src/apps/ReleaseControl/components/Form/Inputs/Scope/ScopeSelect.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchHtCables.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchTags.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/search.styles.ts
  src/apps/ScopeChangeRequest/api/FAM/searchHtCableTagNo.ts
  src/apps/ScopeChangeRequest/api/FAM/searchTagNo.ts
  src/apps/ScopeChangeRequest/hooks/Search/useFAMSearch.ts
  src/apps/ScopeChangeRequest/hooks/Search/useReferencesSearch.ts
Labels: Apps

#983 [SCR] - Feat: scope change export to excel
  src/Core/WorkSpace/src/Tabs/ListTab/ListTabPopover.tsx
  src/Core/WorkSpace/src/Tabs/ListTab/listTab.styles.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/excelExport.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
  src/packages/Table/Components/ColumnPicker/ColumnPicker.tsx
  src/packages/Table/Components/ColumnPicker/index.ts
  src/packages/Table/Components/ExportToExcel/ExportToExcel.tsx
  src/packages/Table/Components/ExportToExcel/exportToExcel.styles.ts
  src/packages/Table/Components/ExportToExcel/index.ts
  src/packages/Table/Components/Table.tsx
  src/packages/Table/Types/tableApi.ts
  src/packages/Table/Types/types.ts
  src/packages/Table/index.ts
  src/packages/Utils/downloadToDrive.ts
  src/packages/Utils/index.ts
Labels: Apps, Core, Packages, WorkSpace

#984 [Table tab] - chore: update settings popover
  src/Core/WorkSpace/src/Components/DataViewerHeader/ViewSettings/ViewSettings.tsx
  src/Core/WorkSpace/src/Tabs/ListTab/listTab.styles.ts
  src/packages/Table/Components/ColumnPicker/ColumnPicker.tsx
Labels: Core, Packages, WorkSpace

#986 Validation bugfix for NotApplicable
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginSourceSelect/OriginSourceSelect.tsx
Labels: Apps

#988 [Menu] - fix: match match to find active app
  src/components/Menu/Components/MenuItem/MenuItem.tsx
Labels: Components, Portal

#985 Added Preservation analytics
  src/apps/Preservation/index.ts
  src/apps/apps.ts
Labels: Apps

#990 Release control loading spinner chip on fetching/mutating
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlSidesheetBanner.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/sidesheetStyles.ts
  src/apps/ReleaseControl/hooks/index.ts
  src/apps/ReleaseControl/hooks/useIsReleaseControlMutatingOrFetching.ts
  src/apps/ReleaseControl/queries/queries.ts
  src/apps/ReleaseControl/queries/releaseControlMutationKeys.ts
Labels: Apps

#991 Changelog version 1.9.0
  Changelog.md
  package.json
Labels: dependencies

#994 [Apps] - chore: update to type instead of interface
  src/apps/Commissioning/index.tsx
  src/apps/Construction/Components/CriticalWoTable/CriticalWoTable.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/Line.tsx
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/swcr/models/SwcrPackage.ts
Labels: Apps

#996 [Core] - chore/update core types
  src/Core/Assignments/Types/assignment.ts
  src/Core/Client/Service/ClientBuilder.ts
  src/Core/Client/Types/App.ts
  src/Core/Client/Types/AppConfig.ts
  src/Core/Client/Types/AppGroupe.ts
  src/Core/Client/Types/AppManifest.ts
  src/Core/Client/Types/ClientRegistry.ts
  src/Core/Dashboard/Api/dashboardApi.ts
  src/Core/Dashboard/Api/dashboardState.ts
  src/Core/Dashboard/Components/DashboardView/Dashboard.tsx
  src/Core/Dashboard/Components/Header/Header.tsx
  src/Core/Dashboard/Components/Pages/Pages.tsx
  src/Core/Dashboard/Context/DataProvider.tsx
  src/Core/Dashboard/Hooks/useDashboard.ts
  src/Core/Dashboard/Types/State.ts
  src/Core/PageViewer/Api/pageViewerApi.ts
Labels: Portal, Core, Client, PageViewer

#998 Added keyboard shortcuts and autofocus for signing modal
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/SignWithComment/SignWithCommentModal.tsx
Labels: Apps

#999 [Table]- fix: no automatic retries for excel export
  src/packages/Table/Components/ExportToExcel/ExportToExcel.tsx
Labels: Packages

#1002 Added spools analytics
  src/apps/Spools/index.ts
  src/apps/apps.ts
Labels: Apps

#1001 Fix for workflow step responsible field not working properly
  src/apps/ReleaseControl/__tests__/releaseControl.test.ts
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
Labels: Apps

#1003 [Release] - Changelog v.1.10.0
  Changelog.md
  package.json
Labels: dependencies

#1005 chore: Upgrade deps
  package.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: dependencies

#995 chore: update signalr dep
  package.json
  yarn.lock
Labels: dependencies

#1008 chore: upgrade dexie
  package.json
  yarn.lock
Labels: dependencies

#1010 [Workorder]- chore: unit test for subtitle header
  src/apps/WorkOrder/Mock/groupedWorkorder.ts
  src/apps/WorkOrder/__tests__/getSubtitleHeader.test.ts
Labels: Apps

#1012 [DRC] - Refactor folder structure/Circular deps
  src/apps/DisciplineReleaseControl/Components/3D/3dView.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroView.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenGroupView.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenItem.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlHTSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheetBanner.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowDot.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlWidgets.ts
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Garden/gardenConfig.tsx
  src/apps/DisciplineReleaseControl/__tests__/gardenFunctions.test.ts
  src/apps/DisciplineReleaseControl/__tests__/pipetestStatusHelpers.test.ts
  src/apps/DisciplineReleaseControl/__tests__/tableHelpers.test.ts
  src/apps/DisciplineReleaseControl/utils/api/getEleNetworks.ts
  src/apps/DisciplineReleaseControl/utils/api/getPipetests.ts
  src/apps/DisciplineReleaseControl/utils/config/Datasource/index.ts
  src/apps/DisciplineReleaseControl/utils/config/Datasource/responseAsync.ts
  src/apps/DisciplineReleaseControl/utils/config/Datasource/responseParser.ts
  src/apps/DisciplineReleaseControl/utils/config/Filter/filterConfig.tsx
  src/apps/DisciplineReleaseControl/utils/config/Garden/gardenConfig.tsx
  src/apps/DisciplineReleaseControl/utils/config/Presets/presetConfig.ts
  src/apps/DisciplineReleaseControl/utils/config/StatusBar/statusBarConfig.ts
  src/apps/DisciplineReleaseControl/utils/config/Table/tableConfig.tsx
  src/apps/DisciplineReleaseControl/utils/config/index.ts
  src/apps/DisciplineReleaseControl/utils/helpers/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/utils/helpers/statusHelpers.ts
  src/apps/DisciplineReleaseControl/utils/helpers/tableHelpers.ts
  src/apps/DisciplineReleaseControl/utils/helpers/throwError.ts
Labels: Apps

#1016 [Workorder] - fix: change date in mockdata to be today
  src/apps/WorkOrder/Mock/groupedWorkorder.ts
Labels: Apps

#1018 [Apps]- chore: remove unused code
  src/apps/Commissioning/index.tsx
  src/apps/Construction/Components/ConstructionVisual/Components/Graph.tsx
  src/apps/Construction/Components/ConstructionVisual/Components/Legend/Legend.tsx
  src/apps/Construction/Components/ConstructionVisual/Components/Legend/index.ts
  src/apps/Construction/Components/ConstructionVisual/Components/Legend/styles.tsx
  src/apps/Construction/Components/ConstructionVisual/Components/index.ts
  src/apps/Construction/Components/ConstructionVisual/ConstructionVisual.tsx
  src/apps/Construction/Components/ConstructionVisual/Readme.md
  src/apps/Construction/Components/ConstructionVisual/Styles/Styles.ts
  src/apps/Construction/Components/ConstructionVisual/Types/constructionVisualOptions.ts
  src/apps/Construction/Components/ConstructionVisual/Types/index.ts
  src/apps/Construction/Components/ConstructionVisual/Types/series.ts
  src/apps/Construction/Components/ConstructionVisual/Utils/colorGenerator.ts
  src/apps/Construction/Components/ConstructionVisual/Utils/config.ts
  src/apps/Construction/Components/ConstructionVisual/Utils/cutoffUtils.ts
  src/apps/Construction/Components/ConstructionVisual/Utils/htmlLegendPlugin.tsx
  src/apps/Construction/Components/ConstructionVisual/Utils/index.ts
  src/apps/Construction/Components/ConstructionVisual/index.ts
  src/apps/Construction/Components/ConstructionVisual/theme.ts
  src/apps/Construction/Components/CriticalWoTable/CriticalWoTable.tsx
  src/apps/Construction/Components/CriticalWoTable/components/WoNumbers.tsx
  src/apps/Construction/Components/CriticalWoTable/index.ts
  src/apps/Construction/Components/CriticalWoTable/types/index.ts
  src/apps/Construction/Components/CriticalWoTable/utils/index.ts
  src/apps/Construction/Components/DetailsPage/components/footers/SumColumnFooter.tsx
  src/apps/Construction/Components/DetailsPage/components/footers/SumColumnFooterCount.tsx
  src/apps/Construction/Components/DetailsPage/components/footers/SumColumnFooterCountTotal.tsx
  src/apps/Construction/Components/DetailsPage/components/footers/SumColumnFooterSum.tsx
  src/apps/Construction/Components/DetailsPage/components/footers/index.ts
  src/apps/Construction/Components/DetailsPage/components/index.ts
  src/apps/Construction/Components/DetailsPage/index.ts
  src/apps/Construction/Components/DetailsPage/tableConfig.tsx
  src/apps/Construction/Components/DetailsPage/types.ts
  src/apps/Construction/Components/DetailsPage/utils.tsx
  src/apps/Construction/Components/SidesheetContent.tsx
  src/apps/Construction/Components/index.ts
  src/apps/Construction/Types/index.ts
  src/apps/Construction/Types/workOrder.ts
  src/apps/Construction/Utils/formatNumber.ts
  src/apps/Construction/Utils/index.ts
  src/apps/Construction/Utils/weekDiff.ts
  src/apps/Construction/index.tsx
  src/apps/mockData/status.ts
Labels: Apps

#1017 [HT] - fix: remove slash prefix in url
  src/apps/DisciplineReleaseControl/utils/api/getEleNetworks.ts
Labels: Apps

#1019 [Components] - chore: remove unused code
  src/components/Analytics/index.ts
  src/components/AppIcon/AppIcon.tsx
  src/components/PlantSelector/PalantSelector.tsx
  src/components/PlantSelector/usePlantSelector.ts
  src/components/SplitView/SplitView.tsx
Labels: Components

#1006 [ServiceMessage] - Feat: delete service message
  src/components/Messages/Service/Components/ServiceMessagePost.tsx
Labels: Components

#1022 Scope change references for RC + sidesheet fix
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/api/releaseControl/Request/findScopeChangeRequest.ts
  src/apps/ReleaseControl/components/Form/Inputs/References/References.tsx
  src/apps/ReleaseControl/components/RelatedObjects/ReferencesList.tsx
  src/apps/ReleaseControl/components/RelatedObjects/ScopeChangeRequestReferenceItem.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlDetailView.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlRequestEditForm.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlSidesheet.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/ScopeTab.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/sidesheetStyles.ts
  src/apps/ReleaseControl/hooks/useUnpackReferences.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ReleaseControl/workspaceConfig/table/tableConfig.tsx
  src/apps/ScopeChangeRequest/hooks/Search/useReferencesSearch.ts
Labels: Apps

#1023 [SCR] - Feat/scope change work orders
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/workspaceConfig/dataOptions.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/Comments.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/MakeDateCell.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/MhrsCells/GuessMhrs.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/MhrsCells/WOEstMhrs.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/MhrsCells/WOExpMhrs.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/MhrsCells/WORemMhrs.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/MhrsCells/index.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/PendingContributions.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/StateCell.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/cells.styles.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/Cells/index.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#1024 [Release] - Changelog v. 1.11.0
  Changelog.md
  package.json
Labels: dependencies

#1031 Filter out duplicate workorders
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTable.tsx
Labels: Apps

#1029 Workorder table sorting (alphabetically)
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTab.tsx
Labels: Apps

#1030 Checklist table sorting
  src/apps/DisciplineReleaseControl/Components/Sidesheet/CheckListTable.tsx
  src/apps/DisciplineReleaseControl/utils/helpers/tableHelpers.ts
Labels: Apps

#1032 New release control fields for table, filters and tags
  src/apps/DisciplineReleaseControl/utils/config/Table/tableConfig.tsx
  src/apps/DisciplineReleaseControl/utils/helpers/tableHelpers.ts
  src/apps/ReleaseControl/Styles/WrapperStyles.ts
  src/apps/ReleaseControl/components/Form/Inputs/Scope/HtCableTable.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
  src/apps/ReleaseControl/workspaceConfig/table/tableConfig.tsx
  src/apps/ScopeChangeRequest/api/FAM/searchHtCable.ts
  src/apps/ScopeChangeRequest/api/FAM/searchTag.ts
  src/packages/Table/Utils/generateCommaSeperatedStringArrayColumn.ts
  src/packages/Table/index.ts
Labels: Apps, Packages

#1035 Reusable circuit diagram component added to release control
  jest.config.ts
  src/apps/DisciplineReleaseControl/Components/3D/3dView.tsx
  src/apps/DisciplineReleaseControl/Components/3D/Helpers/index.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/CheckListStatusCell.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/CheckListTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/InsulationStatusTableCell.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlHTSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Mock/mockData.ts
  src/apps/ReleaseControl/__tests__/releaseControl.test.ts
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlDetailView.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/CircuitDiagramTab.tsx
  src/packages/CircuitDiagram/Utils/circuitDiagramHelpers.ts
  src/packages/CircuitDiagram/index.ts
  src/packages/CircuitDiagram/src/Api/getEleNetworks.ts
  src/packages/CircuitDiagram/src/CircuitDiagram.tsx
  src/packages/CircuitDiagram/src/Components/Cable.tsx
  src/packages/CircuitDiagram/src/Components/CableSpiralLeft.tsx
  src/packages/CircuitDiagram/src/Components/CableSpiralRight.tsx
  src/packages/CircuitDiagram/src/Components/CircuitAndStarter.tsx
  src/packages/CircuitDiagram/src/Components/CircuitNode.tsx
  src/packages/CircuitDiagram/src/Components/HeatTracingCable.tsx
  src/packages/CircuitDiagram/src/Components/JunctionBox.tsx
  src/packages/CircuitDiagram/src/Components/Line.tsx
  src/packages/CircuitDiagram/src/Components/NoCircuitDiagramFound.tsx
  src/packages/CircuitDiagram/src/Components/SpaceHeater.tsx
  src/packages/CircuitDiagram/src/Components/StatusCircle.tsx
  src/packages/CircuitDiagram/src/Components/TestDot.tsx
  src/packages/CircuitDiagram/src/Mock/circuitMockData.ts
  src/packages/CircuitDiagram/src/__tests__/circuitDiagramHelpers.test.ts
  src/packages/CircuitDiagram/src/index.ts
  src/packages/CircuitDiagram/src/types/eleNetwork.ts
  src/packages/CircuitDiagram/src/types/pipetestTypes.ts
  src/packages/CircuitDiagram/styles/styles.ts
  tsconfig.json
  vite.config.ts
Labels: Apps, Packages

#1036 Changelog init
  Changelog.md
  package.json
Labels: dependencies

#1037 Release 1.12.0
  .eslintrc.json
  Changelog.md
  jest.config.ts
  package.json
  src/apps/DisciplineReleaseControl/Components/3D/3dView.tsx
  src/apps/DisciplineReleaseControl/Components/3D/Helpers/index.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/CheckListStatusCell.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/CheckListTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/InsulationStatusTableCell.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlHTSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTab.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTable.tsx
  src/apps/DisciplineReleaseControl/Mock/mockData.ts
  src/apps/DisciplineReleaseControl/utils/config/Table/tableConfig.tsx
  src/apps/DisciplineReleaseControl/utils/helpers/tableHelpers.ts
  src/apps/ReleaseControl/Styles/WrapperStyles.ts
  src/apps/ReleaseControl/__tests__/releaseControl.test.ts
  src/apps/ReleaseControl/components/Form/Inputs/Scope/HtCableTable.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlDetailView.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/CircuitDiagramTab.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
  src/apps/ReleaseControl/workspaceConfig/table/tableConfig.tsx
  src/apps/ScopeChangeRequest/api/FAM/searchHtCable.ts
  src/apps/ScopeChangeRequest/api/FAM/searchTag.ts
  src/modules/powerBI/src/Api/fusionApi.ts
  src/modules/powerBI/src/Hooks/usePowerBI.ts
  src/modules/powerBI/src/PowerBI.tsx
  src/modules/powerBI/src/Types/access.ts
  src/modules/powerBI/src/Utils/access-token.ts
  src/modules/powerBI/src/Utils/updateAccessToken.ts
  src/packages/CircuitDiagram/Utils/circuitDiagramHelpers.ts
  src/packages/CircuitDiagram/index.ts
  src/packages/CircuitDiagram/src/Api/getEleNetworks.ts
  src/packages/CircuitDiagram/src/CircuitDiagram.tsx
  src/packages/CircuitDiagram/src/Components/Cable.tsx
  src/packages/CircuitDiagram/src/Components/CableSpiralLeft.tsx
  src/packages/CircuitDiagram/src/Components/CableSpiralRight.tsx
  src/packages/CircuitDiagram/src/Components/CircuitAndStarter.tsx
  src/packages/CircuitDiagram/src/Components/CircuitNode.tsx
  src/packages/CircuitDiagram/src/Components/HeatTracingCable.tsx
  src/packages/CircuitDiagram/src/Components/JunctionBox.tsx
  src/packages/CircuitDiagram/src/Components/Line.tsx
  src/packages/CircuitDiagram/src/Components/NoCircuitDiagramFound.tsx
  src/packages/CircuitDiagram/src/Components/SpaceHeater.tsx
  src/packages/CircuitDiagram/src/Components/StatusCircle.tsx
  src/packages/CircuitDiagram/src/Components/TestDot.tsx
  src/packages/CircuitDiagram/src/Mock/circuitMockData.ts
  src/packages/CircuitDiagram/src/__tests__/circuitDiagramHelpers.test.ts
  src/packages/CircuitDiagram/src/index.ts
  src/packages/CircuitDiagram/src/types/eleNetwork.ts
  src/packages/CircuitDiagram/src/types/pipetestTypes.ts
  src/packages/CircuitDiagram/styles/styles.ts
  src/packages/Table/Utils/generateCommaSeperatedStringArrayColumn.ts
  src/packages/Table/index.ts
  tsconfig.json
  vite.config.ts
Labels: dependencies, Apps, Packages

#1038 System filter bugfix
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
Labels: Apps

#1039 Better 3D-model error message when no access
  src/packages/ModelViewer/utils/getCurrentContextModel.ts
Labels: Packages

#1041 Search and select multiple tags/htCables for scope at the same time
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchHtCables.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchTags.tsx
  src/apps/ScopeChangeRequest/api/FAM/searchHtCable.ts
  src/apps/ScopeChangeRequest/api/FAM/searchTag.ts
  src/apps/ScopeChangeRequest/hooks/Search/useFAMSearch.ts
Labels: Apps

#1042 Changelog version 1.13.0
  Changelog.md
  package.json
Labels: dependencies

#1043 Release version 1.13.0
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchHtCables.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchTags.tsx
  src/apps/ReleaseControl/components/Form/releaseControlProcessForm.styles.ts
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/EditTabs/EditScopeTab.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/EditTabs/EditWorkflowTab.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/HistoryTab.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/ScopeTab.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/WorkflowTab.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/sidesheetStyles.ts
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
  src/apps/ScopeChangeRequest/api/FAM/searchHtCable.ts
  src/apps/ScopeChangeRequest/api/FAM/searchTag.ts
  src/apps/ScopeChangeRequest/hooks/Search/useFAMSearch.ts
  src/packages/CircuitDiagram/src/CircuitDiagram.tsx
  src/packages/CircuitDiagram/styles/styles.ts
  src/packages/ModelViewer/utils/getCurrentContextModel.ts
Labels: dependencies, Apps, Packages

#1044 Changelog version 1.14.0
  Changelog.md
  package.json
  src/apps/apps.ts
Labels: dependencies, Apps

#1045 Release version 1.14.0
  Changelog.md
  package.json
  src/apps/apps.ts
Labels: dependencies, Apps

#1047 Improved status bar KPIs for piping&ht
  src/apps/DisciplineReleaseControl/utils/config/StatusBar/statusBarConfig.ts
Labels: Apps

#1046 Added release control analytics
  src/apps/ReleaseControl/ReleaseControlApp.tsx
Labels: Apps

#1049 Improved P&HT sidesheet css and scrollbars
  src/apps/DisciplineReleaseControl/Components/Sidesheet/CheckListTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/InsulationTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlHTSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheetBanner.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/SidesheetTabs.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTab.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/sidesheetStyles.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/workOrderTab.styles.ts
  src/apps/DisciplineReleaseControl/Styles/SidesheetWrapper.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/sidesheetStyles.ts
Labels: Apps

#1050 Changelog version 1.15.0
  Changelog.md
  package.json
Labels: dependencies

#1051 Release version 1.15.0
  Changelog.md
  package.json
  src/apps/DisciplineReleaseControl/Components/Sidesheet/CheckListTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/InsulationTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlHTSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheetBanner.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/SidesheetTabs.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTab.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/sidesheetStyles.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/workOrderTab.styles.ts
  src/apps/DisciplineReleaseControl/Styles/SidesheetWrapper.tsx
  src/apps/DisciplineReleaseControl/utils/config/StatusBar/statusBarConfig.ts
  src/apps/ReleaseControl/ReleaseControlApp.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/sidesheetStyles.ts
  src/apps/ReleaseControl/workspaceConfig/statusBar/statusBarConfig.ts
Labels: dependencies, Apps
