Repository equinor/lighthouse-client, pull requests merged in 2022-05, with the labels that each got.

#494 [Scope change] Add abort signals to all queries
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/Workflow/Step/Criteria/canReassign.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/Workflow/Step/Criteria/canSign.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/Workflow/Step/Criteria/canUnsign.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/Workflow/Step/canManageContributors.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/canVoid.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/requestAccess.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/getHistory.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/getScopeChange.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/getCategories.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/getPhases.ts
  src/apps/ScopeChangeRequest/keys/queries.ts
Labels: Apps

#498 [Portal]- Persisting menu state
  src/components/Menu/Components/Favourites/Favourites.tsx
  src/components/Menu/Context/MenuContext.tsx
Labels: Components, Portal

#496 [Scope change] Convert to atom context
  src/apps/ScopeChangeRequest/Atoms/scopeChangeAtom.ts
  src/apps/ScopeChangeRequest/Components/Attachments/HotUpload.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetBanner/SidesheetBanner.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Log/LogTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Log/LogTabTitle.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTabTitle.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/Workflow.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/Components/Contributors.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/AddContributor.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria/WorkflowCriteria.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Step/Components/WorkflowStep.tsx
  src/apps/ScopeChangeRequest/context/scopeChangeAccessContext.ts
  src/apps/ScopeChangeRequest/context/useScopeChangeAccessContext.ts
  src/apps/ScopeChangeRequest/hooks/React-Query/useIsWorkflowLoading.ts
  src/apps/ScopeChangeRequest/hooks/context/useScopeChangeContext.ts
  src/apps/ScopeChangeRequest/hooks/mutations/useWorkflowSigning.tsx
Labels: Apps

#500 [Portal] - Release Fusion PBI reports to prod
  src/apps/apps.ts
Labels: Apps

#499 [Scope change] Data creator title
  src/apps/ScopeChangeRequest/workspaceConfig/dataCreatorConfig.ts
Labels: Apps

#495 [Scope change] Extract re-usable hooks
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/StidDocument.tsx
  src/apps/ScopeChangeRequest/Components/Inputs/Origins/SelectSWCR.tsx
  src/apps/ScopeChangeRequest/Components/Inputs/SearchableSingleSelect.tsx
  src/apps/ScopeChangeRequest/Components/PersonRoleSearch/PCSPersonRoleSearch.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/hooks/React-Query/useEagerLoading.ts
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
  src/hooks/QueryCache/useQueryCacheLookup.ts
  src/hooks/cancellationToken/useCancellationToken.ts
  src/hooks/edsTabs/useEdsTabs.ts
  src/hooks/index.ts
  src/hooks/useInfiniteCachedQuery.ts
  tsconfig.json
  vite.config.ts
Labels: Apps

#503 [Scope change] Fix atom context
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/hooks/context/useScopeChangeContext.ts
Labels: Apps

#501 Release Castberg Project Portal v1.1.0
  Changelog.md
  package.json
  src/apps/ScopeChangeRequest/Atoms/scopeChangeAtom.ts
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/StidDocument.tsx
  src/apps/ScopeChangeRequest/Components/Attachments/HotUpload.tsx
  src/apps/ScopeChangeRequest/Components/Inputs/Origins/SelectSWCR.tsx
  src/apps/ScopeChangeRequest/Components/Inputs/SearchableSingleSelect.tsx
  src/apps/ScopeChangeRequest/Components/PersonRoleSearch/PCSPersonRoleSearch.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetBanner/SidesheetBanner.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Log/LogTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Log/LogTabTitle.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTabTitle.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/Workflow.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/Components/Contributors.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/AddContributor.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria/WorkflowCriteria.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Step/Components/WorkflowStep.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/Workflow/Step/Criteria/canReassign.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/Workflow/Step/Criteria/canSign.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/Workflow/Step/Criteria/canUnsign.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/Workflow/Step/canManageContributors.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/canVoid.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/requestAccess.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/getHistory.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/getScopeChange.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/getCategories.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/getPhases.ts
  src/apps/ScopeChangeRequest/context/scopeChangeAccessContext.ts
  src/apps/ScopeChangeRequest/context/useScopeChangeAccessContext.ts
  src/apps/ScopeChangeRequest/hooks/React-Query/useEagerLoading.ts
  src/apps/ScopeChangeRequest/hooks/React-Query/useIsWorkflowLoading.ts
  src/apps/ScopeChangeRequest/hooks/context/useScopeChangeContext.ts
  src/apps/ScopeChangeRequest/hooks/mutations/useWorkflowSigning.tsx
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
  src/apps/ScopeChangeRequest/keys/queries.ts
  src/apps/ScopeChangeRequest/workspaceConfig/dataCreatorConfig.ts
  src/apps/apps.ts
  src/components/Menu/Components/Favourites/Favourites.tsx
  src/components/Menu/Context/MenuContext.tsx
  src/hooks/QueryCache/useQueryCacheLookup.ts
  src/hooks/cancellationToken/useCancellationToken.ts
  src/hooks/edsTabs/useEdsTabs.ts
  src/hooks/index.ts
  src/hooks/useInfiniteCachedQuery.ts
  tsconfig.json
  vite.config.ts
Labels: dependencies, release, Components, Portal, Apps

#505 [Scope change] Refactor sidesheet wrapper
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/hooks/queries/useGetScopeChangeRequest.ts
  src/apps/ScopeChangeRequest/hooks/queries/useScopeChangeAccess.ts
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
Labels: Apps

#506 [Scope change] Link to origin in banner
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetBanner/SidesheetBanner.tsx
Labels: Apps

#507 [Assignments] Fix assignments date sort
  src/Core/Assignments/Hooks/useAssignments.ts
Labels: Core

#508 [Scope change] Fix menu ref not updating
  src/apps/ScopeChangeRequest/Components/MenuButton/Components/IconMenu.tsx
  src/apps/ScopeChangeRequest/Components/MenuButton/Components/MenuButton.tsx
Labels: Apps

#510 [Scope change] Small visual fixes
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/index.ts
  src/apps/ScopeChangeRequest/Components/DetailView/References.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Tags/Tag.tsx
  src/apps/ScopeChangeRequest/Components/StidDocument/StidDocument.tsx
  src/apps/ScopeChangeRequest/Components/StidDocument/stidDocument.styles.ts
  src/apps/ScopeChangeRequest/api/Search/PCS/searchTags.ts
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
Labels: Apps

#511 [Scope change] Prepare for fam migration
  src/apps/ScopeChangeRequest/functions/FAM/generateFAMRequest.ts
  src/apps/ScopeChangeRequest/types/FAM/famQuery.ts
Labels: Apps

#509 [Scope change] Fix workorder link
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
  src/apps/ScopeChangeRequest/api/FAM/getWorkOrderById.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#512 [Scope change] add warning dialog to create
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
Labels: Apps

#514 [Scope change] Lines in workflow
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Atoms/signingAtom.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Components/Workflow.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/WorkflowIcon.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/WorkflowLine.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/Components/Contributors.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/Contributor.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/ContributorActionbar.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/contributor.styles.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/getContributorStatus.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/index.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/AddContributor.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/Criteria.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaActionOverlay.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria/WorkflowCriteria.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria/workflowCriteria.styles.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/criteria.styles.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/index.ts
  src/apps/ScopeChangeRequest/Components/Workflow/ReassignBar/ReassignBar.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Step/Components/WorkflowStep.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Step/index.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Utils/getCriteriaStatus.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Workflow.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/workflowLayout.styles.ts
Labels: Apps

#520 [Release] Add changelog and bump version
  Changelog.md
  package.json
Labels: dependencies

#518 [Assignments] Filter closed assignments
  src/Core/Assignments/Hooks/useAssignments.ts
  src/Core/Assignments/Types/assignment.ts
Labels: Core

#523 [Portal] - bug/menu icon and favorites not according to design
  src/components/Menu/Components/CompactMenu/CompactMenu.tsx
  src/components/Menu/Components/Favourites/FavouritesStyles.ts
  src/components/Menu/Components/GroupeItem/GroupeItem.tsx
  src/components/TopBar/TopBar.tsx
Labels: Components, Portal

#524 [Scope change] WO refactor
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/Utils/generateColumn.ts
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
Labels: Apps

#517 Feature/workorder tab
  src/apps/DisciplineReleaseControl/Api/getWorkOrdersById.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTab.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/workOrderHelpers.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/workOrderTab.styles.ts
  src/apps/DisciplineReleaseControl/Components/WoProgressBars/EstimateBar.tsx
  src/apps/DisciplineReleaseControl/Components/WoProgressBars/ExpendedProgressBar.tsx
  src/apps/DisciplineReleaseControl/Components/WoProgressBars/ProgressBar.tsx
  src/apps/DisciplineReleaseControl/Components/WoProgressBars/ProgressBarContainer.styles.ts
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/Types/workOrder.ts
Labels: Apps

#525 [Scope change] Added guesstimate filter
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
  src/apps/ScopeChangeRequest/workspaceConfig/filter/guesstimate/guesstimate.ts
Labels: Apps

#526 [Scope change] Removed required meta tag
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/advancedSearch.styles.ts
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
Labels: Apps

#527 [Scope change] Garden sort workflow status
  src/apps/ScopeChangeRequest/workspaceConfig/sGarden/gardenConfig.ts
Labels: Apps

#528 [Scope change] Remove discipline from references
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
Labels: Apps

#530 [Workspace] Added reset filter
  src/packages/Filter/Components/FilterView/FilterTypes.tsx
  src/packages/Filter/Components/FilterView/FilterView-style.ts
Labels: Packages

#529 [Scope change] bigger description field
  src/apps/ScopeChangeRequest/Components/Inputs/FormTextField.tsx
Labels: Apps

#327 [MC Garden] - Feature/mc garden setup
  src/Core/WorkSpace/src/index.ts
  src/apps/MechanicalCompletion/components/CustomHeaderView/CustomHeaderView.styles.ts
  src/apps/MechanicalCompletion/components/CustomHeaderView/CustomHeaderView.tsx
  src/apps/MechanicalCompletion/components/CustomItemView/CustomItemView.styles.ts
  src/apps/MechanicalCompletion/components/CustomItemView/CustomItemView.tsx
  src/apps/MechanicalCompletion/components/McCustomGroupByView.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/McSideSheet.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/DetailsTab.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/NcrTab.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/PunchTab.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/WorkordersTab.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/index.ts
  src/apps/MechanicalCompletion/components/McSidesheet/hooks/index.ts
  src/apps/MechanicalCompletion/components/McSidesheet/hooks/useNcr.ts
  src/apps/MechanicalCompletion/components/McSidesheet/hooks/usePunch.ts
  src/apps/MechanicalCompletion/components/McSidesheet/hooks/useWorkorders.ts
  src/apps/MechanicalCompletion/components/McSidesheet/index.ts
  src/apps/MechanicalCompletion/components/McSidesheet/types/index.ts
  src/apps/MechanicalCompletion/components/McSidesheet/types/mcNcr.ts
  src/apps/MechanicalCompletion/components/McSidesheet/types/mcPunchItem.ts
  src/apps/MechanicalCompletion/components/McSidesheet/types/mcWorkOrder.ts
  src/apps/MechanicalCompletion/components/index.ts
  src/apps/MechanicalCompletion/index.ts
  src/apps/MechanicalCompletion/types/commissioningStatus.ts
  src/apps/MechanicalCompletion/types/customGroupByKeys.ts
  src/apps/MechanicalCompletion/types/index.ts
  src/apps/MechanicalCompletion/types/mcPackage.ts
  src/apps/MechanicalCompletion/types/mcStatus.ts
  src/apps/MechanicalCompletion/types/tagSize.ts
  src/apps/MechanicalCompletion/utils/config/commStatusOrder.ts
  src/apps/MechanicalCompletion/utils/config/filterConfig.tsx
  src/apps/MechanicalCompletion/utils/config/gardenSetup.ts
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
  src/apps/MechanicalCompletion/utils/config/theme.ts
  src/apps/MechanicalCompletion/utils/helpers/getAverageTagVolume.ts
  src/apps/MechanicalCompletion/utils/helpers/getGroupByKey.ts
  src/apps/MechanicalCompletion/utils/helpers/getHighlightedColumn.ts
  src/apps/MechanicalCompletion/utils/helpers/getItemContentsColor.ts
  src/apps/MechanicalCompletion/utils/helpers/getItemWidth.ts
  src/apps/MechanicalCompletion/utils/helpers/getStatuses.ts
  src/apps/MechanicalCompletion/utils/helpers/getTagSize.ts
  src/apps/MechanicalCompletion/utils/helpers/index.ts
  src/apps/MechanicalCompletion/utils/helpers/sortPackages.ts
  src/apps/apps.ts
  src/components/ParkView/Components/VirtualGarden/Container.tsx
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/HeaderContainer.tsx
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
  src/components/ParkView/index.ts
  src/packages/GardenUtils/src/dateUtils.ts
  src/packages/GardenUtils/src/hooks/index.ts
  src/packages/GardenUtils/src/hooks/usePackageResource.ts
  src/packages/GardenUtils/src/index.ts
Labels: Components, Apps, Core, Packages, WorkSpace

#522 [Workspace] PoC garden presets
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/Presets/Presets.tsx
  src/Core/WorkSpace/src/Tabs/GardenTab.tsx
  src/Core/WorkSpace/src/Util/gardenBookmarks/gardenApiAtom.ts
  src/Core/WorkSpace/src/Util/gardenBookmarks/gardenStateSnapshotAtom.ts
  src/Core/WorkSpace/src/Util/gardenBookmarks/generateGardenSnapshot.ts
  src/Core/WorkSpace/src/Util/gardenBookmarks/interceptGardenOptions.ts
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/DisciplineReleaseControl/Components/Garden/gardenSetup.ts
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/components/ParkView/Components/Garden.tsx
  src/components/ParkView/Components/GardenView.tsx
  src/components/ParkView/Components/VirtualGarden/Container.tsx
  src/components/ParkView/Models/gardenApi.ts
  src/components/ParkView/hooks/useGardenApi.ts
Labels: Components, Apps, Core, WorkSpace

#531 [Scope change] add DCR field as origin
  src/apps/ScopeChangeRequest/Components/Form/BaseForm/ScopeChangeBaseForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/Origin.tsx
Labels: Apps

#532 [Assignments] No tasks message
  src/Core/Assignments/Components/AssignmentsTab.tsx
Labels: Core

#534 [Scope change] Refactor contributor mutation
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/AddContributor.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Workflow/addContributor.ts
Labels: Apps

#535 [Scope change] Replace DCN with DCR
  src/apps/ScopeChangeRequest/Components/DetailView/OriginLink.tsx
  src/apps/ScopeChangeRequest/Components/Form/BaseForm/ScopeChangeBaseForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/Origin.tsx
  src/apps/ScopeChangeRequest/api/Search/PCS/searchDCN.ts
  src/apps/ScopeChangeRequest/hooks/Search/usePcsSearch.ts
  src/apps/ScopeChangeRequest/types/ProCoSys/ProCoSysTypes.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
Labels: Apps

#536 [Scope change] Refactor punch validation
  src/apps/ScopeChangeRequest/Components/Inputs/Origins/SelectPunch.tsx
  src/apps/ScopeChangeRequest/api/PCS/validatePunch.ts
Labels: Apps

#516 [Portal] - using the fusion context
  src/Core/Client/Functions/Readers.ts
  src/Core/Client/Service/createClient.ts
  src/Core/Client/Service/setupContext.ts
  src/Core/Client/Types/ScopeAndUrls.ts
  src/apps/Handover/index.tsx
  src/apps/WorkOrder/index.tsx
  src/apps/swcr/index.ts
Labels: Portal, Apps, Core, Client

#447 [SideSheet] - sheet update
  src/AppClient.tsx
  src/Core/Assignments/Components/AssignmentsCard.tsx
  src/Core/Assignments/Functions/handleActionClick.ts
  src/Core/Client/Home/clientHome.tsx
  src/Core/Client/Home/clientHomeStyles.ts
  src/Core/Client/Types/App.ts
  src/Core/Notifications/Components/NotificationBell.tsx
  src/Core/Notifications/Components/NotificationCard.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/HeaderStyles.ts
  src/Core/WorkSpace/src/Components/SuspenseSidesheet/SuspenseSidesheet.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceViewStyles.ts
  src/Core/WorkSpace/src/Components/WorkSpace/WorkspaceSidesheet.tsx
  src/Core/WorkSpace/src/Context/LocationProvider.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/apps/Construction/Components/SidesheetContent.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSideSheet.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/McSideSheet.tsx
  src/apps/ScopeChangeRequest/Atoms/scopeChangeAtom.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/hooks/React-Query/useScopechangeMutation.ts
  src/apps/ScopeChangeRequest/hooks/observers/useScopeChangeMutationWatcher.ts
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/WorkOrderSidesheet.tsx
  src/apps/apps.ts
  src/apps/swcr/CustomViews/SwcrSideSheet.tsx
  src/components/ActionCenter/ActionCenterSidesheet.tsx
  src/components/ActionCenter/GroupedAssignments.tsx
  src/components/ActionCenter/handleActionClick.ts
  src/components/Layouts/MainLayout.tsx
  src/components/Layouts/MainLayoutStyles.ts
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
  src/components/Routes/Routes.tsx
  src/packages/Notifications sidesheet/NotificationsSidesheet.tsx
  src/packages/Sidesheet/Components/PopoutSidesheet.tsx
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
  src/packages/Sidesheet/Functions/openSidesheet.ts
  src/packages/Sidesheet/Hooks/useSideSheet.ts
  src/packages/Sidesheet/Types/SidesheetApi.ts
  src/packages/Sidesheet/context/sidesheetContext.ts
  src/packages/Sidesheet/index.ts
Labels: Components, Portal, Apps, Core, Packages, WorkSpace, Client

#533 [Handover & WorkOrder & MC & GardenUtils] - chore: refactor and use react-query for gardens
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/DetailsTab/DetailsTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/McPackagesTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/NcrTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/PunchTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/QueryTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/SwcrTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/UnsignedActionTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/UnsignedTasksTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/WorkOrdersTab.tsx
  src/apps/Handover/Garden/hooks/useHandoverResource.ts
  src/apps/MechanicalCompletion/components/McSidesheet/McSideSheet.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/NcrTab.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/PunchTab.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/WorkordersTab.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/hooks/index.ts
  src/apps/MechanicalCompletion/components/McSidesheet/hooks/useMcResource.ts
  src/apps/MechanicalCompletion/components/McSidesheet/hooks/useNcr.ts
  src/apps/MechanicalCompletion/components/McSidesheet/hooks/usePunch.ts
  src/apps/MechanicalCompletion/components/McSidesheet/hooks/useWorkorders.ts
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/MaterialTab.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/MccrTab.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/useMaterial.ts
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/useMccr.ts
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/usePackageResource.ts
  src/packages/GardenUtils/src/components/sidesheet/TabTable.tsx
  src/packages/GardenUtils/src/hooks/usePackageResource.ts
Labels: Apps, Packages

#537 [Scope change] Refactor queries manifest
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/Utils/resetEditMode.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/Utils/toggleEditMode.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/Utils/updateContext.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Log/LogTab.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/getCategories.ts
  src/apps/ScopeChangeRequest/hooks/queries/useGetScopeChangeRequest.ts
  src/apps/ScopeChangeRequest/keys/queries.ts
Labels: Apps

#513 [Bookmarks Manager & PowerBI] - Feat/bookmarks manager
  src/Core/Client/Types/ScopeAndUrls.ts
  src/Core/PowerBiViewer/src/Api/powerBiViewerApi.ts
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeader.tsx
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/PowerBiViewer/src/Types/State.ts
  src/Core/PowerBiViewer/src/Utils/getReportByPage.ts
  src/Core/PowerBiViewer/src/Utils/index.ts
  src/Core/PowerBiViewer/src/Utils/isDifferentPage.ts
  src/Core/PowerBiViewer/src/Utils/isDifferentReport.ts
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Context/BookmarkContext.tsx
  src/Core/WorkSpace/src/Tabs/PowerBiTab.tsx
  src/modules/powerBI/PowerBI.styles.ts
  src/modules/powerBI/devTools/PBIPopupInfo.tsx
  src/modules/powerBI/src/Api/fusionApi.ts
  src/modules/powerBI/src/Hooks/index.ts
  src/modules/powerBI/src/Hooks/usePowerBI.ts
  src/modules/powerBI/src/PowerBI.tsx
  src/modules/powerBI/src/Types/options.ts
  src/packages/BookmarksManager/README.md
  src/packages/BookmarksManager/index.ts
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkDropdown.styles.ts
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkDropdown.tsx
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkList.tsx
  src/packages/BookmarksManager/src/components/BookmarkDropdown/CreateNewBookmark.tsx
  src/packages/BookmarksManager/src/components/BookmarkDropdown/HeaderButton.tsx
  src/packages/BookmarksManager/src/components/BookmarkDropdown/index.ts
  src/packages/BookmarksManager/src/components/index.ts
  src/packages/BookmarksManager/src/hooks/index.ts
  src/packages/BookmarksManager/src/hooks/useBookmarkEvent.ts
  src/packages/BookmarksManager/src/hooks/useBookmarks.ts
  src/packages/BookmarksManager/src/hooks/useDeleteBookmark.ts
  src/packages/BookmarksManager/src/hooks/useGetBookmarks.ts
  src/packages/BookmarksManager/src/index.ts
  src/packages/BookmarksManager/src/types/bookmarkRequest.ts
  src/packages/BookmarksManager/src/types/bookmarkResponse.ts
  src/packages/BookmarksManager/src/types/index.ts
  src/packages/BookmarksManager/src/types/person.ts
  src/packages/BookmarksManager/src/types/saveAndApplyEventArgs.ts
  src/packages/BookmarksManager/src/types/sourceSystem.ts
  src/packages/BookmarksManager/src/utils/api/applyBookmark.ts
  src/packages/BookmarksManager/src/utils/api/deleteBookmark.ts
  src/packages/BookmarksManager/src/utils/api/getBookmarks.ts
  src/packages/BookmarksManager/src/utils/api/index.ts
  src/packages/BookmarksManager/src/utils/api/saveBookmark.ts
  src/packages/BookmarksManager/src/utils/bookmarkEvents.ts
  src/packages/BookmarksManager/src/utils/customEventActions.ts
  src/packages/BookmarksManager/src/utils/index.ts
  src/packages/Utils/EventHub.ts
  src/packages/Utils/index.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: dependencies, Portal, Core, Packages, WorkSpace, Client

#540 [Scope change] Hide contributors on old steps
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/Criteria.tsx
Labels: Apps

#539 [Scope change] Prepare for wo's
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
Labels: Apps

#545 [Portal] fix failing fusion contexts api call breaking portal load
  src/AppClient.tsx
  src/Core/Client/ClientLoad/ClientFailed.tsx
  src/Core/Client/ClientLoad/ClientLoading.tsx
  src/Core/Client/ClientLoad/client.styles.ts
  src/Core/Client/Service/createClient.ts
  src/Core/Client/Service/setupContext.ts
  src/Core/Client/styleProvider.ts
  src/index.tsx
Labels: Portal, Core, Client

#542 [Refactor] Atom usage
  src/apps/ScopeChangeRequest/Atoms/editModeAtom.ts
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/MenuButton/Components/IconMenu.tsx
  src/apps/ScopeChangeRequest/Components/MenuButton/Components/MenuButton.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/Utils/resetEditMode.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/Utils/toggleEditMode.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/Utils/updateContext.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Atoms/signingAtom.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaActionOverlay.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/ReassignBar/ReassignBar.tsx
  src/apps/ScopeChangeRequest/hooks/context/useScopeChangeContext.ts
  src/apps/ScopeChangeRequest/hooks/queries/useGetScopeChangeRequest.ts
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
Labels: Apps

#544 [Workspace] Fix EDS Chip z-index
  src/Core/WorkSpace/src/Components/Presets/Presets.tsx
Labels: Core, WorkSpace

#543 [Workspace] Clear filter on hide
  src/packages/Filter/Components/FilterView/FilterTypes.tsx
  src/packages/Filter/Components/FilterView/FilterView.tsx
  src/packages/Filter/Hooks/useFilterApi.ts
Labels: Packages

#549 [Changelog] Changelog 1.1.2
  Changelog.md
  package.json
Labels: dependencies

#554 [Fix] Portal login at start
  src/Core/Client/Service/appConfig.ts
  src/Core/Client/Service/createClient.ts
  src/Core/Client/Service/envConfig.ts
  src/index.tsx
  src/packages/authentication/src/useAuthenticate.ts
Labels: Portal, Core, Packages, Client

#553 [PBI] - Fixed context and added new installation report
  src/Core/Client/Service/ClientBuilder.ts
  src/Core/Client/Service/createClient.ts
  src/Core/Client/Service/setupApps.ts
  src/Core/Client/Types/App.ts
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/PowerBiViewer/src/Types/State.ts
  src/apps/Installation/index.ts
  src/apps/PowerBI/BusinessCaseReport.tsx
  src/apps/PowerBI/LCIReport.tsx
  src/apps/PowerBI/SafetyPerformanceReport.tsx
  src/components/Routes/ComponentWrapper.tsx
  src/components/Routes/Routes.tsx
Labels: Components, Portal, Apps, Core, Client

#556 Changelog 1.1.3
  Changelog.md
  package.json
Labels: dependencies

#555 Release Castberg Project Portal v1.1.3
  Changelog.md
  package.json
  src/Core/Client/Service/ClientBuilder.ts
  src/Core/Client/Service/appConfig.ts
  src/Core/Client/Service/createClient.ts
  src/Core/Client/Service/envConfig.ts
  src/Core/Client/Service/setupApps.ts
  src/Core/Client/Types/App.ts
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/PowerBiViewer/src/Types/State.ts
  src/apps/Installation/index.ts
  src/apps/PowerBI/BusinessCaseReport.tsx
  src/apps/PowerBI/LCIReport.tsx
  src/apps/PowerBI/SafetyPerformanceReport.tsx
  src/components/Routes/ComponentWrapper.tsx
  src/components/Routes/Routes.tsx
  src/index.tsx
  src/packages/authentication/src/useAuthenticate.ts
Labels: dependencies, Components, Portal, Apps, Core, Packages, Client

#560 HT sidesheet and garden custom group view for HT
  src/apps/DisciplineReleaseControl/Components/Electro/Components/HeatTracingCable.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/Line.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroNode.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroView.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/electroViewHelpers.ts
  src/apps/DisciplineReleaseControl/Components/Electro/styles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/GardenItemStyles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenGroupView.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenItem.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlHTSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Models/gardenOptions.ts
  src/components/ParkView/index.ts
  src/packages/Filter/index.ts
Labels: Components, Apps, Packages

#561 [App manifest] - chore: change group type to be string
  src/Core/Client/Service/appsProvider.ts
  src/Core/Client/Types/AppManifest.ts
  src/Core/PowerBiViewer/src/Api/powerBiViewerApi.ts
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeader.tsx
  src/Core/PowerBiViewer/src/Types/State.ts
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/apps/apps.ts
  src/components/Routes/Routes.tsx
Labels: Components, Portal, Apps, Core, WorkSpace, Client

#567 [PowerBIViewer] - hotfix: undefined check on group
  src/Core/PowerBiViewer/src/Api/powerBiViewerApi.ts
Labels: Core

#546 [Workspace] - feat: workspace context for bookmarks
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/Presets/Presets.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
  src/Core/WorkSpace/src/Context/BookmarkContext.tsx
  src/Core/WorkSpace/src/Context/ViewProvider.tsx
  src/Core/WorkSpace/src/Tabs/GardenTab.tsx
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/Core/WorkSpace/src/Tabs/PowerBiTab.tsx
  src/Core/WorkSpace/src/Util/bookmarks/gardenBookmarks/gardenApiAtom.ts
  src/Core/WorkSpace/src/Util/bookmarks/gardenBookmarks/gardenStateSnapshotAtom.ts
  src/Core/WorkSpace/src/Util/bookmarks/gardenBookmarks/generateGardenSnapshot.ts
  src/Core/WorkSpace/src/Util/bookmarks/gardenBookmarks/index.ts
  src/Core/WorkSpace/src/Util/bookmarks/gardenBookmarks/interceptGardenOptions.ts
  src/Core/WorkSpace/src/Util/bookmarks/helpers/index.ts
  src/Core/WorkSpace/src/Util/bookmarks/helpers/isWorkspaceBookmark.ts
  src/Core/WorkSpace/src/Util/bookmarks/hooks/index.ts
  src/Core/WorkSpace/src/Util/bookmarks/hooks/useWorkspaceBookmarks.ts
  src/Core/WorkSpace/src/Util/bookmarks/types/gardenPayload.ts
  src/Core/WorkSpace/src/Util/bookmarks/types/index.ts
  src/Core/WorkSpace/src/Util/bookmarks/types/saveAndApply.ts
  src/Core/WorkSpace/src/Util/bookmarks/types/workspaceBookmarkPayload.ts
  src/modules/powerBI/src/PowerBI.tsx
  src/modules/powerBI/src/Types/options.ts
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkList.tsx
  src/packages/BookmarksManager/src/hooks/useBookmarks.ts
  src/packages/BookmarksManager/src/hooks/useGetBookmarks.ts
  src/packages/BookmarksManager/src/index.ts
  src/packages/BookmarksManager/src/types/bookmarkError.ts
  src/packages/BookmarksManager/src/types/index.ts
  src/packages/BookmarksManager/src/types/save.ts
  src/packages/BookmarksManager/src/utils/api/getBookmarks.ts
Labels: Core, Packages, WorkSpace

#550 [Scope change] Create form in sidesheet
  src/apps/ScopeChangeRequest/Components/DataCreator/DataCreatorWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Form/BaseForm/ScopeChangeBaseForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetBanner/SidesheetBanner.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.styles.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/initiateScopeChange.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/getScopes.ts
  src/apps/ScopeChangeRequest/hooks/form/useScopeChangeFormState.ts
  src/apps/ScopeChangeRequest/keys/queries.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/workspaceConfig/dataCreatorConfig.ts
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
  src/packages/Sidesheet/Types/SidesheetApi.ts
Labels: Apps, Packages

#566 Keep insulation warning pinned and not scrollable
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
Labels: Apps

#564 Scrollbars in workorder tab
  src/apps/DisciplineReleaseControl/Components/Sidesheet/workOrderTab.styles.ts
Labels: Apps

#568 [Bookmarks Manager] - fix: check for bookmarks length
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkList.tsx
Labels: Packages

#557 [PowerBiViewer] - chore: move bookmarks icon to left of filter
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeader.tsx
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkDropdown.tsx
Labels: Core, Packages

#541 [Scope change] add is warranty case to form
  src/apps/ScopeChangeRequest/Components/Form/BaseForm/ScopeChangeBaseForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/IsWarrantyCheckbox/IsWarrantyCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetBanner/SidesheetBanner.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/WarrantyCaseDetailCheckbox/WarrantyCaseDetailCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/WarrantyCaseDetailCheckbox/warrantyCaseDetailCheckbox.styles.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
Labels: Apps

#573 [Scope change] Only send valid guesstimates
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
Labels: Apps

#572 [Scope change] Fix styling form
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeForm.styles.ts
Labels: Apps

#571 [Scope change] Add disciplines filter
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
Labels: Apps

#569 [MC Garden] - chore: first version table config
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
  src/packages/Table/Components/Cells/DescriptionCell.tsx
Labels: Apps, Packages

#570 Rewrite datafactory
  src/AppClient.tsx
  src/Core/DataFactory/Components/AddButton.tsx
  src/Core/DataFactory/Components/AddMenu.tsx
  src/Core/DataFactory/Components/AddMenuButton.tsx
  src/Core/DataFactory/Components/FactoryComponent.tsx
  src/Core/DataFactory/Functions/clearActiveFactory.ts
  src/Core/DataFactory/Functions/setActiveFactory.ts
  src/Core/DataFactory/Hooks/useFactories.ts
  src/Core/DataFactory/Hooks/useFactory.ts
  src/Core/DataFactory/Hooks/useSelectFactory.ts
  src/Core/DataFactory/State/dataFactoryState.ts
  src/Core/DataFactory/Types/factory.ts
  src/Core/DataFactory/index.ts
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/apps/DisciplineReleaseControl/Components/Form/ReleaseControlProcessForm.tsx
  src/apps/ScopeChangeRequest/Components/DataCreator/DataCreatorWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/dataCreatorConfig.ts
Labels: Apps, Core, WorkSpace

#574 [Scope change] Add popover to workflow step
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/WorkflowCompact.tsx
Labels: Apps

#562 [Portal] Atom wrapper
  src/Core/Atom/example.md
  src/Core/Atom/functions/createAtom.ts
  src/Core/Atom/index.ts
  src/Core/Atom/types/atom.ts
  tsconfig.json
  vite.config.ts
Labels: Core

#577 [Workspace & Garden] - fix: scroll in garden when filter is open
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceViewStyles.ts
  src/Core/WorkSpace/src/Tabs/GardenTab.tsx
  src/components/ParkView/Components/VirtualGarden/styles/Container.styles.ts
Labels: Components, Core, WorkSpace

#575 [MC Garden] - chore: mc garden filter
  src/apps/MechanicalCompletion/components/StatusFilter/HandoverStatusFilter.tsx
  src/apps/MechanicalCompletion/components/StatusFilter/McStatusFilter.tsx
  src/apps/MechanicalCompletion/components/StatusFilter/StatusFilter.styles.ts
  src/apps/MechanicalCompletion/components/StatusFilter/index.ts
  src/apps/MechanicalCompletion/components/index.ts
  src/apps/MechanicalCompletion/index.ts
  src/apps/MechanicalCompletion/utils/config/filterConfig.tsx
  src/apps/MechanicalCompletion/utils/helpers/index.ts
  src/apps/MechanicalCompletion/utils/helpers/mcStatusPriority.ts
Labels: Apps

#576 [Sidesheet] - widgets and functions
  src/Core/Assignments/Functions/handleActionClick.ts
  src/Core/Client/Service/createClient.ts
  src/Core/Dashboard/Context/DataProvider.tsx
  src/Core/Functions/Api/functionController.ts
  src/Core/Functions/Api/functionStore.ts
  src/Core/Functions/Api/functionsApi.ts
  src/Core/Functions/Types/function.ts
  src/Core/Functions/index.ts
  src/Core/Widgets/Api/widgetApi.ts
  src/Core/Widgets/Api/widgetComponentController.ts
  src/Core/Widgets/Api/widgetManifestController.ts
  src/Core/Widgets/Api/widgetsStore.ts
  src/Core/Widgets/Components/defaultWidget.tsx
  src/Core/Widgets/Readme.md
  src/Core/Widgets/Types/widget.ts
  src/Core/Widgets/index.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ErrorBanner.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/apps/functions.ts
  src/apps/swcr/index.ts
  src/apps/widgets.ts
  src/components/ActionCenter/handleActionClick.ts
  src/components/Menu/Context/MenuContext.tsx
  src/components/Menu/Utils/favorites.ts
  src/components/Messages/Service/Components/ServiceMessagePost.tsx
  src/components/Messages/Service/Hooks/useServiceMessage.ts
  src/packages/BookmarksManager/src/hooks/useBookmarkEvent.ts
  src/packages/BookmarksManager/src/utils/bookmarkEvents.ts
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
  src/packages/Sidesheet/Components/SuspenseSidesheet.tsx
  src/packages/Sidesheet/Functions/closeSidesheet.ts
  src/packages/Sidesheet/Functions/openSidesheet.ts
  src/packages/Sidesheet/Hooks/useInternalSidesheetFunction.tsx
  src/packages/Sidesheet/State/sidesheetState.ts
  src/packages/Sidesheet/Utils/getWidth.ts
  src/packages/Sidesheet/context/sidesheetContext.ts
  src/packages/Sidesheet/index.ts
  src/packages/Utils/Hooks/index.ts
  src/packages/Utils/Hooks/useIsMounted.ts
  src/packages/Utils/index.ts
  tsconfig.json
  vite.config.ts
Labels: Components, Portal, Apps, Core, Packages, Client

#582 [Apps] - chore: change env for Mc Garden to test
  src/apps/apps.ts
Labels: Apps

#585 [Mechanical Completion] - chore: change default group by to rfcc
  src/apps/MechanicalCompletion/utils/config/gardenSetup.ts
Labels: Apps

#583 [Garden] - fix: scroll in normal garden
  src/components/ParkView/Styles/common.ts
Labels: Components

#586 [Workspace] - fix: double bookmarks in pbi in workspace
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
Labels: Core, WorkSpace

#588 [Installation]- new report config
  src/apps/Installation/index.ts
Labels: Apps

#580 [Portal] Household, delete unused
  src/components/Accordion/Group.tsx
  src/components/Accordion/Item.tsx
  src/components/Accordion/Section.tsx
Labels: Components

#589 Step name filter (steps included in pipetest)
  src/apps/DisciplineReleaseControl/Components/Garden/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/Components/Garden/gardenSetup.ts
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
Labels: Apps

#592 [HotFix] -changes installation configuration to one report config
  src/apps/Installation/index.ts
Labels: release, Apps

#590 [Scope change] Rewrite form
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/Attachments/RequestAttachmentsList/RequestAttachmentsList.tsx
  src/apps/ScopeChangeRequest/Components/Attachments/Upload.tsx
  src/apps/ScopeChangeRequest/Components/DataCreator/DataCreatorWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Form/BaseForm/ScopeChangeBaseForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/DisciplineGuesstimate/DisciplineGuesstimate.tsx
  src/apps/ScopeChangeRequest/Components/Form/FormBanner/FormBanner.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/CategorySelect/CategorySelect.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/DescriptionInput/DescriptionInput.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/IsWarrantyCheckbox/IsWarrantyCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginIdPicker/OriginIdPicker.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginIdPicker/SearchOrigin.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginIdPicker/SelectPunch.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginIdPicker/SelectSWCR.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginSourceSelect/OriginSourceSelect.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/PhaseSelect/PhaseSelect.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/ScopeSelect/ScopeSelect.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/TitleInput/TitleInput.tsx
  src/apps/ScopeChangeRequest/Components/Form/IsWarrantyCheckbox/IsWarrantyCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/Form/Origin.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/Inputs/FormTextField.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/initiateScopeChange.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/patchScopeChange.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/postScopeChange.ts
  src/apps/ScopeChangeRequest/hooks/form/useScopeChangeFormState.ts
  src/apps/ScopeChangeRequest/hooks/mutations/useRequestMutations.ts
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
Labels: Apps

#581 [Scope change] Indent checkbox
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
Labels: Apps

#593 Added 'ghost cable' to display junction box correctly if it has no cable
  src/apps/DisciplineReleaseControl/Components/Electro/Components/Cable.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroNode.tsx
  src/apps/DisciplineReleaseControl/Types/eleNetwork.ts
Labels: Apps

#594 [Scope change] Fix clear form state
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/DataCreator/DataCreatorWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/PhaseSelect/PhaseSelect.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/ScopeSelect/ScopeSelect.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
Labels: Apps

#595 [Workspace] - fix: pass bookmark option to pbi
  src/Core/WorkSpace/src/Context/BookmarkContext.tsx
  src/Core/WorkSpace/src/Context/ViewProvider.tsx
  src/Core/WorkSpace/src/Tabs/PowerBiTab.tsx
  src/modules/powerBI/src/Components/Filter/PowerBIFilter.tsx
Labels: Core, WorkSpace

#579 [Changelog] - Release/1.2.0
  Changelog.md
  package.json
Labels: dependencies

#596 [Workspace] - fix: change parameter name to correct attribute for pbi bookmark
  src/Core/WorkSpace/src/Context/ViewProvider.tsx
Labels: Core, WorkSpace

#597 Removed some filters from being default active in piping and heat trace
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
Labels: Apps

#598 Renamed quick grouping/filter buttons in piping and heat trace
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
Labels: Apps

#601 [Discipline release control] Create DRC
  src/apps/DisciplineReleaseControl/Atoms/formAtomApi.ts
  src/apps/DisciplineReleaseControl/Components/Factory/FactoryComponent.tsx
  src/apps/DisciplineReleaseControl/Components/Form/ReleaseControlProcessForm.tsx
  src/apps/DisciplineReleaseControl/Components/Form/releaseControlProcessForm.styles.ts
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/ScopeChangeReferences/ScopeChangeReferences.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
Labels: Apps

#600 [Scope change] Add filters, scope, warranty case
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
Labels: Apps

#608 [Table] - chore: add prefix 0 to weeknumber if less than 10
  src/packages/Table/Components/Cells/YearWeekCell.tsx
Labels: Packages

#607 [Mechanical Completion] - chore: change order of filter and hide area
  src/apps/MechanicalCompletion/utils/config/filterConfig.tsx
Labels: Apps

#605 [Mechanical Completion] - fix: rename from m03 m04
  src/apps/MechanicalCompletion/utils/config/filterConfig.tsx
Labels: Apps

#604 [Mechanical Completion] - chore: changed to forecast and rfcmc
  src/apps/MechanicalCompletion/utils/config/gardenSetup.ts
Labels: Apps

#609 [Mechanical Completion] - chore: rename shipped status to sent
  src/apps/MechanicalCompletion/types/commissioningStatus.ts
  src/apps/MechanicalCompletion/utils/config/commStatusOrder.ts
  src/apps/MechanicalCompletion/utils/config/theme.ts
  src/apps/MechanicalCompletion/utils/helpers/getStatuses.ts
Labels: Apps

#610 [Handover] - chore: initial grouping set to forecast
  src/apps/Handover/index.tsx
Labels: Apps

#603 [Scope change] Fix origin source not showing initial value
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginSourceSelect/OriginSourceSelect.tsx
Labels: Apps

#611 [DRC] Refactor create form
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/Description/Description.tsx
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/PlannedStartDate/PlannedStartDate.tsx
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/References/References.tsx
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/Title/Title.tsx
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/index.ts
  src/apps/DisciplineReleaseControl/Components/Form/ReleaseControlProcessForm.tsx
Labels: Apps

#599 [Scope change] Added materials checkboxes
  src/apps/ScopeChangeRequest/Components/DataCreator/DataCreatorWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/IsWarrantyCheckbox/IsWarrantyCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/MaterialsInput/MaterialsInput.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginIdPicker/OriginIdPicker.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/StyledCheckbox/StyledCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/components/JSXSwitch/Components/Case.tsx
  src/components/JSXSwitch/Components/Switch.tsx
  src/components/JSXSwitch/index.ts
  tsconfig.json
  vite.config.ts
Labels: Components, Apps

#616 [Workspace] Add default collapsed on garden
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Garden/gardenConfig.tsx
  src/components/ParkView/Components/GardenView.tsx
  src/components/ParkView/Components/VirtualGarden/Container.tsx
  src/components/ParkView/Models/gardenOptions.ts
  src/components/ParkView/Utils/groupBy.ts
Labels: Components, Apps

#617 [Changelog] Add to changelog
  Changelog.md
  package.json
Labels: dependencies

#618 Release Castberg Project Portal v1.2.1
  Changelog.md
  package.json
  src/Core/WorkSpace/src/Context/ViewProvider.tsx
  src/apps/DisciplineReleaseControl/Atoms/formAtomApi.ts
  src/apps/DisciplineReleaseControl/Components/Factory/FactoryComponent.tsx
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/Description/Description.tsx
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/PlannedStartDate/PlannedStartDate.tsx
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/References/References.tsx
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/Title/Title.tsx
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/index.ts
  src/apps/DisciplineReleaseControl/Components/Form/ReleaseControlProcessForm.tsx
  src/apps/DisciplineReleaseControl/Components/Form/releaseControlProcessForm.styles.ts
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/WorkspaceConfig/DataCreator/dataCreatorConfig.tsx
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Filter/filterConfig.tsx
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Garden/gardenConfig.tsx
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Presets/presetConfig.ts
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Table/tableConfig.tsx
  src/apps/DisciplineReleaseControl/WorkspaceConfig/index.ts
  src/apps/Handover/index.tsx
  src/apps/MechanicalCompletion/types/commissioningStatus.ts
  src/apps/MechanicalCompletion/utils/config/commStatusOrder.ts
  src/apps/MechanicalCompletion/utils/config/filterConfig.tsx
  src/apps/MechanicalCompletion/utils/config/gardenSetup.ts
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
  src/apps/MechanicalCompletion/utils/config/theme.ts
  src/apps/MechanicalCompletion/utils/helpers/getStatuses.ts
  src/apps/ScopeChangeRequest/Components/DataCreator/DataCreatorWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/IsWarrantyCheckbox/IsWarrantyCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/MaterialsInput/MaterialsInput.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginIdPicker/OriginIdPicker.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginSourceSelect/OriginSourceSelect.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/ScopeChangeReferences/ScopeChangeReferences.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/StyledCheckbox/StyledCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
  src/components/JSXSwitch/Components/Case.tsx
  src/components/JSXSwitch/Components/Switch.tsx
  src/components/JSXSwitch/index.ts
  src/components/ParkView/Components/GardenView.tsx
  src/components/ParkView/Components/VirtualGarden/Container.tsx
  src/components/ParkView/Models/gardenOptions.ts
  src/components/ParkView/Utils/groupBy.ts
  src/packages/Table/Components/Cells/YearWeekCell.tsx
  tsconfig.json
  vite.config.ts
Labels: dependencies, release, Components, Apps, Core, Packages, WorkSpace

#612 [Scope change] Move column
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#621 [Scope change] Refactor table config
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#623 [Scope change] Clear atom state
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
Labels: Apps

#625 [Scope change] Disable retries on mutations
  src/apps/ScopeChangeRequest/hooks/React-Query/useScopechangeMutation.ts
Labels: Apps

#620 [Sidesheet] Confirmation dialog when switching sidesheets while having unsaved changes
  src/apps/ScopeChangeRequest/Components/DataCreator/DataCreatorWrapper.tsx
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
  src/packages/Sidesheet/Functions/openSidesheet.ts
  src/packages/Sidesheet/Hooks/useInternalSidesheetFunction.tsx
  src/packages/Sidesheet/State/sidesheetState.ts
  src/packages/Sidesheet/Types/SidesheetApi.ts
  src/packages/Sidesheet/context/sidesheetContext.ts
Labels: Apps, Packages

#622 [SWCR] - fix: sort date columns
  src/apps/swcr/utilities/gardenSetup.ts
  src/apps/swcr/utilities/sortFunctions.ts
Labels: Apps

#626 [Workorder] - fix: remaining hours on current week
  src/apps/WorkOrder/Garden/utility/getSubtitleHeader.ts
  src/packages/GardenUtils/src/dateUtils.ts
Labels: Apps, Packages

#627 [Table] - fix: sort by number
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetStatuses/McStatusCell.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetStatuses/RfccStatusCell.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetStatuses/RfocStatusCell.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetStatuses/WorkerOrderStatusCell.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/McPackagesTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/NcrTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/PunchTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/QueryTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/SwcrTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/UnsignedActionTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/UnsignedTasksTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/WorkOrdersTab.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/NcrTab.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/PunchTab.tsx
  src/apps/MechanicalCompletion/components/McSidesheet/Tabs/WorkordersTab.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/Cells/AvailableItemCell.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/MccrTab.tsx
  src/packages/GardenUtils/src/components/cells/CellWithLink.tsx
  src/packages/GardenUtils/src/components/sidesheet/TabTable.tsx
  src/packages/Table/Utils/utils.tsx
  src/packages/Table/types.ts
Labels: Apps, Packages

#629 [RC] Release control initial release
  src/apps/ReleaseControl/ReleaseControlApp.tsx
  src/apps/ReleaseControl/workspaceConfig/dataOptions.ts
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/apps.ts
Labels: Apps

#630 [GardenUtils & Handover] - feat: popover in virtual garden
  src/apps/Handover/Garden/CustomViews/HandoverGardenItem/HandoverGardenItem.tsx
  src/apps/Handover/Garden/components/HandoverItemPopover/index.tsx
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/Layout.tsx
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
  src/components/ParkView/Models/gardenOptions.ts
  src/packages/GardenUtils/src/components/index.ts
  src/packages/GardenUtils/src/components/popover/PopoverWrapper.tsx
Labels: Components, Apps, Packages

#633 [Mechanical Completion] - chore: use planned instead of forecast
  src/apps/MechanicalCompletion/utils/config/gardenSetup.ts
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
Labels: Apps

#635 [Workorder] - feat: follow up status filter
  src/apps/WorkOrder/Garden/utility/index.ts
  src/apps/WorkOrder/components/FollowUpStatusFilter.tsx
  src/apps/WorkOrder/components/index.ts
  src/apps/WorkOrder/utility/filterConfig.tsx
Labels: Apps

#634 [Workorder] - feat: filter by progress
  src/apps/WorkOrder/utility/filterConfig.tsx
Labels: Apps

#636 [Scope change] Disciplines in table
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#638 [Changelog] - Release 1.3.0
  Changelog.md
  package.json
Labels: dependencies

#641 [DRC] Create custom workflow
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/PhaseSelect.tsx
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/api/releaseControl/Request/index.ts
  src/apps/ReleaseControl/api/releaseControl/Request/initiateReleaseControl.ts
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
Labels: Apps

#645 [Scope change] fix form state
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/DataCreator/DataCreatorWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#646 Change comparisons to startsWith() to include new formularTypes with …
  src/apps/DisciplineReleaseControl/Components/Electro/electroViewHelpers.ts
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Functions/tableHelpers.ts
Labels: Apps

#647 [Changelog] Changelog 1.3.1 bugfix
  Changelog.md
  package.json
Labels: dependencies

#649 [Piping & HT] - fix: remove double slash from api url
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
Labels: Apps

#651 [Scope change] discipline guesstimates wrong default
  src/apps/ScopeChangeRequest/Components/Form/DisciplineGuesstimate/DisciplineGuesstimate.tsx
Labels: Apps

#650 [Workspace] Table api
  src/Core/WorkSpace/src/Context/LocationProvider.tsx
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
  src/hooks/index.ts
  src/hooks/useOutsideClick.ts
  src/packages/Table/Components/Cell.tsx
  src/packages/Table/Components/Cells/ArrayCell.tsx
  src/packages/Table/Components/Cells/DateCell.tsx
  src/packages/Table/Components/Cells/DescriptionCell.tsx
  src/packages/Table/Components/Cells/LinkCell.tsx
  src/packages/Table/Components/Cells/NumberCell.tsx
  src/packages/Table/Components/Cells/ProgressCell.tsx
  src/packages/Table/Components/Cells/RelativeDateCell.tsx
  src/packages/Table/Components/Cells/StatusCell.tsx
  src/packages/Table/Components/Cells/YearWeekCell.tsx
  src/packages/Table/Components/HeaderCell.tsx
  src/packages/Table/Components/Table.tsx
  src/packages/Table/Components/TableConfigBar/ColumnPicker/ColumnPicker.tsx
  src/packages/Table/Components/TableConfigBar/ColumnPicker/columnPicker.styles.ts
  src/packages/Table/Components/TableConfigBar/TableConfigBar.tsx
  src/packages/Table/Hooks/useColumns.ts
  src/packages/Table/Hooks/useTable.ts
  src/packages/Table/Types/index.ts
  src/packages/Table/Types/tableApi.ts
  src/packages/Table/Types/types.ts
  src/packages/Table/Utils/ColumnDefault.tsx
  src/packages/Table/Utils/columnGenerators.tsx
  src/packages/Table/Utils/generateColumns.tsx
  src/packages/Table/Utils/registerReactTableHooks.ts
  src/packages/Table/Utils/utils.tsx
  src/packages/Table/index.ts
Labels: Apps, Core, Packages, WorkSpace

#628 [Workspace] Search in workspace
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/HeaderStyles.ts
  src/Core/WorkSpace/src/Components/Presets/Presets.tsx
  src/Core/WorkSpace/src/Components/Search/Search.tsx
  src/Core/WorkSpace/src/Components/ToggleButton.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/Handover/index.tsx
  src/apps/MechanicalCompletion/index.ts
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/apps/WorkOrder/index.tsx
  src/apps/swcr/index.ts
  src/hooks/index.ts
  src/hooks/useTimeoutWithCancel/useTimeooutWithCancel.ts
  src/packages/Filter/Hooks/useFilterApi.ts
  src/packages/Filter/__tests__/searchItems.test.ts
  src/packages/Filter/functions/searchAcrossFilterGroups.ts
Labels: Apps, Core, Packages, WorkSpace

#659 [MC & Handover & WO] - fix: popover stuck
  src/apps/Handover/Garden/CustomViews/HandoverGardenItem/HandoverGardenItem.tsx
  src/apps/MechanicalCompletion/components/CustomItemView/CustomItemView.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderItem/WorkOrderItem.tsx
Labels: Apps

#660 [Workspace] Garden selected, default expanded package
  src/Core/WorkSpace/src/Context/LocationProvider.tsx
  src/Core/WorkSpace/src/Tabs/GardenTab.tsx
  src/Core/WorkSpace/src/Util/bookmarks/gardenBookmarks/gardenStateSnapshotAtom.ts
  src/Core/WorkSpace/src/Util/bookmarks/gardenBookmarks/generateGardenSnapshot.ts
  src/Core/WorkSpace/src/Util/bookmarks/gardenBookmarks/interceptGardenOptions.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/DisciplineReleaseControl/Components/Garden/GardenItemStyles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenItem.tsx
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Garden/gardenConfig.tsx
  src/apps/Handover/Garden/CustomViews/HandoverGardenItem/HandoverGardenItem.tsx
  src/apps/Handover/index.tsx
  src/apps/MechanicalCompletion/components/CustomItemView/CustomItemView.tsx
  src/apps/MechanicalCompletion/utils/config/gardenSetup.ts
  src/apps/ReleaseControl/workspaceConfig/garden/gardenConfig.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sGarden/gardenConfig.ts
  src/apps/WorkOrder/Garden/components/WorkOrderItem/WorkOrderItem.tsx
  src/apps/WorkOrder/index.tsx
  src/apps/swcr/CustomViews/SwcrGardenItem.tsx
  src/apps/swcr/index.ts
  src/components/ParkView/Components/Garden.tsx
  src/components/ParkView/Components/GardenView.tsx
  src/components/ParkView/Components/VirtualGarden/Container.tsx
  src/components/ParkView/Components/VirtualGarden/DefaultGardenItem.tsx
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
  src/components/ParkView/Components/VirtualGarden/styles/Package.styles.ts
  src/components/ParkView/Context/ParkViewContext.ts
  src/components/ParkView/Context/ParkViewProvider.tsx
  src/components/ParkView/Models/gardenApi.ts
  src/components/ParkView/Models/gardenOptions.ts
  src/components/ParkView/hooks/useGardenApi.ts
Labels: Components, Apps, Core, WorkSpace

#657 [Workspace] Create button styling
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
Labels: Core, WorkSpace

#655 [Scope change] Sticky menu items
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
Labels: Apps

#656 [Sidesheet] Notify events on close/open
  src/Core/WorkSpace/src/Context/LocationProvider.tsx
  src/packages/Sidesheet/Functions/notifyListeners.tsx
  src/packages/Sidesheet/Functions/openSidesheet.ts
  src/packages/Sidesheet/Hooks/useInternalSidesheetFunction.tsx
  src/packages/Sidesheet/Types/sidesheetEvents.ts
Labels: Core, Packages, WorkSpace

#662 [PowerBI] Add powerbi to scope change
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: Apps, Core, WorkSpace

#667 [Test] Release 1.4.0
  Changelog.md
  package.json
Labels: dependencies

#670 [Portal] Add version to banner
  src/components/TopBar/DevBar/DevBar.tsx
Labels: Components, Portal

#674 [Portal] Navigation breadcrumbs
  src/components/TopBar/BreadCrumbs/Breadcrumbs.tsx
  src/components/TopBar/TopBar.tsx
  src/components/TopBar/TopBarStyle.ts
Labels: Components, Portal

#679 Bug/rfcc planned null check
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Functions/tableHelpers.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Table/tableConfig.tsx
Labels: Apps
