Repository equinor/lighthouse-client, pull requests merged in 2022-12, with the labels that each got.

#1152 Workflow admin adjustments and styling
  src/packages/Admin/src/Admin.tsx
  src/packages/Admin/src/Atoms/adminAtom.ts
  src/packages/Admin/src/Atoms/updateContext.ts
  src/packages/Admin/src/Atoms/workflowAdminAtomApi.ts
  src/packages/Admin/src/Components/Form/Inputs/StepCompletedStatusSelect.tsx
  src/packages/Admin/src/Components/Form/Inputs/StepDescriptionInput.tsx
  src/packages/Admin/src/Components/Menu/AdminMenu.tsx
  src/packages/Admin/src/Components/Modal/DeleteWorkflowModal.tsx
  src/packages/Admin/src/Components/Modal/DeleteWorkflowStatusModal.tsx
  src/packages/Admin/src/Components/Modal/DeleteWorkflowStepModal.tsx
  src/packages/Admin/src/Components/Modal/EditStatusModal.tsx
  src/packages/Admin/src/Components/Modal/EditStepModal.tsx
  src/packages/Admin/src/Components/Modal/EditWorkflowModal.tsx
  src/packages/Admin/src/Components/Modal/modalStyles.ts
  src/packages/Admin/src/Components/Sidesheet/WorkflowCreateButtonBar.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowSaveButtonBar.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowSidesheet.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepCreateButtonBar.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepSaveButtonBar.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepSidesheet.tsx
  src/packages/Admin/src/Components/Sidesheet/sidesheet.styles.ts
  src/packages/Admin/src/Components/Workspace/TableDropdownMenus.tsx
  src/packages/Admin/src/Components/Workspace/WorkflowStatuses.tsx
  src/packages/Admin/src/Components/Workspace/WorkflowSteps.tsx
  src/packages/Admin/src/Components/Workspace/Workflows.tsx
  src/packages/Admin/src/Components/Workspace/columns.tsx
  src/packages/Admin/src/Hooks/useAdminAccess.ts
  src/packages/Admin/src/Hooks/useAdminMutations.ts
  src/packages/Admin/src/Hooks/useGetWorkflow.ts
  src/packages/Admin/src/Hooks/useGetWorkflowStep.tsx
  src/packages/Admin/src/Hooks/useWorkflowSidesheetEffects.tsx
  src/packages/Admin/src/Hooks/useWorkflowStepSidesheetEffects.tsx
  src/packages/Admin/styles/styles.ts
  src/packages/Workflow/src/Api/patchWorkflowTemplate.ts
  src/packages/Workflow/src/Components/Workflow/SelectWorkflowTemplate.tsx
  src/packages/Workflow/styles/workflow.styles.ts
Labels: Packages

#1154 Changelog 1.22.0
  Changelog.md
  package.json
Labels: dependencies

#1155 Release version 1.22.0
  Changelog.md
  package.json
  src/packages/Admin/src/Admin.tsx
  src/packages/Admin/src/Atoms/adminAtom.ts
  src/packages/Admin/src/Atoms/updateContext.ts
  src/packages/Admin/src/Atoms/workflowAdminAtomApi.ts
  src/packages/Admin/src/Components/Form/Inputs/StepCompletedStatusSelect.tsx
  src/packages/Admin/src/Components/Form/Inputs/StepDescriptionInput.tsx
  src/packages/Admin/src/Components/Menu/AdminMenu.tsx
  src/packages/Admin/src/Components/Modal/DeleteWorkflowModal.tsx
  src/packages/Admin/src/Components/Modal/DeleteWorkflowStatusModal.tsx
  src/packages/Admin/src/Components/Modal/DeleteWorkflowStepModal.tsx
  src/packages/Admin/src/Components/Modal/EditStatusModal.tsx
  src/packages/Admin/src/Components/Modal/EditStepModal.tsx
  src/packages/Admin/src/Components/Modal/EditWorkflowModal.tsx
  src/packages/Admin/src/Components/Modal/modalStyles.ts
  src/packages/Admin/src/Components/Sidesheet/WorkflowCreateButtonBar.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowSaveButtonBar.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowSidesheet.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepCreateButtonBar.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepSaveButtonBar.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepSidesheet.tsx
  src/packages/Admin/src/Components/Sidesheet/sidesheet.styles.ts
  src/packages/Admin/src/Components/Workspace/TableDropdownMenus.tsx
  src/packages/Admin/src/Components/Workspace/WorkflowStatuses.tsx
  src/packages/Admin/src/Components/Workspace/WorkflowSteps.tsx
  src/packages/Admin/src/Components/Workspace/Workflows.tsx
  src/packages/Admin/src/Components/Workspace/columns.tsx
  src/packages/Admin/src/Hooks/useAdminAccess.ts
  src/packages/Admin/src/Hooks/useAdminMutations.ts
  src/packages/Admin/src/Hooks/useGetWorkflow.ts
  src/packages/Admin/src/Hooks/useGetWorkflowStep.tsx
  src/packages/Admin/src/Hooks/useWorkflowSidesheetEffects.tsx
  src/packages/Admin/src/Hooks/useWorkflowStepSidesheetEffects.tsx
  src/packages/Admin/styles/styles.ts
  src/packages/CircuitDiagram/src/Components/CriticalLineVisual.tsx
  src/packages/CircuitDiagram/styles/styles.ts
  src/packages/Workflow/src/Api/moveStepDown.ts
  src/packages/Workflow/src/Api/moveStepUp.ts
  src/packages/Workflow/src/Api/patchWorkflowTemplate.ts
  src/packages/Workflow/src/Components/Workflow/SelectWorkflowTemplate.tsx
  src/packages/Workflow/src/Components/Workflow/WorkflowEditorHelpers.tsx
  src/packages/Workflow/src/index.ts
  src/packages/Workflow/styles/workflow.styles.ts
Labels: dependencies, Packages

#1159 [SCR] - chore: change search from sequence to serial number
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: Apps

#1153 Added CCH overview app
  src/apps/CCHOverview/index.ts
  src/apps/apps.ts
Labels: Apps

#1160 Comm pkg filter in scope change request
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
Labels: Apps

#1161 Group option for Current Step (Circuit)
  src/apps/DisciplineReleaseControl/Mock/mockData.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/utils/config/Garden/gardenConfig.tsx
  src/apps/DisciplineReleaseControl/utils/config/Table/tableConfig.tsx
  src/apps/DisciplineReleaseControl/utils/helpers/statusHelpers.ts
Labels: Apps

#1165 Changelog version 1.23.0
  Changelog.md
  package.json
Labels: dependencies

#1167 Prod flag workflow admin until permissions are correct
  src/apps/ReleaseControl/ReleaseControlApp.tsx
Labels: Apps

#1142 Feat Query workspace
  src/apps/Query/components/QueryGardenItem/QueryGardenItem.tsx
  src/apps/Query/components/QuerySidesheet/QuerySidesheet.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/CommpkgTab.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/DetailsTab.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/QuerySignatureTable.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/index.ts
  src/apps/Query/components/index.ts
  src/apps/Query/index.ts
  src/apps/Query/types/index.ts
  src/apps/Query/types/query.ts
  src/apps/Query/types/sidesheetResources.ts
  src/apps/Query/utility/api/getQueryCommpkgs.ts
  src/apps/Query/utility/api/getQuerySignatureData.ts
  src/apps/Query/utility/api/index.ts
  src/apps/Query/utility/config/analyticsConfig.ts
  src/apps/Query/utility/config/filterConfig.ts
  src/apps/Query/utility/config/gardenConfig.ts
  src/apps/Query/utility/config/index.ts
  src/apps/Query/utility/config/sidesheetConfig.ts
  src/apps/Query/utility/config/statusBarConfig.ts
  src/apps/Query/utility/config/tableConfig.tsx
  src/apps/Query/utility/helpers/getStatus.ts
  src/apps/Query/utility/helpers/index.ts
  src/apps/Query/utility/helpers/queryItemMapping.ts
  src/apps/Query/utility/helpers/queryStatusColor.ts
  src/apps/Query/utility/helpers/sortFuctions.ts
  src/apps/apps.ts
  src/apps/functions.ts
  src/apps/widgets.ts
  src/hooks/index.ts
  src/hooks/useGetUser.ts
  src/packages/ProcosysUrls/src/procosysUrl.ts
Labels: Apps, Packages

#1162 Flag and category to gardenItem
  src/apps/Punch/components/PunchGardenItem/PunchGardenItem.tsx
  src/apps/Punch/components/PunchGardenItem/punchGardenItem.styles.ts
  src/apps/Punch/components/PunchGardenItem/utils.ts
  src/apps/Punch/components/icons/FlagIcon.tsx
  src/apps/Punch/types/punch.ts
  src/apps/Punch/utility/config/gardenConfig.tsx
  src/apps/Punch/utility/config/tableConfig.tsx
Labels: Apps

#1169 [apps] - chore: remove old queries app
  src/apps/apps.ts
Labels: Apps

#1163 [SCR] - fix: void reason text and revision reason text
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/VoidedReasonBanner.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
Labels: Apps

#1168 Generic workflow signing with split button and comment modal
  src/apps/ReleaseControl/components/Workflow/Atoms/signingAtom.ts
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/Criteria.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaActionOverlay.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/SignWithComment/SignWithComment.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/SignWithComment/signWithComment.styles.ts
  src/apps/ReleaseControl/components/Workflow/ReassignBar/ReassignBar.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/Criteria.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaActionOverlay.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment/signWithComment.styles.ts
  src/apps/ScopeChangeRequest/Components/Workflow/ReassignBar/ReassignBar.tsx
  src/packages/Workflow/src/Components/Atoms/signingAtom.ts
  src/packages/Workflow/src/Components/Modal/SignWithCommentModal.tsx
  src/packages/Workflow/src/Types/WorkflowTypes.ts
  src/packages/Workflow/src/index.ts
  src/packages/Workflow/styles/workflow.styles.ts
Labels: Apps, Packages

#1173 [SCR] - chore: add some gap between text in revision reason banner
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/VoidedReasonBanner.tsx
Labels: Apps

#1175 [Changelog] - Release v.1.24.0
  Changelog.md
  package.json
Labels: dependencies

#1179 [Query] - chore: add more fields to query sidesheet
  src/apps/Query/components/QuerySidesheet/QuerySidesheet.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/DetailsTab.tsx
Labels: Apps

#1178 [Punch] - chore: add description to sidesheet and search
  src/apps/Punch/components/PunchSidesheet/Tabs/DetailsTab.tsx
  src/apps/Punch/index.tsx
Labels: Apps

#1180 [Release] - Changelog v.1.24.1
  Changelog.md
  package.json
Labels: dependencies

#1181 [Release] - Castberg Portal v.1.24.1
  Changelog.md
  package.json
  src/apps/Punch/components/PunchSidesheet/Tabs/DetailsTab.tsx
  src/apps/Punch/index.tsx
  src/apps/Query/components/QuerySidesheet/QuerySidesheet.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/DetailsTab.tsx
Labels: dependencies, Apps

#1182 [ProcosysUrls] - fix: remove pipe from url
  src/packages/ProcosysUrls/src/procosysUrl.ts
Labels: Packages

#1183 [Release] - Changelog v1.24.2
  Changelog.md
  package.json
Labels: dependencies

#1185 [Query & Punch] - chore: sidesheet fixes
  src/apps/Punch/components/PunchSidesheet/Tabs/DetailsTab.tsx
  src/apps/Query/components/QuerySidesheet/QuerySidesheet.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/CommpkgTab.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/DetailsTab.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/QuerySignatureTable.tsx
  src/apps/Query/types/sidesheetResources.ts
  src/apps/Query/utility/api/getQueryCommpkgs.ts
Labels: Apps

#1187 Revert "Document batch search"
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/api/PCS/Batch/batchDocuments.ts
  src/apps/ScopeChangeRequest/api/Search/STID/searchDocuments.ts
  src/apps/ScopeChangeRequest/hooks/Search/useStidSearch.ts
  src/apps/ScopeChangeRequest/types/STID/document.ts
Labels: Apps

#1186 [Release] - Changelog v.1.24.3
  Changelog.md
  package.json
Labels: dependencies

#1189 [Release]- Castberg Portal v1.24.3
  Changelog.md
  package.json
  src/apps/Punch/components/PunchSidesheet/Tabs/DetailsTab.tsx
  src/apps/Query/components/QuerySidesheet/QuerySidesheet.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/CommpkgTab.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/DetailsTab.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/QuerySignatureTable.tsx
  src/apps/Query/types/sidesheetResources.ts
  src/apps/Query/utility/api/getQueryCommpkgs.ts
Labels: dependencies, Apps

#1190 [SCR] - feat: create revision when its closed
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
Labels: Apps

#1177 [Punch] - chore: punch new url fields
  src/apps/Punch/types/punch.ts
  src/apps/Punch/utility/config/sidesheetConfig.ts
  src/apps/Punch/utility/config/tableConfig.tsx
Labels: Apps

#1170 [Loop] - chore: loop new url fields from FAM
  src/apps/Loop/components/Sidesheet/Checklists.tsx
  src/apps/Loop/components/Sidesheet/LoopContentTable.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/types/checklistForLoop.ts
  src/apps/Loop/types/loop.ts
  src/apps/Loop/types/loopContent.ts
  src/apps/Loop/types/workorder.ts
  src/apps/Loop/utility/api/customLoopMccrColumns.ts
  src/apps/Loop/utility/api/getChecklistsForLoop.ts
  src/apps/Loop/utility/api/getLoopContent.ts
  src/apps/Loop/utility/api/getWorkorders.ts
  src/apps/Loop/utility/config/sidesheetConfig.ts
  src/apps/Loop/utility/config/tableConfig.tsx
  src/packages/GardenUtils/src/components/sidesheet/tabs/workorder/columns.tsx
  src/packages/GardenUtils/src/components/sidesheet/tabs/workorder/types.ts
Labels: Apps, Packages

#1174 [Workorder] - chore: workorder new url fields
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/MccrTab.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/WorkOrderSidesheet.tsx
  src/apps/WorkOrder/Garden/models/workOrder.ts
  src/apps/WorkOrder/Garden/models/workOrderMccr.ts
  src/apps/WorkOrder/Mock/groupedWorkorder.ts
  src/apps/WorkOrder/index.tsx
  src/apps/WorkOrder/utility/tableConfig.tsx
Labels: Apps

#1192 [SCR] - chore: new url fields for custom workorder api
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrder.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
  src/apps/ScopeChangeRequest/api/FAM/getWorkOrderById.ts
  src/apps/ScopeChangeRequest/types/FAM/workOrder.ts
Labels: Apps

#1171 [Query] - chore: query new url fields
  src/apps/Query/components/QuerySidesheet/QuerySidesheet.tsx
  src/apps/Query/components/QuerySidesheet/Tabs/CommpkgTab.tsx
  src/apps/Query/index.ts
  src/apps/Query/types/query.ts
  src/apps/Query/types/sidesheetResources.ts
  src/apps/Query/utility/api/getQueryCommpkgs.ts
  src/apps/Query/utility/config/sidesheetConfig.ts
  src/apps/Query/utility/config/tableConfig.tsx
Labels: Apps

#1193 [Release] - Changelog v1.25.0
  Changelog.md
  package.json
Labels: dependencies

#1195 Fixed MC to Com KPI
  src/apps/MechanicalCompletion/utils/config/statusBarConfig.tsx
Labels: Apps

#1196 [SCR] - chore: date fields to normal dates
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#1197 [Release] - Changelog 1.25.1
  Changelog.md
  package.json
Labels: dependencies

#1198 [Release] - Castberg Portal v1.25.1
  Changelog.md
  package.json
  src/apps/MechanicalCompletion/utils/config/statusBarConfig.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: dependencies, Apps

#1200 Added commissioning task
  src/apps/CommissioningPackageTask/index.ts
  src/apps/apps.ts
Labels: Apps

#1201 Loading spinners while signing steps in SCR and RC
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaActionBar.tsx
Labels: Apps

#1203 [Release] - Changelog v.1.26.0
  Changelog.md
  package.json
Labels: dependencies

#1204 [Release] - Castberg Portal v.1.26.0
  Changelog.md
  package.json
  src/apps/CommissioningPackageTask/index.ts
  src/apps/ReleaseControl/components/Form/Inputs/Scope/HtCableTable.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/TagTable.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/apps/ScopeChangeRequest/api/FAM/searchHtCable.ts
  src/apps/ScopeChangeRequest/api/FAM/searchTag.ts
  src/apps/apps.ts
Labels: dependencies, Apps, Packages

#1208 [SCR] - feat: markdown editor scr
  package.json
  src/apps/ScopeChangeRequest/Components/Form/Inputs/DescriptionInput/DescriptionInput.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  yarn.lock
Labels: dependencies, Apps

#1207 Add McPkg as reference type including batch search
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/References.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/McPkg/McPkg.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/McPkg/McPkgIcon.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/getReferenceIcon.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/api/PCS/Batch/batchMcPkg.ts
  src/apps/ScopeChangeRequest/api/PCS/getMcPkgById.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/initiateScopeChange.ts
  src/apps/ScopeChangeRequest/api/Search/PCS/searchMcPkg.ts
  src/apps/ScopeChangeRequest/hooks/Search/usePcsSearch.ts
  src/apps/ScopeChangeRequest/hooks/queries/useEagerLoadingReferences.ts
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
  src/apps/ScopeChangeRequest/keys/ProCoSysQueries.ts
  src/apps/ScopeChangeRequest/types/ProCoSys/McPkg.ts
  src/apps/ScopeChangeRequest/types/ProCoSys/ProCoSysTypes.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/packages/Workflow/src/Components/PersonRoleSearch/typedSelectOption.ts
  src/packages/Workflow/src/Components/WorkflowIcons/McPkgIcon.tsx
  src/packages/Workflow/src/keys/proCoSysQueryKeys.ts
Labels: Apps, Packages

#1209 [SCR] fix: New SavedSearch in PCS with Project for JCA hardcoded
  src/apps/ScopeChangeRequest/api/Search/PCS/searchQuery.ts
Labels: Apps
