Repository equinor/lighthouse-client, pull requests merged in 2022-08, with the labels that each got.

#943 Bugfix/historic steps fixes
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowCustomEditor.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaActionBar.tsx
Labels: Apps

#944 Fix for correct state in scope change edit/revision form
  src/apps/ScopeChangeRequest/Components/DataCreator/DataCreatorWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Form/FormBanner/FormBanner.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionForm.tsx
Labels: Apps

#941 Fixed pipetest warning triangles showing up when they shouldn't
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
Labels: Apps

#942 NotApplicable -> Not Applicable
  src/apps/DisciplineReleaseControl/Types/disciplineReleaseControl.ts
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/DetailView/OriginLink.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginSourceSelect/OriginSourceSelect.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
Labels: Apps

#945 Changelog for version 1.7.6
  Changelog.md
  package.json
Labels: dependencies

#946 Version 1.7.6
  Changelog.md
  package.json
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Types/disciplineReleaseControl.ts
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowCustomEditor.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/DataCreator/DataCreatorWrapper.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/OriginLink.tsx
  src/apps/ScopeChangeRequest/Components/Form/FormBanner/FormBanner.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginSourceSelect/OriginSourceSelect.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionForm.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/modules/powerBI/src/Components/Filter/PowerBiQuickFilter.tsx
  yarn.lock
Labels: dependencies, Apps

#947 Changed bookmark icon in workspace to avoid confusion
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkDropdown.tsx
Labels: Packages

#949 Bugfix/completed status name
  src/apps/DisciplineReleaseControl/Components/Sidesheet/InsulationTable.tsx
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/components/Form/ReleaseControlEditForm.tsx
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
Labels: Apps

#950 Show icons that are favourited without hovering
  src/components/Menu/Components/MenuItem/MenuItem.tsx
Labels: Components, Portal

#951 Changed pages for Checklist analytics
  src/apps/Checklist/index.ts
  src/apps/Handover/index.tsx
  src/apps/Punch/index.ts
  src/apps/swcr/index.ts
Labels: Apps

#952 Changelog version 1.7.7
  Changelog.md
  package.json
Labels: dependencies

#953 Version 1.7.7
  Changelog.md
  package.json
  src/apps/Checklist/index.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/InsulationTable.tsx
  src/apps/Handover/index.tsx
  src/apps/Punch/index.ts
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/components/Form/ReleaseControlEditForm.tsx
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/swcr/index.ts
  src/components/Menu/Components/MenuItem/MenuItem.tsx
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkDropdown.tsx
Labels: dependencies, Components, Portal, Apps, Packages

#954 Changes to pageids
  src/apps/Checklist/index.ts
  src/apps/Installation/index.ts
Labels: Apps

#955 [PBI & Workspace & Apps] - Feat/automatically load powerbi pages
  src/Core/PowerBiViewer/src/Api/powerBiViewerApi.ts
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeader.tsx
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeaderStyles.ts
  src/Core/PowerBiViewer/src/Context/PbiContext.tsx
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/PowerBiViewer/src/Types/State.ts
  src/Core/PowerBiViewer/src/Utils/getDefault.ts
  src/Core/PowerBiViewer/src/Utils/getReportByPage.ts
  src/Core/PowerBiViewer/src/Utils/index.ts
  src/Core/PowerBiViewer/src/__Test__/getDefault.test.ts
  src/Core/WorkSpace/src/Components/DataViewerHeader/PowerBIPages/PowerBIPages.tsx
  src/Core/WorkSpace/src/Context/BookmarkContext.tsx
  src/Core/WorkSpace/src/Context/ViewProvider.tsx
  src/Core/WorkSpace/src/Tabs/PowerBiTab.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/Checklist/index.ts
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/Handover/index.tsx
  src/apps/Installation/index.ts
  src/apps/Loop/index.tsx
  src/apps/MechanicalCompletion/index.ts
  src/apps/Punch/index.ts
  src/apps/Punch_Dev/utility/config/analyticsConfig.ts
  src/apps/Query/index.ts
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/apps/swcr/index.ts
  src/apps/workPreparation/index.ts
  src/modules/powerBI/PowerBI.styles.ts
  src/modules/powerBI/src/Hooks/index.ts
  src/modules/powerBI/src/Hooks/useActivePage.ts
  src/modules/powerBI/src/Hooks/useGetPages.ts
  src/modules/powerBI/src/PowerBI.tsx
  src/modules/powerBI/src/index.ts
Labels: Apps, Core, WorkSpace

#956 Piping and ht + RC tests
  jest.config.ts
  jest.setup.ts
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroView.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/getPipetests.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Mock/mockData.ts
  src/apps/DisciplineReleaseControl/Types/eleNetwork.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/__tests__/electroViewHelpers.test.ts
  src/apps/DisciplineReleaseControl/__tests__/gardenFunctions.test.ts
  src/apps/DisciplineReleaseControl/__tests__/pipetestStatusHelpers.test.ts
  src/apps/DisciplineReleaseControl/__tests__/tableHelpers.test.ts
  src/apps/ReleaseControl/Mock/mockData.ts
  src/apps/ReleaseControl/__tests__/releaseControl.test.ts
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/swcr/CustomViews/__tests__/createSeries.test.ts
  src/apps/swcr/CustomViews/__tests__/createSeries2.test.ts
  src/apps/swcr/CustomViews/__tests__/datetime.test.ts
  src/modules/powerBI/src/__tests__/getActiveFilterGroups.test.ts
  src/packages/Filter/Context/FilterContext.ts
  src/packages/Filter/__tests__/createFilterItems.test.ts
Labels: Apps, Packages

#960 [Workspace & PowerBIViewer] - Fix/pbi sidesheet bookmark subpage
  src/Core/PowerBiViewer/src/Context/PbiContext.tsx
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/PowerBIPages/PowerBIPages.tsx
  src/Core/WorkSpace/src/Context/BookmarkContext.tsx
Labels: Core, WorkSpace

#959 [Loop] - chore: update endpoint for checklist loop sidesheet
  src/apps/Loop/components/Sidesheet/Checklists.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/types/checklistForLoop.ts
  src/apps/Loop/types/index.ts
  src/apps/Loop/utility/api/getChecklistsForLoop.ts
Labels: Apps

#962 [Changelog]: v1.8.0
  Changelog.md
  package.json
Labels: dependencies

#966 Fix/lci hanging garden uri
  src/apps/LCI/index.ts
Labels: Apps

#967 [Changelog] - v1.8.1
  Changelog.md
  package.json
Labels: dependencies

#968 [Release] - Castberg Project Portal v1.8.1
  Changelog.md
  package.json
  src/apps/LCI/index.ts
  src/apps/MDR/index.ts
  src/apps/PowerBI/LCIReport.tsx
  src/apps/PowerBI/MDRReport.tsx
  src/apps/PowerBI/index.ts
  src/apps/apps.ts
Labels: dependencies, Apps

#971 Split sign button into sign and a dropdown menu
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/components/OverlayMenu/src/components/ButtonMenu/MiniButtonMenu.tsx
  src/components/OverlayMenu/src/components/ButtonMenu/buttonMenu.styles.ts
  src/components/OverlayMenu/src/components/index.ts
Labels: Components, Apps

#970 Removed duplicate text and reduced space between steps
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
Labels: Apps

#969 "..." context menu only for current step
  src/apps/ReleaseControl/components/Workflow/Workflow.tsx
Labels: Apps

#972 Added commissioning analytics
  src/apps/CommissioningAnalytics/index.ts
  src/apps/apps.ts
Labels: Apps

#973 Change edit mode navigation to be tabbed
  src/apps/ReleaseControl/components/Form/Inputs/index.ts
  src/apps/ReleaseControl/components/Form/ReleaseControlEditForm.tsx
  src/apps/ReleaseControl/components/Form/releaseControlProcessForm.styles.ts
  src/apps/ReleaseControl/components/RelatedObjects/ReferencesList.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/AddContributor.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/SignWithComment/SignWithComment.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/EditTabs/EditButtonBar.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/EditTabs/EditScopeTab.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/EditTabs/EditWorkflowTab.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlSidesheet.tsx
  src/apps/ReleaseControl/hooks/index.ts
  src/apps/ReleaseControl/hooks/useUnpackReferences.tsx
Labels: Apps

#974 Added uploading and viewing attachments for release control
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/api/releaseControl/Request/attachment.ts
  src/apps/ReleaseControl/components/Attachments/AttachmentVisual.tsx
  src/apps/ReleaseControl/components/Attachments/Attachments.tsx
  src/apps/ReleaseControl/components/Attachments/AttachmentsView.tsx
  src/apps/ReleaseControl/components/Attachments/HotUpload.tsx
  src/apps/ReleaseControl/components/Attachments/RequestAttachmentsList/RequestAttachmentsList.tsx
  src/apps/ReleaseControl/components/Attachments/Upload.tsx
  src/apps/ReleaseControl/components/Attachments/attachments.styles.ts
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/EditTabs/EditScopeTab.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/ScopeTab.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ReleaseControl/workspaceConfig/table/tableConfig.tsx
Labels: Apps

#976 [Handover] - fix: remove packages suffix
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/NcrTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/PunchTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/QueryTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/SwcrTab.tsx
Labels: Apps

#975 [Workorder] - fix: add abortsignal to api calls
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/useMaterial.ts
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/useMccr.ts
Labels: Apps

#977 [Handover] - chore: Unit tests
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetStatuses/utility.ts
  src/apps/Handover/Garden/models/handoverPackage.ts
  src/apps/Handover/Garden/utility/gardenSetup.ts
  src/apps/Handover/Mock/mockData.ts
  src/apps/Handover/__tests__/dateUtilities.test.ts
  src/apps/Handover/__tests__/handoverStatuses.test.ts
  src/apps/Handover/__tests__/keyUtilities.test.ts
  src/apps/Handover/__tests__/sidesheetStatuses.test.ts
Labels: Apps
