Repository equinor/lighthouse-client, pull requests merged in 2022-04, with the labels that each got.

#319 [Workorder & Virtual Garden] - feat: expand workorder column with description
  src/apps/WorkOrder/Garden/components/WorkOrderItem/WorkOrderItem.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderItem/styles.ts
  src/components/ParkView/Components/VirtualGarden/Container.tsx
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
  src/components/ParkView/Models/gardenOptions.ts
Labels: Components, Apps

#309 feat: add depth property to garden grouping
  src/apps/WorkOrder/Garden/components/WorkOrderItem/WorkOrderItem.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderItem/styles.ts
  src/apps/WorkOrder/Garden/utility/gardenSetup.ts
  src/components/ParkView/Components/VirtualGarden/ExpandProvider.tsx
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/HeaderContainer.tsx
  src/components/ParkView/Components/VirtualGarden/mock/gardendata.ts
  src/components/ParkView/Components/VirtualGarden/types/gardenItem.ts
  src/components/ParkView/Components/VirtualGarden/utils/getDescriptionWidth.ts
  src/components/ParkView/Components/VirtualGarden/utils/getGardenItems.ts
  src/components/ParkView/Models/data.ts
  src/components/ParkView/Models/gardenOptions.ts
  src/components/ParkView/Services/createGarden.ts
  src/components/ParkView/Services/createTree.ts
  src/components/ParkView/Utils/groupBy.ts
Labels: Components, Apps

#330 chore: change default tabs to garden
  src/apps/Handover/index.tsx
  src/apps/WorkOrder/index.tsx
  src/apps/swcr/index.ts
Labels: Apps

#328 [Garden] - feat: custom vgroup view for vgarden
  src/components/ParkView/Components/Group.tsx
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
  src/components/ParkView/Models/gardenOptions.ts
Labels: Components

#326 Feature/insulation boxing statuses
  src/apps/DisciplineReleaseControl/Components/Garden/GardenItemStyles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenHeader.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenItem.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/StatusCircle.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/Components/Garden/gardenSetup.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/BoxInsulationTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowCompact.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowDot.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowDotPopover.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Functions/tableHelpers.ts
  src/apps/DisciplineReleaseControl/Styles/ReleaseControlColors.tsx
  src/apps/DisciplineReleaseControl/Types/drcEnums.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/components/ParkView/Components/VirtualGarden/Container.tsx
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/HeaderContainer.tsx
  src/components/ParkView/Components/VirtualGarden/styles/Subgroup.styles.ts
Labels: Components, Apps

#332 [Handover] - chore: remove some filter items
  src/apps/Handover/Garden/utility/gardenSetup.ts
  src/apps/Handover/index.tsx
Labels: Apps

#331 [Handover] - fix: styling on status in table
  src/apps/Handover/Garden/components/commonStyles.ts
  src/apps/Handover/index.tsx
Labels: Apps

#341 [Garden] - feat: Highlight selected garden item
  src/apps/WorkOrder/Garden/components/WorkOrderItem/WorkOrderItem.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderItem/styles.ts
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
  src/components/ParkView/Models/gardenOptions.ts
Labels: Components, Apps

#324 [Menu] pixel pushing
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeader.tsx
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeaderStyles.ts
  src/components/Menu/Components/CompactMenu/CompactMenu.tsx
  src/components/Menu/Components/CompactMenu/CompactMenuStyles.ts
  src/components/Menu/Components/Favourites/FavouritesStyles.ts
  src/components/Menu/Components/MenuItem/MenuItemStyles.ts
  src/components/Menu/Components/Sheard/Styles.ts
  src/components/Messages/Service/Hooks/useServiceMessage.ts
  src/components/TopBar/Logo/Logo.tsx
Labels: Components, Portal, Core

#338 [Data Factory] Optional access check
  src/Core/DataFactory/Functions/createDataFactory.ts
  src/Core/DataFactory/Hooks/useFactories.ts
  src/Core/DataFactory/Types/factory.ts
  src/apps/ScopeChangeRequest/WorkspaceConfig/dataCreatorConfig.ts
Labels: Apps, Core

#340 [SWCR] - feat: Refactor into virtual garden
  src/apps/swcr/CustomViews/SwcrGardenHeader.tsx
  src/apps/swcr/CustomViews/SwcrGardenItem.tsx
  src/apps/swcr/index.ts
  src/apps/swcr/utilities/gardenSetup.ts
  src/components/ParkView/Components/VirtualGarden/ExpandProvider.tsx
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/HeaderContainer.tsx
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
  src/components/ParkView/Components/VirtualGarden/styles/Subgroup.styles.ts
  src/components/ParkView/Components/VirtualGarden/utils/getDescriptionWidth.ts
  src/components/ParkView/Models/gardenOptions.ts
Labels: Components, Apps

#342 [Workorder] - chore: add size icon, flag, progress to wo item
  src/apps/WorkOrder/Garden/components/Popover/WorkOrderPopover.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderItem/WorkOrderItem.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderItem/styles.ts
  src/apps/WorkOrder/index.tsx
Labels: Apps

#335 [PowerBIViewer]- bugfix -defualt-page-load
  package-lock.json
  src/Core/PageViewer/Components/PageViewerPages/PageViewerPages.tsx
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/PowerBiViewer/src/Types/State.ts
  src/modules/powerBI/src/Api/fusionApi.ts
  src/modules/powerBI/src/PowerBI.tsx
  src/modules/powerBI/src/Types/index.ts
  src/modules/powerBI/src/Types/options.ts
  src/modules/powerBI/src/api.ts
Labels: Core, Packages, PageViewer

#346 [Checklist - Punch ]- PowerBiViewer
  src/apps/Checklist/index.ts
  src/apps/Punch/index.ts
  src/apps/apps.ts
Labels: Apps

#345 [chore] - changelog
  Changelog.md
  src/apps/apps.ts
Labels: Apps

#347 [SWCR] - chore: add border to selected swcr garden item
  src/apps/swcr/CustomViews/SwcrGardenItem.tsx
Labels: Apps

#325 [Workspace] Rewrite filter
  src/Core/Dashboard/Components/DashboardPage/DashbaordViwer.tsx
  src/Core/Dashboard/Components/Pages/Pages.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/WorkspaceFilterWrapper.tsx
  src/Core/WorkSpace/src/Components/WorkSpaceTabs/WorkSpaceTabs.tsx
  src/Core/WorkSpace/src/Context/DataProvider.tsx
  src/Core/WorkSpace/src/Tabs/AnalyticsTab.tsx
  src/Core/WorkSpace/src/Tabs/GardenTab.tsx
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/Core/WorkSpace/src/Tabs/TreeTab.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/Handover/index.tsx
  src/apps/ScopeChangeRequest/WorkspaceConfig/Table/WorkflowCompact.tsx
  src/apps/ScopeChangeRequest/WorkspaceConfig/filterConfig.ts
  src/apps/WorkOrder/index.tsx
  src/apps/handoverApp.ts
  src/apps/swcr/CustomViews/SwcrSideSheet.tsx
  src/apps/swcr/index.ts
  src/packages/Filter/Components/FilterGroup/FilterGroup-Styles.ts
  src/packages/Filter/Components/FilterGroup/FilterGroup.tsx
  src/packages/Filter/Components/FilterItem/FilterItem-Styles.ts
  src/packages/Filter/Components/FilterItem/FilterItem.tsx
  src/packages/Filter/Components/FilterView/FilterView.tsx
  src/packages/Filter/Components/PopoutFilter/PopupFilter.tsx
  src/packages/Filter/Components/Utils/camelCaseToHumanReadable.ts
  src/packages/Filter/Components/Utils/debounceFilterItemCheck.ts
  src/packages/Filter/Context/FilterActions.ts
  src/packages/Filter/Context/FilterContext.ts
  src/packages/Filter/Context/FilterProvider.tsx
  src/packages/Filter/Context/FilterReducer.ts
  src/packages/Filter/Hooks/useCount.ts
  src/packages/Filter/Hooks/useFilter.ts
  src/packages/Filter/Hooks/useFilterApi.ts
  src/packages/Filter/Hooks/useFilterApiContext.ts
  src/packages/Filter/Hooks/useFilteredData.ts
  src/packages/Filter/Services/checkItem.ts
  src/packages/Filter/Services/creatFilter.ts
  src/packages/Filter/Services/filter.ts
  src/packages/Filter/Services/filterApi.ts
  src/packages/Filter/Services/filterWorker.ts
  src/packages/Filter/Types/FilterItem.ts
  src/packages/Filter/Types/PersistFilter.ts
  src/packages/Filter/Types/filter.ts
  src/packages/Filter/Types/index.ts
  src/packages/Filter/Utils/filterGroupExists.ts
  src/packages/Filter/Utils/findValueFormatter.ts
  src/packages/Filter/Utils/objectHasKeys.ts
  src/packages/Filter/Utils/optionParse.ts
  src/packages/Filter/Utils/shouldFilter.ts
  src/packages/Filter/__tests__/createFilterItems.test.ts
  src/packages/Filter/__tests__/doesItemPass.test.ts
  src/packages/Filter/__tests__/searchItems.test.ts
  src/packages/Filter/functions/doesItemPass.ts
  src/packages/Filter/functions/generateFilterValues.ts
  src/packages/Filter/functions/searchAcrossFilterGroups.ts
  src/packages/Filter/index.ts
Labels: Apps, Core, Packages, WorkSpace

#348 [Filter] Visual changes
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/HeaderFilterWrapper.tsx
  src/components/Icon/FilterIconFilled.tsx
Labels: Components, Core, WorkSpace

#350 [Scope change] Visual fixes
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.styles.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria.tsx
Labels: Apps

#353 [SWCR]- chore: table config
  src/apps/swcr/index.ts
  src/apps/swcr/utilities/tableSetup.tsx
Labels: Apps

#354 Adjustments to status calculations, warning triangle and styling adju…
  src/apps/DisciplineReleaseControl/Components/Garden/GardenItemStyles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenItem.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/StatusCircle.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowCompact.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowDot.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowPopover.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowWarningTriangle.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Functions/tableHelpers.ts
  src/apps/DisciplineReleaseControl/Styles/Monospace.tsx
  src/apps/DisciplineReleaseControl/Types/drcEnums.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
Labels: Apps

#352 [Workspace] - Compact filter styles - Atle Style
  src/packages/Filter/Components/FilterGroup/FilterGroup.tsx
  src/packages/Filter/Components/FilterGroup/FilterGroupStyles.ts
  src/packages/Filter/Components/FilterItem/FilterItem-Styles.ts
  src/packages/Filter/Components/FilterView/FilterView-style.ts
  src/packages/Filter/Components/FilterView/FilterView.tsx
Labels: Packages

#359 Feature/new sidesheet
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
  src/apps/Construction/Components/SidesheetContent.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/Handover/Garden/CustomViews/HandoverSideSheet.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/SidesheetHeader.tsx
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/advancedSearch.styles.ts
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/CommPkg/CommPkg.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.styles.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.styles.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/dataCreatorConfig.ts
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/WorkOrderSidesheet.tsx
  src/apps/apps.ts
  src/apps/swcr/CustomViews/SwcrSideSheet.tsx
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
  src/packages/Sidesheet/Functions/openSidesheet.ts
  src/packages/Sidesheet/Hooks/useInternalSidesheetFunction.tsx
  src/packages/Sidesheet/State/sidesheetState.ts
  src/packages/Sidesheet/context/sidesheetContext.ts
Labels: Apps, Core, Packages, WorkSpace

#357 [Workorder] - chore: table config
  src/apps/WorkOrder/index.tsx
  src/apps/WorkOrder/utility/tableConfig.tsx
  src/packages/Table/Components/Cells/ProgressCell.tsx
Labels: Apps, Packages

#356 [Handover] - chore: table config
  src/apps/Handover/Garden/utility/gardenSetup.ts
  src/apps/Handover/Garden/utility/tableConfig.tsx
  src/apps/Handover/index.tsx
Labels: Apps

#360 [SWCR] - chore: filter config
  src/apps/swcr/index.ts
  src/apps/swcr/utilities/filterSetup.ts
Labels: Apps

#362 [Power-bi] - Power-bi-updates
  src/apps/Installation/index.ts
  src/apps/apps.ts
  src/apps/workPreparation/index.ts
Labels: Apps

#363 [Scope change] Sidesheet small fixes
  src/Core/WorkSpace/src/Components/WorkSpace/WorkspaceFilterWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetBanner/SidesheetBanner.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/hooks/mutations/useRequestMutations.ts
  src/apps/ScopeChangeRequest/hooks/queries/useScopeChangeAccess.ts
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
Labels: Apps, Core, WorkSpace

#365 [Workspace] Filter hotfix
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
Labels: Core, WorkSpace

#366 [Scope change] Last minute fixes
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/MenuButton/Components/IconMenu.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetBanner/SidesheetBanner.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.styles.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/patchScopeChange.ts
  src/apps/ScopeChangeRequest/hooks/mutations/useRequestMutations.ts
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
Labels: Apps, Packages

#368 [Scope change] Reject with comment
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria.tsx
Labels: Apps

#369 Didnt add comment
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/useWorkflowSigning.tsx
Labels: Apps

#370 [Scope change] References long text break
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Area/Area.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Discipline/Discipline.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Tags/Tag.tsx
Labels: Apps

#367 Feature/piping and ht sidesheet
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenItem.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheetBanner.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/SidesheetTabs.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowCompact.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowFilterDot.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowWarningTriangle.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Functions/tableHelpers.ts
  src/apps/DisciplineReleaseControl/Styles/SidesheetWrapper.tsx
Labels: Apps

#373 fix filter count performance
  src/packages/Filter/Hooks/useFilterApi.ts
Labels: Packages

#374 fix array count
  src/packages/Filter/Hooks/useFilterApi.ts
  src/packages/Filter/functions/doesItemPass.ts
Labels: Packages

#349 [Handover]- feat/Virtual garden refactor + custom header
  src/apps/Handover/Garden/CustomViews/HandoverGardenHeader.tsx
  src/apps/Handover/Garden/CustomViews/HandoverGardenItem/GardenItemStyles.ts
  src/apps/Handover/Garden/CustomViews/HandoverGardenItem/HandoverGardenItem.tsx
  src/apps/Handover/Garden/utility/gardenSetup.ts
  src/apps/Handover/Garden/utility/getKeyFunctions.ts
  src/apps/Handover/Garden/utility/getSubtitleHeader.ts
  src/apps/Handover/Garden/utility/index.ts
  src/apps/Handover/index.tsx
  src/components/ParkView/Components/VirtualGarden/Container.tsx
  src/components/ParkView/Components/VirtualGarden/HeaderContainer.tsx
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
  src/components/ParkView/Context/ParkViewProvider.tsx
  src/components/ParkView/Models/gardenOptions.ts
Labels: Components, Apps

#364 [Handover] - fix: add scroll to sidesheet
  src/apps/Handover/Garden/CustomViews/HandoverSideSheet.tsx
Labels: Apps

#378 [Filter] Count performance
  src/packages/Filter/Components/FilterGroup/FilterGroup.tsx
  src/packages/Filter/Components/FilterItem/FilterItem.tsx
  src/packages/Filter/Hooks/useFilterApi.ts
Labels: Packages

#380 [Release control] Add circuit filters
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
Labels: Apps

#382 [Release control] Filter sort
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/packages/Filter/Hooks/useFilterApi.ts
Labels: Apps, Packages

#385 Fix for width on step filter dots
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowFilterDot.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
Labels: Apps

#381 changelog-v0.3.0
  Changelog.md
  src/apps/apps.ts
Labels: Apps

#384 [PowerBI]- Filter styles v2
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeader.tsx
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/PowerBiViewer/src/PowerBiViewerStyles.ts
  src/modules/powerBI/src/Components/Filter/FilterGroup/Styles.tsx
  src/modules/powerBI/src/Components/Filter/FilterItems/FilterItems.tsx
  src/modules/powerBI/src/Components/Filter/FilterItems/Item.tsx
  src/modules/powerBI/src/Components/Filter/FilterItems/Styles.tsx
  src/modules/powerBI/src/Components/Filter/Header/Styles.tsx
  src/modules/powerBI/src/Components/Filter/PowerBIFilter.tsx
  src/modules/powerBI/src/Components/Filter/Styles.tsx
  src/modules/powerBI/src/PowerBI.tsx
  src/modules/powerBI/src/Types/options.ts
  src/packages/Filter/Components/FilterGroup/FilterGroupStyles.ts
  src/packages/Filter/Components/FilterView/FilterView-style.ts
Labels: Core, Packages

#379 Release Castberg Project Portal v0.3.0 - Piping and Heat trace
  Changelog.md
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeader.tsx
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/PowerBiViewer/src/PowerBiViewerStyles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/GardenItemStyles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/StatusCircle.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/BoxInsulationTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/CheckListTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowFilterDot.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowWarningTriangle.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Functions/tableHelpers.ts
  src/apps/DisciplineReleaseControl/Types/drcEnums.ts
  src/apps/apps.ts
  src/modules/powerBI/src/Components/Filter/FilterGroup/Styles.tsx
  src/modules/powerBI/src/Components/Filter/FilterItems/FilterItems.tsx
  src/modules/powerBI/src/Components/Filter/FilterItems/Item.tsx
  src/modules/powerBI/src/Components/Filter/FilterItems/Styles.tsx
  src/modules/powerBI/src/Components/Filter/Header/Styles.tsx
  src/modules/powerBI/src/Components/Filter/PowerBIFilter.tsx
  src/modules/powerBI/src/Components/Filter/Styles.tsx
  src/modules/powerBI/src/PowerBI.tsx
  src/modules/powerBI/src/Types/options.ts
  src/packages/Filter/Components/FilterGroup/FilterGroup.tsx
  src/packages/Filter/Components/FilterGroup/FilterGroupStyles.ts
  src/packages/Filter/Components/FilterItem/FilterItem.tsx
  src/packages/Filter/Components/FilterView/FilterView-style.ts
  src/packages/Filter/Hooks/useFilterApi.ts
Labels: release, Apps, Core, Packages

#387 [Workspace] Fix error dialog not mounting
  src/Core/WorkSpace/src/Components/DataLoadFailed/DumpsterFireDialog.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
  src/Core/WorkSpace/src/Components/WorkSpaceTabs/WorkSpaceTabs.tsx
Labels: Core, WorkSpace

#388 Hotfix v0.3.0 - Error Handeling
  src/Core/WorkSpace/src/Components/DataLoadFailed/DumpsterFireDialog.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
  src/Core/WorkSpace/src/Components/WorkSpaceTabs/WorkSpaceTabs.tsx
Labels: Core, WorkSpace

#389 [Scope change] Fix error parsing
  src/apps/ScopeChangeRequest/hooks/observers/useOctopusErrorHandler.ts
Labels: Apps

#371 [Handover]- chore: add filter config
  src/apps/Handover/index.tsx
  src/apps/Handover/utility/config/filterSetup.ts
  src/apps/Handover/utility/config/tableConfig.tsx
  src/apps/Handover/utility/helpers/daysDiff.ts
  src/apps/Handover/utility/helpers/getFilterDateValues.ts
Labels: Apps

#386 [Scope change] improve queries for PCS
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Area/Area.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/CommPkg/CommPkg.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Discipline/Discipline.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Systems/System.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Tags/Tag.tsx
  src/apps/ScopeChangeRequest/Components/PersonRoleSearch/PCSPersonRoleSearch.tsx
  src/apps/ScopeChangeRequest/hooks/React-Query/useIsReferencesLoading.ts
  src/apps/ScopeChangeRequest/hooks/React-Query/usePreloadCaching.ts
  src/apps/ScopeChangeRequest/hooks/Search/usePcsSearch.ts
  src/apps/ScopeChangeRequest/keys/ProCoSysQueries.ts
Labels: Apps

#390 Feat/scopechange garden config
  src/apps/ScopeChangeRequest/workspaceConfig/sGarden/gardenConfig.ts
  src/components/ParkView/Components/VirtualGarden/styles/Package.styles.ts
Labels: Components, Apps

#394 [SWCR] - fix: week number prefix 0 if less than 10
  src/apps/swcr/utilities/packages.ts
Labels: Apps

#392 [Garden] - chore: sort grouping items
  src/components/ParkView/Components/GroupingSelector.tsx
Labels: Components

#397 [SWCR] - chore: sort status filter items and add custom render
  src/apps/swcr/CustomViews/StatusFilter.tsx
  src/apps/swcr/utilities/filterSetup.tsx
Labels: Apps

#396 [Table & Workorder]- fix:workorder table cells
  src/apps/WorkOrder/utility/tableConfig.tsx
  src/packages/Table/Components/Cells/ProgressCell.tsx
  src/packages/Table/Components/Cells/StatusCell.tsx
  src/packages/Table/Components/Cells/YearWeekCell.tsx
  src/packages/Table/Components/Cells/index.tsx
  src/packages/Table/Components/Styles.ts
  src/packages/Table/Utils/utils.tsx
  src/packages/Table/types.ts
Labels: Apps, Packages

#400 Single line diagram
  src/apps/DisciplineReleaseControl/Components/DetailView/Components/RequestDetailView/Double.tsx
  src/apps/DisciplineReleaseControl/Components/DetailView/Components/RequestDetailView/RequestDetailViewStyles.ts
  src/apps/DisciplineReleaseControl/Components/DetailView/Components/RequestDetailView/Single.tsx
  src/apps/DisciplineReleaseControl/Components/DetailView/ProcessDetailView.tsx
  src/apps/DisciplineReleaseControl/Components/DetailView/processDetailViewStyles.ts
  src/apps/DisciplineReleaseControl/Components/Electro/Components/Cable.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/CircuitAndStarter.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/HeatTracingCable.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/JunctionBox.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/Line.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroNode.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroView.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/electroViewHelpers.ts
  src/apps/DisciplineReleaseControl/Components/Electro/getEleNetworks.ts
  src/apps/DisciplineReleaseControl/Components/Electro/getPipetests.ts
  src/apps/DisciplineReleaseControl/Components/Electro/styles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenItem.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/StatusCircle.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Functions/tableHelpers.ts
  src/apps/DisciplineReleaseControl/Types/eleNetwork.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
Labels: Apps

#401 Fix/single line diagram statuses and cables
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroNode.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/electroViewHelpers.ts
Labels: Apps

#399 [Table] - chore: update styling for progress cell
  src/packages/Table/Components/Cells/ProgressCell.tsx
Labels: Packages

#402 [Workorder & Handover] - fix: remove minwidth styling
  src/apps/Handover/Garden/CustomViews/HandoverGardenItem/GardenItemStyles.ts
  src/apps/WorkOrder/Garden/components/WorkOrderItem/styles.ts
Labels: Apps

#398 [Handover & WorkOrder & SWCR] - chore: refactor and add link to sidesheet gardens
  src/apps/Handover/Garden/CustomViews/index.ts
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSideSheet.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetStatuses/CellWithLink.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetStatuses/NoResourceData.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetStatuses/index.ts
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/DetailsTab/DetailsTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/DetailsTab/DetailsTabStyles.ts
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/DetailsTab/utils.ts
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/McPackagesTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/NcrTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/PunchTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/QueryTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/SwcrTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/UnsignedActionTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/UnsignedTasksTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/WorkOrdersTab.tsx
  src/apps/Handover/Garden/components/HandoverSidesheet/index.ts
  src/apps/Handover/index.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/MccrTab.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/WorkOrderSidesheet.tsx
  src/apps/swcr/CustomViews/SwcrSideSheet.tsx
  src/packages/GardenUtils/src/components/cells/CellWithLink.tsx
  src/packages/GardenUtils/src/components/index.ts
  src/packages/GardenUtils/src/components/sidesheet/SidesheetHeaderContent.tsx
  src/packages/GardenUtils/src/components/sidesheet/index.ts
Labels: Apps, Packages

#339 [Workspace] Pixel pushing header
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
Labels: Core, WorkSpace

#405 [Scope change] KPI last 7 days
  src/apps/ScopeChangeRequest/workspaceConfig/statusBarConfig.ts
Labels: Apps

#404 [Table] Padding around table
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
Labels: Core, WorkSpace

#407 [Table] Fix scrollbar
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
Labels: Core, WorkSpace

#408 [Scope change] No references message
  src/apps/ScopeChangeRequest/Components/DetailView/References.tsx
Labels: Apps

#409 [Piping and Heat trace] - single line diagram improvements
  src/Core/WorkSpace/src/index.ts
  src/apps/DisciplineReleaseControl/Components/Electro/Components/Cable.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/CircuitAndStarter.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/HeatTracingCable.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/JunctionBox.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/Line.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/TestDot.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroNode.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroView.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/electroViewHelpers.ts
  src/apps/DisciplineReleaseControl/Components/Electro/styles.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Styles/ReleaseControlColors.tsx
  src/apps/DisciplineReleaseControl/Styles/SidesheetWrapper.tsx
  src/components/ParkView/Components/VirtualGarden/HeaderContainer.tsx
Labels: Components, Apps, Core, WorkSpace

#410 [Scope change] Workflow refactor
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment/signWithComment.styles.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria/WorkflowCriteria.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria/workflowCriteria.styles.ts
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/index.ts
  src/apps/ScopeChangeRequest/hooks/mutations/useWorkflowSigning.tsx
Labels: Apps

#413 [WorkSpace] - fixing layout
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceViewStyles.ts
  src/Core/WorkSpace/src/Components/WorkSpaceTabs/WorkSpaceTabsStyles.ts
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/components/Layouts/MainLayoutStyles.ts
Labels: Components, Core, WorkSpace

#411 [AKSO procedures] - Added link
  src/apps/apps.ts
Labels: Apps

#414 [Scope change] Revert status bar
  src/apps/ScopeChangeRequest/workspaceConfig/statusBarConfig.ts
Labels: Apps

#403 [Scope change] Work order tab
  package.json
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/apps/ScopeChangeRequest/Components/ErrorBanner/ErrorBanner.styles.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
  src/apps/ScopeChangeRequest/Components/WoProgressBars/EstimateBar.tsx
  src/apps/ScopeChangeRequest/Components/WoProgressBars/ExpendedProgressBar.tsx
  src/apps/ScopeChangeRequest/Components/WoProgressBars/ProgressBar.tsx
  src/apps/ScopeChangeRequest/Components/WoProgressBars/ProgressBarContainer.styles.ts
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrder.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrdersList.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/compactWorkOrder.styles.ts
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/workOrderTable.styles.ts
  src/apps/ScopeChangeRequest/api/FAM/getWorkOrderById.ts
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
  src/apps/ScopeChangeRequest/types/FAM/workOrder.ts
  src/components/Layouts/MainLayout.tsx
  src/components/Layouts/MainLayoutStyles.ts
  yarn.lock
Labels: dependencies, Components, Apps, Core, WorkSpace

#421 [Core] - add user to window
  src/Core/Client/Service/setupUserData.ts
Labels: Portal, Core, Client

#420 [Scope change] Wo table adjustments
  src/Core/Notifications/Components/NotificationCard.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTabTitle.tsx
  src/apps/ScopeChangeRequest/Components/WoProgressBars/EstimateBar.tsx
  src/apps/ScopeChangeRequest/Components/WoProgressBars/ExpendedProgressBar.tsx
  src/apps/ScopeChangeRequest/Components/WoProgressBars/ProgressBar.tsx
  src/apps/ScopeChangeRequest/Components/WoProgressBars/ProgressBarContainer.styles.ts
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrder.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/workOrderTable.styles.ts
  src/apps/ScopeChangeRequest/api/FAM/getWorkOrderById.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
  src/packages/Table/Components/Cells/RelativeDateCell.tsx
Labels: Apps, Core, Packages

#415 [Workspace] - PowerBi is now Analytics and added Handover Anatytics Report
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/WorkSpaceTabs/WorkSpaceTabsStyles.ts
  src/Core/WorkSpace/src/Util/tabsConfig.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/Handover/index.tsx
  src/apps/swcr/index.ts
Labels: Apps, Core, WorkSpace

#419 Feature/insulation boxes
  src/apps/DisciplineReleaseControl/Components/Electro/Components/Cable.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/CircuitAndStarter.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/JunctionBox.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroNode.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroView.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/styles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenItem.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/StatusCircle.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/BoxInsulationTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/CheckListTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/InsulationStatusTableCell.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/InsulationTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheetBanner.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/styles.ts
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowWarningTriangle.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Styles/styles.ts
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/packages/GardenUtils/src/components/StatusCircle.tsx
Labels: Apps, Packages

#423 [Chore] - remove webpack depenedsies
  package.json
  webpack/webpack.config.ts
Labels: dependencies

#425 [Scope change] Databars in table
  src/apps/ScopeChangeRequest/Components/WoProgressBars/EstimateBar.tsx
  src/apps/ScopeChangeRequest/Components/WoProgressBars/ExpendedProgressBar.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#428 [Scope change] Fix save button dissapear in draft
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeForm.styles.ts
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
Labels: Apps

#426 [Scope change] No attachments linked
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
Labels: Apps

#429 [Scope change] Fix scrollbar tabs
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Log/LogTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
Labels: Apps

#430 [Portal] Sidesheet max scroll width
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
Labels: Packages

#433 [Workspace] - fix: styling for workspace wrapper
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceViewStyles.ts
Labels: Core, WorkSpace

#431 [Changelog] - v0.4.0
  Changelog.md
  package.json
Labels: dependencies

#434 [Scope change] fix width table config
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#436 [Scope change] Fix save button
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
Labels: Apps

#438 [Scope change] Fix edit mode button available while in edit mode
  src/apps/ScopeChangeRequest/Atoms/editModeAtom.ts
  src/apps/ScopeChangeRequest/Atoms/scopeChangeAtom.ts
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/hooks/queries/useScopeChangeAccess.ts
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
Labels: Apps

#439 [Scope change] Remove '-' from empty cells
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#440 [Scope change] Fix attachments font size
  src/apps/ScopeChangeRequest/Components/DetailView/Attachments.tsx
Labels: Apps

#441 [Scope change] Fix cancel query
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/Components/Contributors.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/Workflow/Step/Contributor/canContribute.ts
  src/apps/ScopeChangeRequest/keys/queries.ts
Labels: Apps

#442 [Scope change] Wrong title in advanced references
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
Labels: Apps

#443 [Notifications] Fix redirect url
  src/Core/WorkSpace/src/Context/LocationProvider.tsx
Labels: Core, WorkSpace

#444 [Scope change] Add powerBI
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: Apps

#446 [Scope change] Contributor update comment
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/Components/Contributors.tsx
Labels: Apps

#448 [Release] Patch notes
  Changelog.md
  package.json
Labels: dependencies

#449 [Scope change] Fix tag metadata
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Tags/Tag.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/WrapperStyles.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/ScopeChangeRequest/api/Search/PCS/searchTags.ts
  src/apps/ScopeChangeRequest/api/Search/STID/searchDocuments.ts
  src/apps/ScopeChangeRequest/api/Search/searchType.ts
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
  src/apps/ScopeChangeRequest/types/ProCoSys/Tag.ts
Labels: Apps

#445 Patch Release Castberg Project Portal v0.4.1
  Changelog.md
  package.json
  src/Core/WorkSpace/src/Context/LocationProvider.tsx
  src/apps/ScopeChangeRequest/Atoms/editModeAtom.ts
  src/apps/ScopeChangeRequest/Atoms/scopeChangeAtom.ts
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/Attachments.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Tags/Tag.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/WrapperStyles.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/WoProgressBars/EstimateBar.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrder.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Contributor/Components/Contributors.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Access/Workflow/Step/Contributor/canContribute.ts
  src/apps/ScopeChangeRequest/api/Search/PCS/searchTags.ts
  src/apps/ScopeChangeRequest/api/Search/STID/searchDocuments.ts
  src/apps/ScopeChangeRequest/api/Search/searchType.ts
  src/apps/ScopeChangeRequest/hooks/queries/useScopeChangeAccess.ts
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
  src/apps/ScopeChangeRequest/keys/queries.ts
  src/apps/ScopeChangeRequest/types/ProCoSys/Tag.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: dependencies, release, Apps, Core, WorkSpace

#450 [Portal]- Font size must be 14 and logo aligment plus bold for F#¤%
  src/components/Menu/Components/MenuItem/MenuItemStyles.ts
  src/components/Menu/Components/Sheard/Styles.ts
  src/components/TopBar/Logo/Logo.tsx
  src/components/TopBar/TopBar.tsx
  src/components/TopBar/TopBarStyle.ts
Labels: Components, Portal

#451 [Scope change] Widen title field table
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#452 [Scope change] Attachments overflow
  src/apps/ScopeChangeRequest/Components/DetailView/Attachments.tsx
Labels: Apps

#455 [Scope change] KPI value format
  src/apps/ScopeChangeRequest/workspaceConfig/statusBarConfig.ts
Labels: Apps

#454 [Scope change] Send back icon
  src/apps/ScopeChangeRequest/Components/Workflow/Components/DefaultWorkflowDot.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Components/WorkflowIcon.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaDetail.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment/SignWithComment.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/WorkflowCriteria/WorkflowCriteria.tsx
  src/apps/ScopeChangeRequest/Components/WorkflowIcons/DisputedTableIcon.tsx
  src/apps/ScopeChangeRequest/Components/WorkflowIcons/DisputedWorkflowIcon.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Workflow/signCriteria.ts
  src/apps/ScopeChangeRequest/hooks/mutations/useWorkflowSigning.tsx
  src/apps/ScopeChangeRequest/hooks/observers/useOctopusErrorHandler.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/WorkflowCompact.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#456 [Scope change] Fix references overlap
  src/apps/ScopeChangeRequest/Components/SearchReferences/searchReferences.styles.ts
Labels: Apps

#459 [Scope change] Fix api call loop, after rerender
  src/Core/WorkSpace/src/Context/LocationProvider.tsx
Labels: Core, WorkSpace

#457 [Scope change] Remove DOC_ prefix
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/api/Search/STID/searchDocuments.ts
Labels: Apps

#458 [SideSheet] - font header set to 24px
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
Labels: Packages

#424 [Assignments] First draft
  src/Core/Assignments/API/getFusionAssignments.ts
  src/Core/Assignments/Components/AssignmentsCard.tsx
  src/Core/Assignments/Components/assignmentCard.styles.ts
  src/Core/Assignments/Hooks/useAssignments.ts
  src/Core/Assignments/Queries/AssignmentQueries.ts
  src/Core/Assignments/Types/assignment.ts
  src/Core/Notifications/API/getReadNotifications.ts
  src/Core/Notifications/Components/NotificationBell.tsx
  src/Core/Notifications/Components/NotificationCard.tsx
  src/Core/Notifications/Hooks/useNotificationCenter.ts
  src/apps/swcr/utilities/tableSetup.tsx
  src/components/ActionCenter/ActionCenterSidesheet.tsx
  src/components/ActionCenter/AssignmentGroup.tsx
  src/components/ActionCenter/AssignmentList.tsx
  src/components/ActionCenter/AssignmentWrapper.tsx
  src/components/ActionCenter/AssignmentsTab.tsx
  src/components/ActionCenter/DotWithText.tsx
  src/components/ActionCenter/GroupedAssignments.tsx
  src/components/ActionCenter/NotificationsTab.tsx
  src/components/ActionCenter/Utils/getCount.ts
  src/components/ActionCenter/Utils/getCountForNotificationCards.ts
  src/components/ActionCenter/assignmentsTab.styles.ts
  src/components/ActionCenter/handleActionClick.ts
Labels: Components, Apps, Core

#462 changelog
  Changelog.md
  package.json
Labels: dependencies

#461 [WorkSpace] - Dual filter issue (Both PowerBI and Workspace filter simulaniously)
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/HeaderFilterWrapper.tsx
  src/Core/WorkSpace/src/Components/WorkSpace/WorkSpaceView.tsx
  src/Core/WorkSpace/src/Components/WorkspaceFilter/WorkspaceFilter.tsx
  src/Core/WorkSpace/src/Context/ViewProvider.tsx
  src/Core/WorkSpace/src/Tabs/GardenTab.tsx
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/Core/WorkSpace/src/Tabs/TreeTab.tsx
  src/modules/powerBI/src/Components/Filter/FilterItems/Item.tsx
Labels: Core, WorkSpace

#466 [Apps] - chore: change env to prod for swcr, wo, handover
  src/apps/apps.ts
Labels: Apps

#465 [Assignments] Make assignments closer to sketches
  src/Core/Assignments/API/getProCoSysAssignments.ts
  src/Core/Assignments/Components/AssignmentsCard.tsx
  src/Core/Assignments/Components/AssignmentsTab.tsx
  src/Core/Assignments/Components/assignmentCard.styles.ts
  src/Core/Assignments/Components/assignmentsTab.styles.ts
  src/Core/Assignments/Functions/handleActionClick.ts
  src/Core/Assignments/Hooks/useAssignments.ts
  src/Core/Assignments/Queries/AssignmentQueries.ts
  src/Core/Assignments/Types/assignment.ts
  src/Core/Client/Home/Task/NoTasks.tsx
  src/Core/Client/Home/Task/NoTasksStyle.ts
  src/Core/Client/Home/Task/Task.tsx
  src/Core/Client/Home/Task/TaskItem.tsx
  src/Core/Client/Home/Task/TaskItemStyles.ts
  src/Core/Client/Home/Task/TaskStyle.ts
  src/Core/Client/Home/Task/dummyTask.ts
  src/Core/Client/Home/clientHome.tsx
  src/components/ActionCenter/ActionCenterSidesheet.tsx
  src/components/ActionCenter/GroupedAssignments.tsx
Labels: Components, Portal, Core, Client

#469 [Scope change] Remove PowerBI
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: Apps

#470 [Scope change] Disable workorders
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
Labels: Apps

#468 [Release] Changelog
  Changelog.md
  package.json
Labels: dependencies

#471 [Assignments] Hotfix null date
  src/Core/Assignments/Components/AssignmentsCard.tsx
Labels: Core

#472 [Scope change] Enter prevent refresh
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/SignWithComment/SignWithComment.tsx
Labels: Apps

#473 [Scope change] Disable retry
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
Labels: Apps

#474 [Workspace] Fix/failed to mount sidesheet
  src/Core/WorkSpace/src/Context/LocationProvider.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/dataOptions.ts
Labels: Apps, Core, WorkSpace

#478 [Scope change] fix origin id undefined
  src/apps/ScopeChangeRequest/api/PCS/getDocumentIdByNo.ts
Labels: Apps

#480 [Scope change] No references msg changed
  src/apps/ScopeChangeRequest/Components/DetailView/References.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
Labels: Apps

#481 [Scope change] Fix document metadata
  src/apps/ScopeChangeRequest/api/Search/STID/searchDocuments.ts
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
Labels: Apps

#482 [Scope change] Fix workflow icon shrinking with long comment
  src/apps/ScopeChangeRequest/Components/Workflow/Components/WorkflowIcon.tsx
Labels: Apps

#479 [Garden & Sidesheet & Workspace] - hotfix: default value of customgroupbykeys
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
Labels: Core, WorkSpace

#484 [Scope change] Added no workorders linked
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/workOrderTab.styles.ts
  src/apps/ScopeChangeRequest/api/FAM/getWorkOrderById.ts
Labels: Apps

#485 [Release] Changelog
  Changelog.md
  package.json
Labels: dependencies

#487 [Assignments] Renamed to tasks
  src/Core/Assignments/Components/AssignmentsTab.tsx
  src/Core/Client/Home/Task/Task.tsx
  src/components/ActionCenter/ActionCenterSidesheet.tsx
Labels: Components, Portal, Core, Client

#488 fix home screen power bi and added page tp work prep
  src/Core/Client/Home/PbiHome/PbiHome.tsx
  src/Core/Client/Home/clientHome.tsx
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/apps/workPreparation/index.ts
Labels: Portal, Apps, Core, Client
