Repository equinor/lighthouse-client, pull requests merged in 2022-11, with the labels that each got.

#1091 [Garden] - fix: update garden data when its empty array
  src/components/ParkView/Context/ParkViewContext.ts
  src/components/ParkView/Context/ParkViewProvider.tsx
Labels: Components

#1100 [Filter] - fix: add useclickoutside on workspace filter
  src/packages/Filter/Components/FilterGroup/FilterGroup.tsx
Labels: Packages

#1104 [Loop] - fix: update column names from fam
  src/apps/Loop/utility/api/customLoopMccrColumns.ts
  src/apps/Loop/utility/api/index.ts
  src/apps/Loop/utility/config/sidesheetConfig.ts
Labels: Apps

#1107 Changelog version 1.18.0
  Changelog.md
  package.json
Labels: dependencies

#1110 Fix/fam elenetwork datatype
  Changelog.md
  package.json
  src/apps/ReleaseControl/ReleaseControlApp.tsx
  src/packages/CircuitDiagram/src/Mock/circuitMockData.ts
  src/packages/CircuitDiagram/src/types/eleNetwork.ts
Labels: dependencies, Apps, Packages

#1111 Release version 1.18.1
  Changelog.md
  package.json
  src/apps/ReleaseControl/ReleaseControlApp.tsx
  src/packages/CircuitDiagram/src/Mock/circuitMockData.ts
  src/packages/CircuitDiagram/src/types/eleNetwork.ts
Labels: dependencies, Apps, Packages

#1113 Enable edit isolation button in prod
  Changelog.md
  package.json
  src/packages/CircuitDiagram/src/CircuitDiagram.tsx
Labels: dependencies, Packages

#1114 Release version 1.18.2
  Changelog.md
  package.json
  src/packages/CircuitDiagram/src/CircuitDiagram.tsx
Labels: dependencies, Packages

#1105 [CommissioningProcedure] - fix: typo on commissioning
  src/apps/apps.ts
Labels: Apps

#1102 [Workorder] - feat: add 3d to workorder sidesheet tab
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/3dView.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/WorkOrderSidesheet.tsx
Labels: Apps

#1117 [Core] - chore: remove unused code for Core/client/framework
  src/Core/Client/Framwork/Modules/ClientConfig/configurator.ts
  src/Core/Client/Framwork/Modules/ClientConfig/index.ts
  src/Core/Client/Framwork/Modules/ClientConfig/module.ts
  src/Core/Client/Framwork/Modules/ClientConfig/provider.ts
  src/Core/Client/Framwork/Modules/ClientContext/configurator.ts
  src/Core/Client/Framwork/Modules/ClientContext/index.ts
  src/Core/Client/Framwork/Modules/ClientContext/module.ts
  src/Core/Client/Framwork/Modules/ClientContext/provider.ts
  src/Core/Client/Framwork/Modules/Config/configurator.ts
  src/Core/Client/Framwork/Modules/Config/index.ts
  src/Core/Client/Framwork/Modules/Config/module.ts
  src/Core/Client/Framwork/Modules/Config/provider.ts
  src/Core/Client/Framwork/Modules/GlobalState/configurator.ts
  src/Core/Client/Framwork/Modules/GlobalState/index.ts
  src/Core/Client/Framwork/Modules/GlobalState/module.ts
  src/Core/Client/Framwork/Modules/GlobalState/provider.ts
  src/Core/Client/Framwork/Modules/Settings/configurator.ts
  src/Core/Client/Framwork/Modules/Settings/index.ts
  src/Core/Client/Framwork/Modules/Settings/module.ts
  src/Core/Client/Framwork/Modules/Settings/provider.ts
  src/Core/Client/Framwork/index.ts
  src/Core/Client/Framwork/modules.ts
Labels: Portal, Core, Client

#1119 Fix for workflow step drag and drop
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowCustomEditor.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
Labels: Apps

#1122 [Filter] - fix: export memoed component
  src/Core/WorkSpace/src/Components/QuickFilter/FilterItemCheckbox.tsx
  src/modules/powerBI/src/Components/Filter/PopoverGroup/VirtualList.tsx
Labels: Core, WorkSpace

#1116 [ProcosysUrls] - chore: refactor procosysurls package
  jest.config.ts
  src/apps/Loop/components/Sidesheet/Checklists.tsx
  src/apps/Loop/components/Sidesheet/LoopContentTable.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/utility/config/tableConfig.tsx
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/HtCableTable.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/TagTable.tsx
  src/apps/ReleaseControl/components/RelatedObjects/Punch.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/OriginLink.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/CommPkg/CommPkg.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Punch/Punch.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Systems/System.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Tags/Tag.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrder.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
  src/apps/Tags/Components/TagsDetails.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/MccrTab.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/WorkOrderSidesheet.tsx
  src/apps/WorkOrder/utility/tableConfig.tsx
  src/packages/GardenUtils/src/components/sidesheet/tabs/workorder/columns.tsx
  src/packages/ProcosysUrls/index.ts
  src/packages/ProcosysUrls/src/index.ts
  src/packages/ProcosysUrls/src/procosysUrl.ts
  tsconfig.json
  vite.config.ts
Labels: Apps, Packages

#1123 [Loop] - hotfix: scroll loop sidesheet
  src/apps/Loop/components/Sidesheet/sidesheet-styles.ts
Labels: Apps

#1126 [Workorder] - fix: add m12 to material available and parse float project progress
  src/apps/WorkOrder/Garden/utility/statusUtils.ts
  src/apps/WorkOrder/Mock/groupedWorkorder.ts
Labels: Apps

#1127 [SCR] - fix: correct spelling mistake of category
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#1128 [Release] - chore: changelog v1.19.0
  Changelog.md
  package.json
Labels: dependencies

#1132 Changelog version 1.19.1
  Changelog.md
  package.json
Labels: dependencies

#1137 [Workorder] - fix: material status mapping
  src/apps/WorkOrder/Garden/components/WorkOrderItem/WorkOrderItem.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/DetailsTab.tsx
  src/apps/WorkOrder/Garden/utility/statusUtils.ts
  src/apps/WorkOrder/Garden/utility/workorderItemMapping.ts
  src/packages/GardenUtils/src/mapping/materialStatusMap.ts
  src/packages/GardenUtils/src/models/materialStatus.ts
Labels: Apps, Packages

#1135 Feat: add punch workspace
  src/apps/Punch/components/PunchGardenItem/PunchGardenItem.tsx
  src/apps/Punch/components/PunchGardenItem/utils.ts
  src/apps/Punch/components/PunchGroupBySelect.tsx
  src/apps/Punch/components/PunchSidesheet/PunchSidesheet.tsx
  src/apps/Punch/components/PunchSidesheet/Tabs/DetailsTab.tsx
  src/apps/Punch/components/PunchSidesheet/Tabs/index.ts
  src/apps/Punch/components/index.ts
  src/apps/Punch/index.ts
  src/apps/Punch/index.tsx
  src/apps/Punch/types/customGroupByKeys.ts
  src/apps/Punch/types/index.ts
  src/apps/Punch/types/punch.ts
  src/apps/Punch/utility/config/analyticsConfig.ts
  src/apps/Punch/utility/config/filterConfig.tsx
  src/apps/Punch/utility/config/gardenConfig.tsx
  src/apps/Punch/utility/config/index.ts
  src/apps/Punch/utility/config/punchItemMapping.ts
  src/apps/Punch/utility/config/sidesheetConfig.ts
  src/apps/Punch/utility/config/statusBarConfig.tsx
  src/apps/Punch/utility/config/tableConfig.tsx
  src/apps/Punch/utility/helpers/StatusFilter.tsx
  src/apps/Punch/utility/helpers/constants.ts
  src/apps/Punch/utility/helpers/getGroupByKey.ts
  src/apps/Punch/utility/helpers/getKey.ts
  src/apps/Punch/utility/helpers/getStatusOrder.ts
  src/apps/Punch/utility/helpers/index.ts
  src/apps/Punch/utility/helpers/sortPackages.ts
  src/apps/Punch_Dev/components/index.ts
  src/apps/Punch_Dev/types/punch.ts
  src/apps/Punch_Dev/utility/config/filterConfig.ts
  src/apps/Punch_Dev/utility/config/gardenConfig.tsx
  src/apps/Punch_Dev/utility/config/tableConfig.tsx
  src/apps/Punch_Dev/utility/helpers/index.ts
  src/apps/apps.ts
  src/apps/functions.ts
  src/apps/widgets.ts
  src/packages/GardenUtils/src/utils/helpers/dateUtils.ts
Labels: Apps, Packages

#1139 Update to use v1 of custom_scope_tag endpoint
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/components/Form/Inputs/Scope/HtCableTable.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/TagTable.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ScopeChangeRequest/api/FAM/searchHtCable.ts
  src/apps/ScopeChangeRequest/api/FAM/searchTag.ts
  src/apps/ScopeChangeRequest/hooks/Search/useFAMSearch.ts
Labels: Apps

#1140 Query refetching and invalidation in admin
  src/packages/Admin/src/Components/Workspace/WorkflowStatuses.tsx
  src/packages/Admin/src/Components/Workspace/WorkflowSteps.tsx
  src/packages/Admin/src/Components/Workspace/Workflows.tsx
  src/packages/Admin/src/Hooks/useAdminMutation.ts
  src/packages/Admin/src/Hooks/useAdminMutations.ts
  src/packages/Admin/src/Hooks/useIsAdminMutatingOrFetching.ts
  src/packages/Admin/src/Hooks/useIsTemplateLoading.ts
  src/packages/Admin/src/Queries/adminQueryKeys.ts
  src/packages/Admin/src/Queries/queries.ts
Labels: Packages

#1141 Changelog release version 1.20.0
  Changelog.md
  package.json
Labels: dependencies

#1144 [SCR] - feat: reason for voiding and revision scr
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/Loading.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/NotLatestRevisionBanner.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionModal.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionSubmitBar.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/ScopeChangeDetailView.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/VoidRequest.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/VoidedReasonBanner.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/voidRequest.ts
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
Labels: Apps

#1145 [ReleaseControl] - chore: add empty body for void request
  src/apps/ReleaseControl/api/releaseControl/Request/voidReleaseControl.ts
Labels: Apps

#1147 [Punch] - chore: change punch to prod env
  src/apps/apps.ts
Labels: Apps

#1146 [Release] - Changelog v1.21.0
  Changelog.md
  package.json
Labels: dependencies

#1148 Castberg Project Portal Release v.1.21.0
  Changelog.md
  package.json
  src/apps/ReleaseControl/api/releaseControl/Request/voidReleaseControl.ts
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/Loading.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/NotLatestRevisionBanner.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionModal.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionSubmitBar.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/ScopeChangeDetailView.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/VoidRequest.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/VoidedReasonBanner.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/voidRequest.ts
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/apps.ts
Labels: dependencies, Apps

#1150 Feature/move workflow steps
  src/packages/Admin/src/Components/Workspace/TableDropdownMenus.tsx
  src/packages/Admin/src/Hooks/useAdminMutations.ts
  src/packages/Workflow/src/Api/moveStepDown.ts
  src/packages/Workflow/src/Api/moveStepUp.ts
  src/packages/Workflow/src/Components/Workflow/WorkflowEditorHelpers.tsx
  src/packages/Workflow/src/index.ts
Labels: Packages
