Repository equinor/lighthouse-client, pull requests merged in 2022-07, with the labels that each got.

#914 [Loop] - fix: use checklist status instead of content status
  src/apps/Loop/components/Sidesheet/Checklists.tsx
Labels: Apps

#919 Changelog 1.7.3
  Changelog.md
  package.json
Labels: dependencies

#918 Castberg release 1.7.3
  Changelog.md
  package.json
  src/Core/GlobalSearh/Components/GlobalSearch.tsx
  src/Core/GlobalSearh/Components/GlobalSearchStyles.ts
  src/Core/GlobalSearh/Components/SearchResultHeadingStyles.ts
  src/Core/GlobalSearh/Components/SearchResultItem.tsx
  src/Core/GlobalSearh/Components/SearchResultItemContent.tsx
  src/Core/GlobalSearh/Components/SearchResultItemMenu.tsx
  src/Core/GlobalSearh/Components/SearchResultItemStyles.ts
  src/Core/GlobalSearh/Config/Apps/appsSearchRequest.ts
  src/Core/GlobalSearh/Config/ProCoSys/proCoSysSearchMapper.tsx
  src/Core/GlobalSearh/Config/ProCoSys/proCoSysSearchRequest.ts
  src/Core/GlobalSearh/Config/ProCoSys/utils.ts
  src/Core/GlobalSearh/Service/GlobalSearch.ts
  src/Core/GlobalSearh/Service/SearchApi.ts
  src/Core/WorkSpace/src/Components/QuickFilter/FilterItemCheckbox.tsx
  src/apps/Loop/components/Sidesheet/Checklists.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
  src/apps/Tags/Components/3D/3dView.tsx
  src/apps/Tags/Components/TagsDetails.tsx
  src/apps/Tags/Components/sidesheet-styles.ts
  src/apps/swcr/utilities/filterSetup.tsx
  src/components/TopBar/DevBar/DevBar.tsx
  src/components/TopBar/DevBar/DevBarStyles.ts
  src/components/TopBar/TopBarAvatar.tsx
  src/modules/powerBI/src/Components/Filter/FilterGroup/FilterGroup.tsx
  src/modules/powerBI/src/Components/Filter/FilterItems/Item.tsx
  src/modules/powerBI/src/Components/Filter/PopoverGroup/PopoverGroup.tsx
  src/modules/powerBI/src/PowerBI.tsx
  src/packages/Filter/Components/FilterItem/FilterItem.tsx
Labels: dependencies, Components, Portal, Apps, Core, Packages, WorkSpace

#917 Completion status bugfix in p&ht
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
Labels: Apps

#913 No submit button in edit mode without draft state
  src/apps/ReleaseControl/components/Form/ReleaseControlEditForm.tsx
Labels: Apps

#925 [Mechanical Completion] - fix: remove prod flag
  src/apps/MechanicalCompletion/index.ts
Labels: Apps

#927 [Mechanical Completion] - chore: prevent auto columns
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
  src/packages/Table/Components/Cells/DescriptionCell.tsx
Labels: Apps, Packages

#928 [Mechanical Completion]- fix: cchange accessor on map to be status
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
Labels: Apps

#930 Release Castberg Portal v1.7.4
  Changelog.md
  package.json
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/MechanicalCompletion/index.ts
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
  src/apps/ReleaseControl/components/Form/ReleaseControlEditForm.tsx
  src/modules/powerBI/src/Utils/filterSelectionUtils.ts
  src/modules/powerBI/src/Utils/transformData.ts
  src/packages/Table/Components/Cells/DescriptionCell.tsx
Labels: dependencies, Apps, Packages

#934 [Workspace] - feat: use resize observer to fix table height issue
  src/Core/WorkSpace/src/Tabs/ListTab/ListTab.tsx
  src/hooks/index.ts
  src/hooks/useResizeObserver.ts
Labels: Core, WorkSpace

#932 [SCR] - fix: add help text if issue with loading wos
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
  src/apps/ScopeChangeRequest/api/FAM/getWorkOrderById.ts
Labels: Apps

#937 Release Johan Castberg Portal v1.7.5
  Changelog.md
  package.json
  src/Core/WorkSpace/src/Tabs/ListTab/ListTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
  src/apps/ScopeChangeRequest/api/FAM/getWorkOrderById.ts
  src/hooks/index.ts
  src/hooks/useResizeObserver.ts
Labels: dependencies, Apps, Core, WorkSpace
