Repository equinor/lighthouse-client, pull requests merged in 2022-10, with the labels that each got.

#1055 Remove reject option from RC workflow
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaActionBar.tsx
Labels: Apps

#1056 [Piping & HT] - chore: remove prod flag for report
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
Labels: Apps

#1057 [Garden] - hotfix: force a recalc of row count when subgroups are toggled
  src/components/ParkView/Components/VirtualGarden/VirtualGarden.tsx
Labels: Components

#1058 [Release] - changelog v1.15.1
  Changelog.md
  package.json
Labels: dependencies

#1060 [Table] - fix: early return on row click if row is grouped
  src/packages/Table/Components/Table.tsx
Labels: Packages

#1061 Change URL for Quality deviation
  src/apps/apps.ts
Labels: Apps

#1062 [Release] - Changelog v1.15.2
  Changelog.md
  package.json
Labels: dependencies

#1063 [Release] - Johan Castberg Portal v1.15.2
  Changelog.md
  package.json
  src/apps/apps.ts
  src/packages/Table/Components/Table.tsx
Labels: dependencies, Apps, Packages

#1064 Added new report, Progress Status
  src/apps/ProgressStatus/index.ts
  src/apps/apps.ts
Labels: Apps

#1065 [Release] - Changelog v1.15.3
  Changelog.md
  package.json
Labels: dependencies

#1066 [Release] - Johan Castberg Project Portal v1.15.3
  Changelog.md
  package.json
  src/apps/ProgressStatus/index.ts
  src/apps/apps.ts
Labels: dependencies, Apps

#1068 [Progress Status] - chore: prod flag on progress status
  src/apps/apps.ts
Labels: Apps

#1070 Updated RC after FAM update
  src/apps/ReleaseControl/components/Form/Inputs/Scope/TagTable.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ScopeChangeRequest/api/FAM/searchHtCable.ts
  src/apps/ScopeChangeRequest/api/FAM/searchTag.ts
  src/apps/ScopeChangeRequest/hooks/Search/useFAMSearch.ts
Labels: Apps

#1069 [Release] - Changelog v1.15.4
  Changelog.md
  package.json
Labels: dependencies

#1071 Release version 1.15.4
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/Form/Inputs/Scope/TagTable.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ScopeChangeRequest/api/FAM/searchHtCable.ts
  src/apps/ScopeChangeRequest/api/FAM/searchTag.ts
  src/apps/ScopeChangeRequest/hooks/Search/useFAMSearch.ts
  src/apps/apps.ts
Labels: dependencies, Apps

#1072 Functionality to disconnect/isolate equipment in circuit diagram
  src/apps/DisciplineReleaseControl/Components/3D/Helpers/index.ts
  src/apps/DisciplineReleaseControl/Mock/mockData.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/utils/api/getPipetests.ts
  src/apps/DisciplineReleaseControl/utils/config/Datasource/responseAsync.ts
  src/apps/DisciplineReleaseControl/utils/config/Table/tableConfig.tsx
  src/packages/CircuitDiagram/Utils/circuitDiagramHelpers.ts
  src/packages/CircuitDiagram/src/Api/deisolateCircuit.ts
  src/packages/CircuitDiagram/src/Api/disconnectCable.ts
  src/packages/CircuitDiagram/src/Api/getEleNetworks.ts
  src/packages/CircuitDiagram/src/Api/isolateCircuit.ts
  src/packages/CircuitDiagram/src/Api/reconnectCable.ts
  src/packages/CircuitDiagram/src/Api/throwOnError.ts
  src/packages/CircuitDiagram/src/CircuitDiagram.tsx
  src/packages/CircuitDiagram/src/Components/Cable.tsx
  src/packages/CircuitDiagram/src/Components/CableSpiralLeft.tsx
  src/packages/CircuitDiagram/src/Components/CableSpiralRight.tsx
  src/packages/CircuitDiagram/src/Components/CircuitAndStarter.tsx
  src/packages/CircuitDiagram/src/Components/CircuitNode.tsx
  src/packages/CircuitDiagram/src/Components/DisconnectModal.tsx
  src/packages/CircuitDiagram/src/Components/HeatTracingCable.tsx
  src/packages/CircuitDiagram/src/Components/IsolateModal.tsx
  src/packages/CircuitDiagram/src/Components/JunctionBox.tsx
  src/packages/CircuitDiagram/src/Components/Line.tsx
  src/packages/CircuitDiagram/src/Components/SpaceHeater.tsx
  src/packages/CircuitDiagram/src/Components/StatusCircle.tsx
  src/packages/CircuitDiagram/src/Components/TestDot.tsx
  src/packages/CircuitDiagram/src/Mock/circuitMockData.ts
  src/packages/CircuitDiagram/src/types/eleNetwork.ts
  src/packages/CircuitDiagram/styles/cableStyles.ts
  src/packages/CircuitDiagram/styles/circuitStyles.ts
  src/packages/CircuitDiagram/styles/htCableStyles.ts
  src/packages/CircuitDiagram/styles/styles.ts
Labels: Apps, Packages

#1074 [Utils] - feat: react context with refs
  src/packages/Utils/createRefContext.tsx
  src/packages/Utils/index.ts
Labels: Packages

#1076 Include state in RC overdue calculation
  src/apps/ReleaseControl/workspaceConfig/statusBar/statusBarConfig.ts
Labels: Apps

#1078 Critical line filter + new name and data structure
  src/apps/DisciplineReleaseControl/Components/3D/3dView.tsx
  src/apps/DisciplineReleaseControl/Mock/mockData.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/utils/config/Filter/filterConfig.tsx
  src/apps/DisciplineReleaseControl/utils/config/Table/tableConfig.tsx
  src/packages/CircuitDiagram/src/Components/HeatTracingCable.tsx
  src/packages/CircuitDiagram/src/Components/Line.tsx
  src/packages/CircuitDiagram/src/types/pipetestTypes.ts
Labels: Apps, Packages

#1077 Fix/pipetest lines namechange
  src/apps/DisciplineReleaseControl/Components/3D/3dView.tsx
  src/apps/DisciplineReleaseControl/Mock/mockData.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/utils/config/Filter/filterConfig.tsx
  src/apps/DisciplineReleaseControl/utils/config/Table/tableConfig.tsx
  src/packages/CircuitDiagram/src/CircuitDiagram.tsx
  src/packages/CircuitDiagram/src/types/pipetestTypes.ts
Labels: Apps, Packages

#1084 [Notification] - fix: have a fixed size on svg icon
  src/Core/Notifications/Components/NotificationCard.tsx
  src/Core/Notifications/Components/StatusCircle.tsx
  src/Core/Notifications/Components/notification.styles.ts
Labels: Core

#1082 [ReleaseControl] - chore: remove prod flag from pbi
  src/apps/ReleaseControl/ReleaseControlApp.tsx
Labels: Apps

#1080 [Apps]- fix: add description to search options
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/Handover/index.tsx
  src/apps/Loop/index.tsx
  src/apps/MechanicalCompletion/index.ts
  src/apps/ReleaseControl/ReleaseControlApp.tsx
  src/apps/WorkOrder/index.tsx
  src/apps/swcr/index.ts
Labels: Apps

#1086 [Release] - Changelog v.1.16.0
  Changelog.md
  package.json
Labels: dependencies

#1089 P&HT filter for exposed htcable time
  src/apps/DisciplineReleaseControl/Mock/mockData.ts
  src/apps/DisciplineReleaseControl/Types/disciplineReleaseControl.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/__tests__/pipetestStatusHelpers.test.ts
  src/apps/DisciplineReleaseControl/pipetestData.ts
  src/apps/DisciplineReleaseControl/utils/config/Filter/filterConfig.tsx
  src/apps/DisciplineReleaseControl/utils/config/Table/tableConfig.tsx
  src/apps/DisciplineReleaseControl/utils/helpers/statusHelpers.ts
Labels: Apps

#1088 [PBI & Filter] - fix: Button styling width and height too large
  src/modules/powerBI/src/Components/Filter/ExpandedFilter/FilterItems/Header/Styles.tsx
  src/packages/Filter/Components/FilterGroup/FilterGroupStyles.ts
Labels: Packages

#1093 Fix for array grouping in hanging garden
  src/components/ParkView/Utils/groupBy.ts
Labels: Components

#1095 P&HT garden grouping by circuit
  src/apps/DisciplineReleaseControl/utils/config/Garden/gardenConfig.tsx
Labels: Apps

#1094 P&HT current step or ht cable garden group option
  src/apps/DisciplineReleaseControl/Mock/mockData.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/utils/config/Garden/gardenConfig.tsx
  src/apps/DisciplineReleaseControl/utils/config/StatusBar/statusBarConfig.ts
  src/apps/DisciplineReleaseControl/utils/helpers/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/utils/helpers/statusHelpers.ts
Labels: Apps

#1097 Filters for isolated and disconnected equipment
  src/apps/DisciplineReleaseControl/utils/config/Filter/filterConfig.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
Labels: Apps

#1098 Search option for ht cable
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
Labels: Apps

#1099 Changelog version 1.17.0
  Changelog.md
  package.json
Labels: dependencies

#1101 Release version 1.17.0
  Changelog.md
  package.json
  src/apps/DisciplineReleaseControl/DisciplineReleaseControlApp.tsx
  src/apps/DisciplineReleaseControl/Mock/mockData.ts
  src/apps/DisciplineReleaseControl/Types/disciplineReleaseControl.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/__tests__/pipetestStatusHelpers.test.ts
  src/apps/DisciplineReleaseControl/pipetestData.ts
  src/apps/DisciplineReleaseControl/utils/config/Filter/filterConfig.tsx
  src/apps/DisciplineReleaseControl/utils/config/Garden/gardenConfig.tsx
  src/apps/DisciplineReleaseControl/utils/config/StatusBar/statusBarConfig.ts
  src/apps/DisciplineReleaseControl/utils/config/Table/tableConfig.tsx
  src/apps/DisciplineReleaseControl/utils/helpers/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/utils/helpers/statusHelpers.ts
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
  src/apps/ReleaseControl/workspaceConfig/statusBar/statusBarConfig.ts
  src/components/ParkView/Utils/groupBy.ts
  src/modules/powerBI/src/Components/Filter/ExpandedFilter/FilterItems/Header/Styles.tsx
  src/packages/Filter/Components/FilterGroup/FilterGroupStyles.ts
Labels: dependencies, Components, Apps, Packages
