Repository equinor/lighthouse-client, pull requests merged in 2022-06, with the labels that each got.

#677 [MC] - chore: rename table headers
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
Labels: Apps

#678 [Handover] - chore: rename table header
  src/apps/Handover/utility/config/tableConfig.tsx
Labels: Apps

#672 [Workorder] - feat: databars on hours in table
  src/apps/WorkOrder/components/EstimateBar.tsx
  src/apps/WorkOrder/components/ExpendedProgressBar.tsx
  src/apps/WorkOrder/components/ProgressBarContainer.styles.ts
  src/apps/WorkOrder/components/index.ts
  src/apps/WorkOrder/utility/tableConfig.tsx
Labels: Apps

#683 [Handover] - feat: show warning icon if os and rfcc accepted
  src/apps/Handover/Garden/CustomViews/HandoverGardenItem/GardenItemStyles.ts
  src/apps/Handover/Garden/CustomViews/HandoverGardenItem/HandoverGardenItem.tsx
  src/apps/Handover/Garden/components/Icons/WarningIcon.tsx
Labels: Apps

#676 [Table] - chore: remove aggregated when grouping
  src/packages/Table/Components/Table.tsx
Labels: Packages

#680 [Handover] - quickfix: tabs scroll into view when clicked
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSideSheet.tsx
Labels: Apps

#664 [Table] - fix: replace N/A date with empty string for YearWeekCell
  src/apps/MechanicalCompletion/index.ts
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
  src/packages/Table/Components/Cells/YearWeekCell.tsx
Labels: Apps, Packages

#685 [Scope change] Edit mode attachments styling fix
  src/apps/ScopeChangeRequest/Components/Attachments/RequestAttachmentsList/RequestAttachmentsList.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeForm.styles.ts
Labels: Apps

#684 [Portal] Location breadcrumbs show group name for group view
  src/components/TopBar/BreadCrumbs/Breadcrumbs.tsx
Labels: Components, Portal

#686 [Portal] Hide disabled menu items
  src/components/Menu/Components/MenuItem/MenuItem.tsx
Labels: Components, Portal

#669 [Workspace] Help page tab
  src/Core/WorkSpace/src/Icons/Help.tsx
  src/Core/WorkSpace/src/Tabs/HelpPageTab.tsx
  src/Core/WorkSpace/src/Util/tabsConfig.ts
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: Apps, Core, WorkSpace

#665 [Workspace] Default garden color function
  src/apps/ScopeChangeRequest/workspaceConfig/sGarden/gardenConfig.ts
  src/components/ParkView/Components/VirtualGarden/DefaultGardenItem.tsx
  src/components/ParkView/Components/VirtualGarden/GardenItemContainer.tsx
  src/components/ParkView/Components/VirtualGarden/styles/Package.styles.ts
  src/components/ParkView/Context/ParkViewProvider.tsx
  src/components/ParkView/Models/gardenOptions.ts
Labels: Components, Apps

#652 [Tasks] Workspace
  src/apps/Tasks/TasksApp.tsx
  src/apps/apps.ts
Labels: Apps

#693 Feature/release control workflow improvements
  src/apps/ReleaseControl/Atoms/editModeAtom.ts
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/Atoms/releaseControlAtom.ts
  src/apps/ReleaseControl/Enums/cacheTimes.ts
  src/apps/ReleaseControl/Styles/WrapperStyles.ts
  src/apps/ReleaseControl/api/releaseControl/PCS/getAreaByCode.ts
  src/apps/ReleaseControl/api/releaseControl/PCS/getFunctionalRoles.ts
  src/apps/ReleaseControl/api/releaseControl/PCS/getTagById.ts
  src/apps/ReleaseControl/api/releaseControl/Request/index.ts
  src/apps/ReleaseControl/api/releaseControl/Request/voidReleaseControl.ts
  src/apps/ReleaseControl/components/ChevronList/ChevronList.tsx
  src/apps/ReleaseControl/components/Factory/FactoryComponent.tsx
  src/apps/ReleaseControl/components/Form/Inputs/PlannedDueDate/PlannedDueDate.tsx
  src/apps/ReleaseControl/components/Form/Inputs/References/References.tsx
  src/apps/ReleaseControl/components/Form/ReleaseControlEditForm.tsx
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/DraggableIcon.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowCustomEditor.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
  src/apps/ReleaseControl/components/Form/releaseControlProcessForm.styles.ts
  src/apps/ReleaseControl/components/RelatedObjects/Area.tsx
  src/apps/ReleaseControl/components/RelatedObjects/ReferencesList.tsx
  src/apps/ReleaseControl/components/RelatedObjects/Tag.tsx
  src/apps/ReleaseControl/components/Workflow/Components/WorkflowIcon.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/Criteria.tsx
  src/apps/ReleaseControl/components/Workflow/Workflow.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlSidesheet.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/DetailsTab.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/updateContext.ts
  src/apps/ReleaseControl/hooks/ProCoSysQueries.ts
  src/apps/ReleaseControl/hooks/useConditionalRender.ts
  src/apps/ReleaseControl/hooks/useGetReleaseControl.ts
  src/apps/ReleaseControl/hooks/useReleaseControlAccess.ts
  src/apps/ReleaseControl/hooks/useReleaseControlContext.ts
  src/apps/ReleaseControl/hooks/useSidesheetEffects.ts
  src/apps/ReleaseControl/hooks/useSidesheetEffects.tsx
  src/apps/ReleaseControl/types/PCS/Area.ts
  src/apps/ReleaseControl/types/PCS/ProCoSysTypes.ts
  src/apps/ReleaseControl/types/PCS/STIDTypes.ts
  src/apps/ReleaseControl/types/PCS/Tag.ts
  src/apps/ReleaseControl/types/functionalRole.ts
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ReleaseControl/workspaceConfig/DataCreator/dataCreatorConfig.tsx
  src/apps/ReleaseControl/workspaceConfig/table/tableConfig.tsx
  src/apps/Tasks/TasksApp.tsx
Labels: Apps

#697 feature/Possibility to turn on/off the rest of the 3D model
  packages/echo3dViewer/src/services/echo3dBaseSelectionHandler.ts
  src/packages/ModelViewer/ModelViewer.tsx
  src/packages/ModelViewer/ModelViewerStyles.ts
  src/packages/ModelViewer/components/selectionMenu.tsx
  src/packages/ModelViewer/context/modelViewerContext.tsx
  src/packages/ModelViewer/icons/ElectroIcon.tsx
  src/packages/ModelViewer/types/plants.ts
Labels: Packages

#695 [Mechanical Completion] - feat: mc kpis
  src/apps/MechanicalCompletion/index.ts
  src/apps/MechanicalCompletion/utils/config/statusBarConfig.tsx
Labels: Apps

#654 [Scope change] WIP batch import of tags
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/NotFoundList.tsx
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/SubResult.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/ScopeChangeReferences/ScopeChangeReferences.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/ScopeChangeRequest/api/PCS/Batch/batchCommPkg.ts
  src/apps/ScopeChangeRequest/api/PCS/Batch/batchTag.ts
  src/apps/ScopeChangeRequest/api/PCS/Batch/index.ts
  src/apps/ScopeChangeRequest/types/ProCoSys/ProCoSysTypes.ts
Labels: Apps

#703 Changelog 1.4.2
  Changelog.md
  package.json
Labels: dependencies

#705 [Fix] access checks blocking portal load
  src/Core/Client/Service/createClient.ts
  src/FusionModules/DataCreatorModule/provider.ts
Labels: Portal, Core, Client

#701 [Table] - fix: stop propagation on expand click
  src/packages/Table/Components/GoupedCell.tsx
  src/packages/Table/Types/types.ts
Labels: Packages

#699 [Mechanical Completion] - chore: change mc to prod env
  src/apps/apps.ts
Labels: Apps

#692 [Workspace] Green icon for selected tab
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/ToggleButton.tsx
  src/components/ParkView/Components/VirtualGarden/styles/Container.styles.ts
Labels: Components, Core, WorkSpace

#702 [Workspace] Fix creator title
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
Labels: Core, WorkSpace

#707 Changelog 1.4.3
  Changelog.md
  package.json
Labels: dependencies

#709 [Scope change] Placeholder text missing
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
Labels: Apps

#710 [Scope change] Growing description field
  src/apps/ScopeChangeRequest/Components/Form/Inputs/DescriptionInput/DescriptionInput.tsx
Labels: Apps

#708 Castberg Release 1.4.3
  Changelog.md
  package.json
  src/Core/Client/Service/createClient.ts
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/ToggleButton.tsx
  src/FusionModules/DataCreatorModule/provider.ts
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/DescriptionInput/DescriptionInput.tsx
  src/apps/ScopeChangeRequest/api/PCS/getAreaByCode.ts
  src/apps/ScopeChangeRequest/api/PCS/getCommPkgById.ts
  src/apps/ScopeChangeRequest/api/PCS/getDisciplines.ts
  src/apps/ScopeChangeRequest/api/PCS/getFunctionalRoles.ts
  src/apps/ScopeChangeRequest/api/PCS/getSystems.ts
  src/apps/ScopeChangeRequest/api/PCS/getTagById.ts
  src/apps/ScopeChangeRequest/keys/ProCoSysQueries.ts
  src/apps/apps.ts
  src/components/ParkView/Components/VirtualGarden/styles/Container.styles.ts
  src/packages/Table/Components/GoupedCell.tsx
  src/packages/Table/Types/types.ts
Labels: dependencies, release, Components, Portal, Apps, Core, Packages, WorkSpace, Client

#711 [Garden] Fix scroll in garden
  src/Core/WorkSpace/src/Tabs/GardenTab.tsx
  src/components/ParkView/Components/VirtualGarden/styles/Container.styles.ts
Labels: Components, Core, WorkSpace

#713 [Scope change] PowerBI dev fix
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: Apps

#714 [Mechanical Completion] - chore: analytics config for mc
  src/apps/MechanicalCompletion/index.ts
Labels: Apps

#715 [Changelog] - Release 1.4.4
  Changelog.md
  package.json
Labels: dependencies

#716 Release Castberg project portal v1.4.4
  Changelog.md
  package.json
  src/Core/WorkSpace/src/Tabs/GardenTab.tsx
  src/apps/MechanicalCompletion/index.ts
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/components/ParkView/Components/VirtualGarden/styles/Container.styles.ts
Labels: dependencies, Components, Apps, Core, WorkSpace

#720 Feature/conditionally show electrical tags
  src/apps/DisciplineReleaseControl/Components/3D/3dView.tsx
  src/apps/DisciplineReleaseControl/Components/3D/3dViewStyles.ts
  src/apps/DisciplineReleaseControl/Components/3D/icons/ElectroIcon.tsx
  src/apps/DisciplineReleaseControl/Components/3D/index.ts
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroView.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/styles.ts
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Filter/filterConfig.tsx
  src/packages/ModelViewer/ModelViewer.tsx
  src/packages/ModelViewer/ModelViewerStyles.ts
  src/packages/ModelViewer/components/selectionMenu.tsx
  src/packages/ModelViewer/context/modelViewerContext.tsx
Labels: Apps, Packages

#723 [MC] - chore: prod check for pbi mc
  src/apps/MechanicalCompletion/index.ts
Labels: Apps

#724 [Changelog] - Release 1.4.5
  Changelog.md
  package.json
Labels: dependencies

#725 Release Castberg Project Portal v1.4.5
  .docker/Dockerfile
  Changelog.md
  package.json
  src/apps/DisciplineReleaseControl/Components/3D/3dView.tsx
  src/apps/DisciplineReleaseControl/Components/3D/3dViewStyles.ts
  src/apps/DisciplineReleaseControl/Components/3D/icons/ElectroIcon.tsx
  src/apps/DisciplineReleaseControl/Components/3D/index.ts
  src/apps/DisciplineReleaseControl/Components/Electro/ElectroView.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/styles.ts
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Filter/filterConfig.tsx
  src/apps/MechanicalCompletion/index.ts
  src/packages/ModelViewer/ModelViewer.tsx
  src/packages/ModelViewer/ModelViewerStyles.ts
  src/packages/ModelViewer/components/selectionMenu.tsx
  src/packages/ModelViewer/context/modelViewerContext.tsx
Labels: dependencies, Apps, Packages

#717 [Notifications] updated design
  src/Core/Notifications/Components/NotificationCard.tsx
  src/Core/Notifications/Components/NotificationCardStyles.tsx
  src/Core/Notifications/Hooks/useNotificationCenter.ts
  src/components/ActionCenter/ActionCenterSidesheet.tsx
  src/components/ActionCenter/NotificationsTab.tsx
  src/components/ActionCenter/TabTitle.tsx
Labels: Components, Core

#718 [Scope change] filter crashing table
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/Criteria.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Workflow.tsx
  src/apps/ScopeChangeRequest/hooks/mutations/useWorkflowSigning.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/statusBarConfig.ts
  src/packages/Filter/__tests__/doesItemPass.test.ts
Labels: Apps, Packages

#712 [Scope change] Lookup tags from mc pkg
  src/apps/ScopeChangeRequest/api/PCS/Batch/getAllTagsFromMcPkg.ts
  src/apps/ScopeChangeRequest/api/PCS/getTagById.ts
Labels: Apps

#691 [Workspace] Add background color to PowerBI tab
  src/Core/WorkSpace/src/Tabs/PowerBiTab.tsx
Labels: Core, WorkSpace

#727 Group by new HT cable RFC instead of earliest pipetest RFC
  src/apps/DisciplineReleaseControl/Components/Garden/gardenSetup.ts
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Table/tableConfig.tsx
Labels: Apps

#722 [Checklist & Query] - chore: add pages to query and checklist
  src/apps/Checklist/index.ts
  src/apps/PowerBI/QueryReport.tsx
  src/apps/PowerBI/index.ts
  src/apps/Query/index.ts
  src/apps/apps.ts
Labels: Apps

#696 [Handover] - chore: handover kpi refactor
  src/apps/Handover/Garden/components/statusItems.ts
  src/apps/Handover/index.tsx
  src/apps/Handover/utility/config/statusBarConfig.tsx
  src/apps/Handover/utility/helpers/getStatusBarData.ts
Labels: Apps

#719 [Scope change] Search punch list item reference
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/BatchCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/AdvancedDocumentSearch/advancedSearch.styles.ts
  src/apps/ScopeChangeRequest/Components/DetailView/References.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Area/Area.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/CommPkg/CommPkg.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Discipline/Discipline.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Punch/Punch.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Systems/System.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Tags/Tag.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/WrapperStyles.tsx
  src/apps/ScopeChangeRequest/Components/Form/DisciplineGuesstimate/DisciplineGuesstimate.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/ScopeChangeReferences/ScopeChangeReferences.tsx
  src/apps/ScopeChangeRequest/Components/PersonRoleSearch/PCSPersonRoleSearch.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SelectedReference.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/getReferenceIcon.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/searchReferences.styles.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/GuesstimateDisciplineDetails/GuesstimateDisciplineDetails.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/StidDocument/StidDocument.tsx
  src/apps/ScopeChangeRequest/Components/StidDocument/stidDocument.styles.ts
  src/apps/ScopeChangeRequest/api/FAM/Batch/getBatchPunch.ts
  src/apps/ScopeChangeRequest/api/FAM/getPunchListItemByNo.ts
  src/apps/ScopeChangeRequest/api/FAM/searchPunchListItems.ts
  src/apps/ScopeChangeRequest/api/PCS/Batch/batchCommPkg.ts
  src/apps/ScopeChangeRequest/api/PCS/Batch/batchTag.ts
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/initiateScopeChange.ts
  src/apps/ScopeChangeRequest/api/Search/PCS/searchArea.ts
  src/apps/ScopeChangeRequest/api/Search/searchType.ts
  src/apps/ScopeChangeRequest/hooks/React-Query/usePreloadCaching.ts
  src/apps/ScopeChangeRequest/hooks/Search/useFAMSearch.ts
  src/apps/ScopeChangeRequest/hooks/Search/usePcsSearch.ts
  src/apps/ScopeChangeRequest/hooks/Search/useReferencesSearch.ts
  src/apps/ScopeChangeRequest/keys/FamQueries.ts
  src/apps/ScopeChangeRequest/keys/ProCoSysQueries.ts
  src/apps/ScopeChangeRequest/types/FAM/famQuery.ts
  src/apps/ScopeChangeRequest/types/FAM/punchListItem.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
Labels: Apps

#700 [Workspace & PBI Viewer] - chore: remove prod check for bookmark dropdown
  src/Core/PowerBiViewer/src/Components/PowerBiViewerHeader/PowerBiViewerHeader.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
Labels: Core, WorkSpace

#728 chore: upgrade vite packages to latest
  package.json
  yarn.lock
Labels: dependencies

#732 [Scope change] Hotfix prod
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
  src/apps/ScopeChangeRequest/api/FAM/getWorkOrderById.ts
Labels: Apps

#735 [Changelog] Release 1.4.6
  Changelog.md
  package.json
Labels: dependencies

#736 [Scope change] Fix null date on WO
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrder.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrdersList.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
  src/apps/ScopeChangeRequest/types/FAM/workOrder.ts
Labels: Apps

#741 added project shearpoint app link
  src/apps/apps.ts
Labels: Apps

#729 [Housekeeping] Remove comlink
  package.json
  src/packages/WebWorkers/index.ts
Labels: dependencies, Packages

#731 [Scope change] Small UI tweaks
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
Labels: Apps

#742 [Table] Added column picker
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/packages/Table/Components/Table.tsx
  src/packages/Table/Components/TableConfigBar/ColumnPicker/ColumnPicker.tsx
  src/packages/Table/Components/TableConfigBar/ColumnPicker/columnPicker.styles.ts
  src/packages/Table/Components/TableConfigBar/TableConfigBar.tsx
  src/packages/Table/Hooks/useColumns.ts
Labels: Core, Packages, WorkSpace

#730 [Scope change] New design references
  src/apps/ScopeChangeRequest/Components/DetailView/References.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Area/Area.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/CommPkg/CommPkg.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Discipline/Discipline.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Systems/System.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Tags/Tag.tsx
  src/apps/ScopeChangeRequest/Components/StidDocument/StidDocument.tsx
Labels: Apps

#675 [WIP] -Feat/bookmarks portal redirect
  src/Core/PowerBiViewer/src/PowerBiViewer.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Context/BookmarkContext.tsx
  src/Core/WorkSpace/src/Context/LocationProvider.tsx
  src/Core/httpClient/src/baseClient.ts
  src/components/TopBar/TopBar.tsx
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkDropdown.styles.ts
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkDropdown.tsx
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkList.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/AppBookmarks.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/AppGroup.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/BookmarkEntry.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/BookmarksSidesheet.styles.ts
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/BookmarksSidesheet.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/MenuOptions.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/Modal/DeleteModalContent.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/Modal/EditModalContent.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/Modal/Modal.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/Modal/ShareModalContent.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/Modal/UnfavouriteModalContent.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/Modal/UnshareModalContent.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/Modal/index.ts
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/Modal/modal.styles.ts
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/groupBookmarksBySubSystemAppKey.ts
  src/packages/BookmarksManager/src/components/index.ts
  src/packages/BookmarksManager/src/hooks/index.ts
  src/packages/BookmarksManager/src/hooks/useBookmarkMutations.ts
  src/packages/BookmarksManager/src/hooks/useDeleteBookmark.ts
  src/packages/BookmarksManager/src/hooks/useGetAllBookmarks.ts
  src/packages/BookmarksManager/src/hooks/useGetBookmarkById.ts
  src/packages/BookmarksManager/src/hooks/useGetBookmarksByAppKey.ts
  src/packages/BookmarksManager/src/types/bookmarkResponse.ts
  src/packages/BookmarksManager/src/utils/api/favouriteBookmark.ts
  src/packages/BookmarksManager/src/utils/api/getAllBookmarks.ts
  src/packages/BookmarksManager/src/utils/api/getBookmarkById.ts
  src/packages/BookmarksManager/src/utils/api/headBookmark.ts
  src/packages/BookmarksManager/src/utils/api/index.ts
  src/packages/BookmarksManager/src/utils/api/patchBookmark.ts
  src/packages/BookmarksManager/src/utils/api/unfavouriteBookmark.ts
  src/packages/BookmarksManager/src/utils/bookmarkKeys.ts
  src/packages/Sidesheet/Components/PopoutSidesheet.tsx
Labels: Components, Portal, Core, Packages, WorkSpace

#746 [Scope change] Punch as reference
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/DetailView/References.tsx
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
  src/apps/ScopeChangeRequest/api/ScopeChange/Request/initiateScopeChange.ts
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#739 [Scope change] Fix KPI approved count
  src/apps/ScopeChangeRequest/workspaceConfig/statusBarConfig.ts
Labels: Apps

#748 [Scope change] Fix custom columns breaking on group
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#744 [Workspace] Fix column picker resetting
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
Labels: Core, WorkSpace

#747 [Handover] - chore: Comm status filter
  src/apps/Handover/utility/config/filterSetup.ts
Labels: Apps

#749 [Scope change] fix sorting on mhrs columns
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#750 [Scope change] update page id PBI
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: Apps

#752 Remove 3D to fix error?
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
Labels: Apps

#754 Remove 3D to fix prod sidesheet
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
Labels: Apps

#751 Changelog 1.4.8
  Changelog.md
  package.json
Labels: dependencies

#745 Feature/implement tracking of tags in 3 d model
  packages/echo3dViewer/src/index.ts
  packages/echo3dViewer/src/services/echo3dBaseSelectionHandler.ts
  packages/echo3dViewer/src/services/echo3dMultiSelectionHandler.ts
  packages/echo3dViewer/src/types/selectedNodeInformation.ts
  packages/echo3dViewer/src/utils/cameraUtils.ts
  src/apps/DisciplineReleaseControl/Components/3D/3dView.tsx
  src/apps/DisciplineReleaseControl/Components/3D/3dViewStyles.ts
  src/apps/DisciplineReleaseControl/Components/3D/Helpers/index.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/packages/ModelViewer/ModelViewer.tsx
  src/packages/ModelViewer/components/TagIcon.tsx
  src/packages/ModelViewer/components/TagIconShadow.tsx
  src/packages/ModelViewer/components/selectionMenu.tsx
  src/packages/ModelViewer/components/tagOverlay.tsx
  src/packages/ModelViewer/context/modelViewerContext.tsx
  src/packages/ModelViewer/hooks/useLoadModel.ts
  src/packages/ModelViewer/hooks/useOverlay.ts
  src/packages/ModelViewer/mocTags/5602-M02.ts
  src/packages/ModelViewer/mocTags/AP300.ts
  src/packages/ModelViewer/types/plants.ts
  src/packages/ModelViewer/utils/getCurrentContextModel.ts
  src/packages/ModelViewer/utils/selectTags.ts
Labels: Apps, Packages

#757 [Scope change] Fix sorting on category, scope, state
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#758 bug/fixing selection on ht in electro view
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
  src/apps/DisciplineReleaseControl/Components/Electro/Components/HeatTracingCable.tsx
Labels: Apps, Core, WorkSpace

#756 [Workspace] Column picker resets
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/apps/Construction/Components/SidesheetContent.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/CheckListTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/InsulationTable.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/WorkOrderTable.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
  src/packages/GardenUtils/src/components/sidesheet/TabTable.tsx
  src/packages/Sidesheet/Components/DefaultTableView.tsx
  src/packages/Table/Components/Table.tsx
  src/packages/Table/Types/types.ts
Labels: Apps, Core, Packages, WorkSpace

#760 Changelog 1.4.9
  Changelog.md
  package.json
Labels: dependencies

#765 [HT-PipeTest] - Change tab title to 3d
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
Labels: Apps

#767 [Workspace] Add search to workspace
  src/Core/WorkSpace/src/Components/DataViewerHeader/CreatorButton/CreatorButton.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/HeaderTabButtons/HeaderTabButtons.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/PowerBIPages/PowerBIPages.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/PowerBiHeader.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/RefreshButton/RefreshButton.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/WorkspaceHeader.tsx
  src/Core/WorkSpace/src/Components/Search/Search.tsx
  src/apps/Handover/index.tsx
  src/apps/ReleaseControl/hooks/useSidesheetEffects.tsx
  src/components/OverlayMenu/src/components/ButtonMenu/ButtonMenu.tsx
  src/components/OverlayMenu/src/components/IconMenu/IconMenu.tsx
  src/components/OverlayMenu/src/types/menuItem.ts
  src/packages/Sidesheet/Types/SidesheetApi.ts
Labels: Components, Apps, Core, Packages, WorkSpace

#764 [Scope change] Update table config
  src/Core/WorkSpace/src/Tabs/ListTab.tsx
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
  src/apps/Construction/Components/SidesheetContent.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
  src/packages/Sidesheet/Components/DefaultTableView.tsx
  src/packages/Table/Hooks/useColumns.ts
  src/packages/Table/Utils/generateColumns.tsx
Labels: Apps, Core, Packages, WorkSpace

#768 [Loop] - feat: init loop app (only dev)
  src/apps/Loop/components/LoopGroupBySelect.tsx
  src/apps/Loop/components/Sidesheet/Banner.tsx
  src/apps/Loop/components/Sidesheet/BannerItem.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/components/index.ts
  src/apps/Loop/index.tsx
  src/apps/Loop/types/customGroupByKeys.ts
  src/apps/Loop/types/index.ts
  src/apps/Loop/types/loop.ts
  src/apps/Loop/utility/config/filterConfig.ts
  src/apps/Loop/utility/config/gardenConfig.ts
  src/apps/Loop/utility/config/index.ts
  src/apps/Loop/utility/config/sidesheetConfig.ts
  src/apps/Loop/utility/config/tableConfig.ts
  src/apps/Loop/utility/helpers/fam.ts
  src/apps/Loop/utility/helpers/getGroupByKey.ts
  src/apps/apps.ts
  src/apps/functions.ts
  src/apps/widgets.ts
Labels: Apps

#743 Feature/ht group styling
  src/apps/DisciplineReleaseControl/Components/Garden/GardenItemStyles.ts
  src/apps/DisciplineReleaseControl/Components/Garden/ReleaseControlGardenGroupView.tsx
  src/apps/DisciplineReleaseControl/Components/Garden/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheetBanner.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowCompact.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowDot.tsx
  src/apps/DisciplineReleaseControl/Components/Workflow/Components/WorkflowDotUnderline.tsx
  src/apps/DisciplineReleaseControl/Types/pipetest.ts
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Garden/gardenConfig.tsx
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Table/tableConfig.tsx
  src/components/ParkView/Icons/Chevron.tsx
Labels: Components, Apps

#753 [Scope change] Clear errors on request change
  src/apps/ScopeChangeRequest/Components/ErrorBanner/ErrorBanner.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/hooks/queries/useGetScopeChangeRequest.ts
Labels: Apps

#770 [Loop] - chore: loop table config
  src/apps/Loop/utility/config/tableConfig.ts
  src/apps/Loop/utility/config/tableConfig.tsx
Labels: Apps

#771 [Loop] - fix: null date check
  src/apps/Loop/utility/config/gardenConfig.ts
  src/apps/Loop/utility/helpers/getGroupByKey.ts
Labels: Apps

#774 [Workorder] - fix: popover mccr showing wrong status
  src/apps/WorkOrder/Garden/components/Popover/WorkOrderPopover.tsx
Labels: Apps

#773 Feature/update release control steps
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/components/Form/ReleaseControlEditForm.tsx
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/updateContext.ts
  src/apps/ReleaseControl/types/releaseControl.ts
Labels: Apps

#778 Changelog 1.5.0 + release control test
  Changelog.md
  package.json
  src/apps/apps.ts
Labels: dependencies, Apps

#777 [Filter] V2 compact filter
  src/Core/Dashboard/Components/DashboardPage/DashbaordViwer.tsx
  src/Core/WorkSpace/src/Components/DataViewerHeader/WorkspaceHeader.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/FilterGroup.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/FilterItemCheckbox.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/FilterQuickSearch.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/QuickFilter.tsx
  src/Core/WorkSpace/src/Components/Search/Search.tsx
  src/Core/WorkSpace/src/Components/WorkspaceFilter/WorkspaceFilter.tsx
  src/apps/DisciplineReleaseControl/WorkspaceConfig/Filter/filterConfig.tsx
  src/apps/Handover/utility/config/filterSetup.ts
  src/apps/MechanicalCompletion/utils/config/filterConfig.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
  src/apps/WorkOrder/utility/filterConfig.tsx
  src/apps/swcr/utilities/filterSetup.tsx
  src/packages/Filter/Components/FilterView/FilterTypes.tsx
  src/packages/Filter/Components/FilterView/FilterView-style.ts
  src/packages/Filter/Components/FilterView/FilterView.tsx
  src/packages/Filter/Hooks/useFilterApi.ts
  src/packages/Filter/Types/filter.ts
Labels: Apps, Core, Packages, WorkSpace

#769 [Portal] Central URL object for PCS
  src/apps/Construction/Components/SidesheetContent.tsx
  src/apps/ReleaseControl/components/RelatedObjects/Tag.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/OriginLink.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/References.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/CommPkg/CommPkg.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Punch/Punch.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Systems/System.tsx
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/Tags/Tag.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrder.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
  src/packages/ProCoSysUrls/procosysUrl.ts
  tsconfig.json
  vite.config.ts
Labels: Apps, Packages

#775 [Table] - chore: redesign of status cell
  src/packages/Table/Components/Cells/StatusCell.tsx
Labels: Packages

#781 [Loop] - chore: add analytics to loop
  src/apps/Loop/index.tsx
Labels: Apps

#782 fix/ 3D nologer works beacuse of echo model loading change
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
Labels: release, Apps

#780 [Filter] Workspace search refactor
  src/Core/WorkSpace/src/Components/QuickFilter/FilterGroup.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/FilterGroup/FilterGroup.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/FilterGroup/FilterGroupPopoverMenu.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/FilterGroup/groupStyles.ts
  src/Core/WorkSpace/src/Components/QuickFilter/FilterItemCheckbox.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/FilterQuickSearch.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/Icons/FilterClear.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/Icons/FilterCollapsIcon.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/Icons/FilterExpandIcon.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/QuickFilter.tsx
  src/apps/ScopeChangeRequest/ScopeChangeRequestApp.tsx
Labels: Apps, Core, WorkSpace

#784 [Bookmarks]- fix: use hook for saving bookmark to invalidate
  src/packages/BookmarksManager/src/hooks/useBookmarks.ts
Labels: Packages

#776 [Table] - chore: better typing for custom column cell props
  src/packages/Table/Types/types.ts
Labels: Packages

#786 [Scope change] Fix punch-list items not showing in edit mode
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
Labels: Apps

#793 [Scope change] Hotfix punch not showing in edit mode
  src/apps/ScopeChangeRequest/hooks/queries/useUnpackRelatedObjects.ts
Labels: Apps

#791 [Loop] - Feat/loop checklist view
  src/apps/Loop/components/Sidesheet/LoopContentTable.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/index.tsx
  src/apps/Loop/types/index.ts
  src/apps/Loop/types/loop.ts
  src/apps/Loop/types/loopContent.ts
  src/apps/Loop/utility/api/getLoopContent.ts
  src/apps/Loop/utility/config/filterConfig.ts
  src/apps/Loop/utility/config/gardenConfig.ts
  src/apps/Loop/utility/config/sidesheetConfig.ts
  src/apps/Loop/utility/config/tableConfig.tsx
  src/apps/Loop/utility/helpers/getGroupByKey.ts
  src/packages/Table/Components/Cells/LinkCell.tsx
  src/packages/Table/Components/Cells/StatusCell.tsx
Labels: Apps, Packages

#792 [Punch] - feat: punch for dev
  src/apps/Punch_Dev/index.tsx
  src/apps/Punch_Dev/types/punch.ts
  src/apps/Punch_Dev/utility/config/gardenConfig.tsx
  src/apps/Punch_Dev/utility/config/index.ts
  src/apps/Punch_Dev/utility/config/statusBarConfig.tsx
  src/apps/Punch_Dev/utility/config/tableConfig.tsx
  src/apps/apps.ts
Labels: Apps

#787 [Bookmarks]- chore: fix styling for bookmarks sidesheet
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/AppBookmarks.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/AppGroup.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/BookmarksSidesheet.styles.ts
Labels: Packages

#795 [Portal] Fix reference error hmr vite
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
Labels: Apps

#796 [3D] - Bug/echo 3d update
  package.json
  packages/echo3dViewer/src/__tests__/controls/CameraControlsExtended.test.ts
  packages/echo3dViewer/src/__tests__/controls/CameraControlsExtendedHandleKeys.test.ts
  packages/echo3dViewer/src/__tests__/controls/FirstPersonCameraControls.test.ts
  packages/echo3dViewer/src/__tests__/controls/MultiPointerCache.test.ts
  packages/echo3dViewer/src/__tests__/services/echo3dSelectionHandler.test.ts
  packages/echo3dViewer/src/__tests__/services/echo3dViewer.test.ts
  packages/echo3dViewer/src/__tests__/services/generatedApi.test.ts
  packages/echo3dViewer/src/__tests__/services/hierarchyClient.test.ts
  packages/echo3dViewer/src/__tests__/services/modelsClient.test.ts
  packages/echo3dViewer/src/__tests__/setup/echo3dwebSetup.test.ts
  packages/echo3dViewer/src/__tests__/setup/initializeEcho3dClient.test.ts
  packages/echo3dViewer/src/__tests__/setup/initializeEcho3dViewer.test.ts
  packages/echo3dViewer/src/__tests__/utils/assertNeverHelper.test.ts
  packages/echo3dViewer/src/__tests__/utils/calculationUtils.test.ts
  packages/echo3dViewer/src/__tests__/utils/cameraUtils.test.ts
  packages/echo3dViewer/src/__tests__/utils/errorHandingUtils.test.ts
  packages/echo3dViewer/src/__tests__/utils/mouseEventOffset.test.ts
  packages/echo3dViewer/src/__tests__/utils/pointerUtils.test.ts
  packages/echo3dViewer/src/controls/FirstPersonCameraControls.ts
  packages/echo3dViewer/src/services/echo3DViewer.ts
  packages/echo3dViewer/src/services/echo3dCameraManager.ts
  packages/echo3dViewer/src/services/echo3dMultiSelectionHandler.ts
  packages/echo3dViewer/src/services/helpers/cameraFrustumHelper.ts
  packages/echo3dViewer/src/setup/initializeEcho3dClient.ts
  packages/echo3dViewer/src/types/EventTrigger.ts
  packages/echo3dViewer/src/types/animationTypeStructure.ts
  packages/echo3dViewer/src/types/apiServiceConfiguration.ts
  packages/echo3dViewer/src/types/pixelIntersectionQuery.ts
  packages/echo3dViewer/src/types/selectedNodeInformation.ts
  packages/echo3dViewer/src/utils/calculationUtils.ts
  packages/echo3dViewer/src/utils/cameraUtils.ts
  packages/echo3dViewer/src/utils/commonSectorUtils.ts
  packages/echo3dViewer/src/utils/keyboardEventUtils.ts
  src/packages/ModelViewer/ModelViewer.tsx
  src/packages/ModelViewer/components/selectionMenu.tsx
  src/packages/ModelViewer/components/tagOverlay.tsx
  src/packages/ModelViewer/context/modelViewerContext.tsx
  src/packages/ModelViewer/hooks/useOverlay.ts
  src/packages/ProCoSysUrls/procosysUrl.ts
  tsconfig.json
  yarn.lock
Labels: dependencies, Packages

#798 [Loop] - feat: workorder tab in sidesheet
  src/apps/Loop/components/Sidesheet/LoopContentTable.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/components/Sidesheet/LoopWorkorderTable.tsx
  src/apps/Loop/index.tsx
  src/apps/Loop/types/index.ts
  src/apps/Loop/types/loop.ts
  src/apps/Loop/types/workorder.ts
  src/apps/Loop/utility/api/getLoopContent.ts
  src/apps/Loop/utility/api/getWorkorders.ts
  src/apps/Loop/utility/api/index.ts
Labels: Apps

#790 [Filter] Small visual fixes according to feedback
  src/Core/WorkSpace/src/Components/QuickFilter/FilterGroup/FilterGroup.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/FilterGroup/FilterGroupPopoverMenu.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/FilterGroup/groupStyles.ts
  src/Core/WorkSpace/src/Components/QuickFilter/FilterItemCheckbox.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/Icons/FilterClear.tsx
  src/Core/WorkSpace/src/Components/QuickFilter/QuickFilter.tsx
  src/packages/Filter/Components/FilterGroup/FilterGroup.tsx
  src/packages/Filter/Components/FilterGroup/FilterGroupStyles.ts
Labels: Core, Packages, WorkSpace

#788 [Portal] - chore: remove prod check for bookmarks portal
  src/components/TopBar/TopBar.tsx
Labels: Components, Portal

#803 [Mechanical Completion]- chore: add commpkg to search
  src/apps/MechanicalCompletion/index.ts
Labels: Apps

#802 [Punch dev] - feat: filter for testing
  src/apps/Punch_Dev/index.tsx
  src/apps/Punch_Dev/types/punch.ts
  src/apps/Punch_Dev/utility/config/filterConfig.ts
  src/apps/Punch_Dev/utility/config/index.ts
Labels: Apps

#806 [Mechanical completion] - chore: table config & procosys base url
  src/apps/MechanicalCompletion/utils/config/tableConfig.tsx
  src/packages/ProCoSysUrls/procosysUrl.ts
Labels: Apps, Packages

#807 [Workspace] - fix: give popovers unique ids
  src/Core/WorkSpace/src/Components/DataViewerHeader/ViewSettings/ViewSettings.tsx
  src/packages/BookmarksManager/src/components/BookmarkDropdown/BookmarkDropdown.tsx
Labels: Core, Packages, WorkSpace

#805 [Portal] Fix parse service message error
  src/components/Messages/Service/Hooks/useServiceMessage.ts
Labels: Components

#804 [Table] Fix column picker styling
  src/packages/Table/Components/ColumnPicker/ColumnPicker.tsx
  src/packages/Table/Components/ColumnPicker/columnPicker.styles.ts
Labels: Packages

#800 Feature/release control improvements
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/api/releaseControl/Workflow/getWorkflowTemplate.ts
  src/apps/ReleaseControl/api/releaseControl/Workflow/getWorkflows.ts
  src/apps/ReleaseControl/components/Factory/FactoryComponent.tsx
  src/apps/ReleaseControl/components/Form/Inputs/PlannedDueDate/PlannedDueDate.tsx
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
  src/apps/ReleaseControl/components/Form/releaseControlProcessForm.styles.ts
  src/apps/ReleaseControl/components/Workflow/Workflow.tsx
  src/apps/ReleaseControl/queries/queries.ts
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ReleaseControl/workspaceConfig/table/tableConfig.tsx
Labels: Apps

#809 [Loop] - chore: update styling
  src/apps/Loop/components/Sidesheet/LoopDetails.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/types/loop.ts
  src/apps/Loop/utility/config/tableConfig.tsx
  src/packages/GardenUtils/src/components/sidesheet/StringCell.tsx
  src/packages/GardenUtils/src/dateUtils.ts
Labels: Apps, Packages

#808 [Release] - Changelog 1.6.0
  Changelog.md
  package.json
Labels: dependencies

#822 Chore/remove-production-stop-on-3D
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
Labels: Apps

#824 Changelog-1.6.1
  Changelog.md
  package.json
Labels: dependencies

#823 HotFix - 3D in prod
  Changelog.md
  package.json
  src/apps/DisciplineReleaseControl/Components/Garden/gardenFunctions.ts
  src/apps/DisciplineReleaseControl/Components/Sidesheet/ReleaseControlSidesheet.tsx
Labels: dependencies, release, Apps

#825 [Table] Fix styling column picker
  src/packages/Table/Components/ColumnPicker/ColumnPicker.tsx
Labels: Packages

#810 [Loop] - feat: highlight current week column
  src/apps/Loop/utility/config/gardenConfig.ts
Labels: Apps

#820 [Loop] - feat: links to procosys in sidesheet
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/components/Sidesheet/sidesheet-styles.ts
Labels: Apps

#819 [Work preparation] - chore: change strhupr page name
  src/apps/workPreparation/index.ts
Labels: Apps

#811 [Handover]- chore: update status cells
  src/apps/Handover/utility/config/tableConfig.tsx
Labels: Apps

#818 [GardenUtils & SWCR & MC & Handover & DRC]- fix: date utils
  src/apps/DisciplineReleaseControl/Functions/statusHelpers.ts
  src/apps/Handover/Garden/utility/getKeyFunctions.ts
  src/apps/MechanicalCompletion/utils/helpers/getHighlightedColumn.ts
  src/apps/swcr/utilities/packages.ts
  src/packages/GardenUtils/src/dateUtils.ts
Labels: Apps, Packages

#833 [Loop] - fix: remove unused columns from FAM query
  src/apps/Loop/types/loopContent.ts
  src/apps/Loop/utility/api/getLoopContent.ts
Labels: Apps

#829 [Portal] Global Search
  package.json
  src/Core/GlobalSearh/Components/GlobalSearch.tsx
  src/Core/GlobalSearh/Components/GlobalSearchStyles.ts
  src/Core/GlobalSearh/Components/SearchResultHeading.tsx
  src/Core/GlobalSearh/Components/SearchResultHeadingStyles.ts
  src/Core/GlobalSearh/Components/SearchResultItem.tsx
  src/Core/GlobalSearh/Components/SearchResultItemStyles.ts
  src/Core/GlobalSearh/Config/Apps/appsSearchMapper.ts
  src/Core/GlobalSearh/Config/Apps/appsSearchRequest.ts
  src/Core/GlobalSearh/Config/Apps/index.ts
  src/Core/GlobalSearh/Config/ProCoSys/index.ts
  src/Core/GlobalSearh/Config/ProCoSys/proCoSysSearchMapper.ts
  src/Core/GlobalSearh/Config/ProCoSys/proCoSysSearchRequest.ts
  src/Core/GlobalSearh/Config/ProCoSys/types.ts
  src/Core/GlobalSearh/Config/ProCoSys/utils.ts
  src/Core/GlobalSearh/Functions/getHiglight.tsx
  src/Core/GlobalSearh/Service/GlobalSearch.ts
  src/Core/GlobalSearh/Service/SearchApi.ts
  src/apps/Handover/index.tsx
  src/apps/MechanicalCompletion/index.ts
  src/apps/Tags/Components/Banner.tsx
  src/apps/Tags/Components/Header.tsx
  src/apps/Tags/Components/TagsDetails.tsx
  src/apps/Tags/Components/TextItem.tsx
  src/apps/Tags/Functions/resolver.ts
  src/apps/Tags/Types/tag.ts
  src/apps/Tags/index.ts
  src/apps/functions.ts
  src/apps/widgets.ts
  src/components/TopBar/TopBar.tsx
  yarn.lock
Labels: dependencies, Components, Portal, Apps, Core

#838 [Scope change] Revision styling fixes
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.styles.ts
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RevisionList/RevisionList.tsx
Labels: Apps

#830 [Scope change] Disable WO columns pending FAM integration
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#836 [Loop] - chore: more filters and search
  src/apps/Loop/index.tsx
  src/apps/Loop/utility/config/filterConfig.ts
Labels: Apps

#834 [Loop] - feat: loop kpis
  src/apps/Loop/index.tsx
  src/apps/Loop/utility/config/index.ts
  src/apps/Loop/utility/config/statusBarConfig.tsx
Labels: Apps

#832 [Loop] - feat: custom garden
  src/apps/Loop/components/GardenItem/CustomGardenItem.tsx
  src/apps/Loop/components/GardenItem/customGardenItem.styles.ts
  src/apps/Loop/components/NoStatus.tsx
  src/apps/Loop/components/Popover/PopoverContent.tsx
  src/apps/Loop/components/Popover/Status.tsx
  src/apps/Loop/components/Popover/index.ts
  src/apps/Loop/components/Popover/popoverContent.styles.ts
  src/apps/Loop/components/index.ts
  src/apps/Loop/utility/config/gardenConfig.ts
  src/apps/Loop/utility/helpers/getGroupByKey.ts
Labels: Apps

#840 Changelog 1.6.4
  Changelog.md
  package.json
Labels: dependencies

#843 [Filter] Fix width quickfilter
  src/Core/WorkSpace/src/Components/QuickFilter/quickFilterStyles.ts
Labels: Core, WorkSpace

#845 [Punch dev] - feat: analytics view for punch dev
  src/apps/Punch_Dev/index.tsx
  src/apps/Punch_Dev/utility/config/analyticsConfig.ts
  src/apps/Punch_Dev/utility/config/index.ts
Labels: Apps

#835 [Loop] - Chore/loop sidesheet adjustments
  src/apps/Loop/components/Sidesheet/Checklists.tsx
  src/apps/Loop/components/Sidesheet/LoopContentDetails.tsx
  src/apps/Loop/components/Sidesheet/LoopContentTable.tsx
  src/apps/Loop/components/Sidesheet/LoopDetails.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/components/Sidesheet/LoopWorkorderTable.tsx
  src/apps/Loop/components/Sidesheet/sidesheet-styles.ts
  src/apps/Loop/components/Status.tsx
  src/apps/Loop/utility/api/getChecklistsForLoop.ts
  src/apps/Loop/utility/api/getLoopContent.ts
  src/apps/Loop/utility/api/index.ts
  src/packages/GardenUtils/src/components/cells/CellWithLink.tsx
  src/packages/GardenUtils/src/components/sidesheet/TabTable.tsx
  src/packages/ProCoSysUrls/procosysUrl.ts
  src/packages/Table/Components/Cells/DescriptionCell.tsx
  src/packages/Table/Components/Cells/ProgressCell.tsx
Labels: Apps, Packages

#844 [Punch dev] - feat: kpis for punch
  src/apps/Punch_Dev/utility/config/statusBarConfig.tsx
Labels: Apps

#846 More compact circuit diagram
  src/apps/DisciplineReleaseControl/Components/Electro/Components/Cable.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/HeatTracingCable.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/JunctionBox.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/Line.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/Components/TestDot.tsx
  src/apps/DisciplineReleaseControl/Components/Electro/styles.ts
Labels: Apps

#849 [Scope change] Revision fixes
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RevisionList/RevisionList.tsx
  src/apps/ScopeChangeRequest/hooks/sidesheet/useSidesheetEffects.tsx
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#848 [Loop] - fix: loop kpis and smaller cards
  src/apps/Loop/utility/config/gardenConfig.ts
  src/apps/Loop/utility/config/statusBarConfig.tsx
Labels: Apps

#850 [Scope change] Fix revisions unsaved changes warning
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionSubmitBar.tsx
Labels: Apps

#856 [Loop] - feat: WIP loop 3d
  packages/echo3dViewer/src/services/echo3dMultiSelectionHandler.ts
  src/apps/Loop/components/Sidesheet/3D/3dView.tsx
  src/apps/Loop/components/Sidesheet/LoopContentTable.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/types/loopContent.ts
  src/apps/Loop/utility/api/getLoopContent.ts
  src/packages/ModelViewer/hooks/useLoadModel.ts
Labels: Apps, Packages

#852 [Table] Show dot menu only on hover
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/packages/Table/Components/Styles.ts
Labels: Apps, Core, Packages, WorkSpace

#853 [Scope change] Hide latest revision from revisions list
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RevisionList/RevisionList.tsx
Labels: Apps

#858 [Scope change] Padding detail view
  src/apps/ScopeChangeRequest/Components/DetailView/References.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RevisionList/RevisionList.tsx
Labels: Apps

#857 [Filter] Scroll issue expanded filter
  src/Core/WorkSpace/src/Components/QuickFilter/QuickFilter.tsx
Labels: Core, WorkSpace

#854 Changelog 164
  Changelog.md
  package.json
Labels: dependencies

#860 [Scope change] Hide state from revisionslist
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RevisionList/RevisionList.tsx
Labels: Apps

#862 [Scope change] Hide reject with comment on initiate step
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaActionBar.tsx
Labels: Apps

#861 [Scope change] ATS scope
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/AtsScopeCheckbox/AtsCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/Form/BaseForm/ScopeChangeBaseForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/AtsScopeCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
Labels: Apps

#863 [Loop] - chore: search for loop tag
  src/apps/Loop/index.tsx
Labels: Apps

#865 [Scope change] ATS pixel pushing...
  src/apps/ScopeChangeRequest/Components/Form/BaseForm/ScopeChangeBaseForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
Labels: Apps

#866 Castberg release 1.6.5
  Changelog.md
  src/apps/Loop/index.tsx
  src/apps/ScopeChangeRequest/Atoms/FormAtomApi/formAtomApi.ts
  src/apps/ScopeChangeRequest/Components/AtsScopeCheckbox/AtsCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/Form/Inputs/AtsScopeCheckbox.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/RevisionForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RevisionList/RevisionList.tsx
  src/apps/ScopeChangeRequest/Components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/apps/ScopeChangeRequest/types/scopeChangeRequest.ts
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
Labels: Apps

#872 [Loop] - chore: loop to test env
  src/apps/apps.ts
Labels: Apps

#864 [Loop] - chore: loop 3d improvements
  src/apps/Loop/components/Sidesheet/3D/3dView.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
Labels: Apps

#412 [Workorder] - feat: fam api workorder
  src/apps/WorkOrder/Garden/components/Popover/WorkOrderPopover.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderItem/WorkOrderItem.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/DetailsTab.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/Tabs/MccrTab.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/WorkOrderSidesheet.tsx
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/useMaterial.ts
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/useMccr.ts
  src/apps/WorkOrder/Garden/models/workOrder.ts
  src/apps/WorkOrder/Garden/models/workOrderMaterial.ts
  src/apps/WorkOrder/Garden/models/workOrderMccr.ts
  src/apps/WorkOrder/Garden/utility/gardenSetup.ts
  src/apps/WorkOrder/Garden/utility/getSubtitleHeader.ts
  src/apps/WorkOrder/Garden/utility/groupByUtils.ts
  src/apps/WorkOrder/Garden/utility/statusUtils.ts
  src/apps/WorkOrder/Garden/utility/workorderItemMapping.ts
  src/apps/WorkOrder/index.tsx
  src/apps/WorkOrder/utility/filterConfig.tsx
  src/apps/WorkOrder/utility/statusBarConfig.tsx
  src/apps/WorkOrder/utility/tableConfig.tsx
  src/components/ParkView/Components/VirtualGarden/utils/getDescriptionWidth.ts
  src/packages/GardenUtils/src/__tests__/dateUtil.test.tsx
  src/packages/GardenUtils/src/__tests__/statusUtil.test.tsx
  src/packages/GardenUtils/src/index.ts
  src/packages/GardenUtils/src/utils/constants/index.ts
  src/packages/GardenUtils/src/utils/constants/procosysUrl.ts
  src/packages/GardenUtils/src/utils/helpers/dateUtils.ts
  src/packages/GardenUtils/src/utils/helpers/index.ts
  src/packages/GardenUtils/src/utils/helpers/sortUtils.ts
  src/packages/GardenUtils/src/utils/helpers/statusUtils.ts
  src/packages/GardenUtils/src/utils/index.ts
  src/packages/Table/Components/Cells/ProgressCell.tsx
  src/packages/Table/Components/Cells/YearWeekCell.tsx
Labels: Components, Apps, Packages

#869 Top bar changes
  src/components/TopBar/HelpMenu.tsx
  src/components/TopBar/TopBar.tsx
  src/components/TopBar/TopBarAvatar.tsx
  src/components/TopBar/TopBarStyle.ts
Labels: Components, Portal

#880 [Scope change] Remove famtag from references
  src/apps/ScopeChangeRequest/Components/SearchReferences/SearchReferences.tsx
Labels: Apps
