Repository equinor/lighthouse-client, pull requests merged in 2023-09, with the labels that each got.

#1373 Revert "Add WBS to model"
  src/apps/WorkOrder/Garden/models/workOrder.ts
  src/apps/WorkOrder/utility/filterConfig.tsx
  src/apps/WorkOrder/utility/tableConfig.tsx
Labels: Apps

#1374 Feat/add breakdown structure
  src/apps/WorkOrder/Garden/models/workOrder.ts
  src/apps/WorkOrder/Mock/groupedWorkorder.ts
  src/apps/WorkOrder/utility/filterConfig.tsx
  src/apps/WorkOrder/utility/tableConfig.tsx
Labels: Apps

#1375 chore: update chglog bump version
  Changelog.md
  package.json
Labels: dependencies

#1376 chore: Publish version 1.32.0
  Changelog.md
  package.json
  src/apps/WorkOrder/Garden/models/workOrder.ts
  src/apps/WorkOrder/Mock/groupedWorkorder.ts
  src/apps/WorkOrder/utility/filterConfig.tsx
  src/apps/WorkOrder/utility/tableConfig.tsx
Labels: dependencies, Apps

#1377 chore: [workorder] change to api v1
  Changelog.md
  package.json
  src/apps/WorkOrder/index.tsx
Labels: dependencies, Apps

#1378 Merge to main v1.32.1
  Changelog.md
  package.json
  src/apps/WorkOrder/index.tsx
Labels: dependencies, Apps

#1389 feature(release-control): enable access control for release control workflow template admin
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
  src/apps/ReleaseControl/ReleaseControlApp.tsx
  src/apps/ReleaseControl/components/Admin/adminConfig.tsx
  src/packages/Workflow/src/Api/Access/checkIfReleaseControlAdmin.ts
  src/packages/Workflow/src/index.ts
Labels: Apps, Core, Packages, WorkSpace

#1390 chore(release): update changelog
  Changelog.md
  package.json
Labels: dependencies

#1391 chore(release): Release 1.33.0
  Changelog.md
  package.json
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
  src/apps/ReleaseControl/ReleaseControlApp.tsx
  src/apps/ReleaseControl/components/Admin/adminConfig.tsx
  src/packages/Workflow/src/Api/Access/checkIfReleaseControlAdmin.ts
  src/packages/Workflow/src/index.ts
Labels: dependencies, Apps, Core, Packages, WorkSpace

#1392 [workorder]feat: :sparkles: add Comm Priority1 filter and change sidesheet header
  Changelog.md
  package.json
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/WorkOrderSidesheet.tsx
  src/apps/WorkOrder/Garden/models/workOrder.ts
  src/apps/WorkOrder/Garden/utility/getSubtitleHeader.ts
  src/apps/WorkOrder/Mock/groupedWorkorder.ts
  src/apps/WorkOrder/utility/filterConfig.tsx
Labels: dependencies, Apps

#1393 Dev into Main
  Changelog.md
  package.json
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/WorkOrderSidesheet.tsx
  src/apps/WorkOrder/Garden/models/workOrder.ts
  src/apps/WorkOrder/Garden/utility/getSubtitleHeader.ts
  src/apps/WorkOrder/Mock/groupedWorkorder.ts
  src/apps/WorkOrder/utility/filterConfig.tsx
Labels: dependencies, Apps

#1394 Chore remove task and yammer widget from landingpage
  Changelog.md
  package.json
  src/Core/Client/Home/clientHome.tsx
  src/Core/Client/Home/clientHomeStyles.ts
Labels: dependencies, Portal, Core, Client, jc-portal

#1396 Dev into main
  Changelog.md
  package.json
  src/Core/Client/Home/clientHome.tsx
  src/Core/Client/Home/clientHomeStyles.ts
Labels: dependencies, Portal, Core, Client

#1399 fix landing page 1980x1020
  Changelog.md
  package.json
  src/Core/Client/Home/PbiHome/PbiHome.tsx
  src/Core/Client/Home/clientHome.tsx
  src/Core/Client/Home/clientHomeStyles.ts
Labels: dependencies, Portal, Core, Client

#1400 bugfix 🐛 Responsive landing page 1920x1080p (#1399)
  Changelog.md
  package.json
  src/Core/Client/Home/PbiHome/PbiHome.tsx
  src/Core/Client/Home/clientHome.tsx
  src/Core/Client/Home/clientHomeStyles.ts
Labels: dependencies, Portal, Core, Client

#1401 fix: :bug: Add ellipsis and make procosys button to stay to right of header
  src/packages/GardenUtils/src/components/sidesheet/SidesheetHeaderContent.tsx
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
Labels: Packages

#1402 chore: :memo: update changelog and vesion in package.json
  Changelog.md
  package.json
Labels: dependencies

#1403 dev into main
  Changelog.md
  package.json
  src/packages/GardenUtils/src/components/sidesheet/SidesheetHeaderContent.tsx
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
Labels: dependencies, Packages

#1404 feat/add filter in url
  src/Core/WorkSpace/src/Context/WorkspaceFilterWrapper.tsx
Labels: Core, WorkSpace

#1405 feat: :sparkles: add priority 1, 2, 3
  src/apps/WorkOrder/Garden/utility/gardenSetup.ts
  src/apps/WorkOrder/utility/filterConfig.tsx
Labels: Apps
