Repository equinor/lighthouse-client, pull requests merged in 2023-10, with the labels that each got.

#1407 feat(scopechange): add phase as filter and column
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
  src/apps/ScopeChangeRequest/workspaceConfig/sTable/tableConfig.tsx
Labels: Apps

#1408 chore: :bookmark: release@1.36.0
  Changelog.md
  package.json
Labels: dependencies

#1411 fix: :fire: remove isProduction check
  public/client-config.json
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/NcrTab.tsx
  src/apps/WorkOrder/index.tsx
Labels: Apps

#1412 fix: :bug: token not refreshing powerbi
  src/Core/Client/Home/PbiHome/PbiHome.tsx
  src/apps/DisciplineReleaseControl/__tests__/gardenFunctions.test.ts
  src/apps/DisciplineReleaseControl/__tests__/pipetestStatusHelpers.test.ts
  src/apps/DisciplineReleaseControl/__tests__/tableHelpers.test.ts
  src/apps/Handover/__tests__/sidesheetStatuses.test.ts
  src/packages/CircuitDiagram/src/__tests__/circuitDiagramHelpers.test.ts
Labels: Portal, Apps, Core, Packages, Client

#1414 Castberg release
  public/client-config.json
  src/Core/Client/Home/PbiHome/PbiHome.tsx
  src/apps/DisciplineReleaseControl/__tests__/gardenFunctions.test.ts
  src/apps/DisciplineReleaseControl/__tests__/pipetestStatusHelpers.test.ts
  src/apps/DisciplineReleaseControl/__tests__/tableHelpers.test.ts
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/NcrTab.tsx
  src/apps/Handover/__tests__/sidesheetStatuses.test.ts
  src/apps/WorkOrder/index.tsx
  src/packages/CircuitDiagram/src/__tests__/circuitDiagramHelpers.test.ts
  yarn.lock
Labels: dependencies, Portal, Apps, Core, Packages, Client

#1417 feat: copy bookmark url
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/BookmarkEntry.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/MenuOptions.tsx
  src/packages/Components/Icon/ClickableIcon.tsx
Labels: Packages

#1421 Dev into main
  Changelog.md
  package.json
  src/apps/Punch/utility/config/filterConfig.tsx
  src/apps/Punch/utility/config/tableConfig.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/BookmarkEntry.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/MenuOptions.tsx
  src/packages/Components/Icon/ClickableIcon.tsx
Labels: dependencies, Apps, Packages

#1423 chore:release@1.37.1
  Changelog.md
  package.json
Labels: dependencies

#1424 Release Castberg@1.37.1
  Changelog.md
  package.json
  src/modules/powerBI/src/Components/Filter/PowerBIFilter.tsx
  src/modules/powerBI/src/Utils/getActiveFilterGroups.ts
  src/modules/powerBI/src/Utils/index.ts
  src/modules/powerBI/src/__tests__/getActiveFilterGroups.test.ts
Labels: dependencies

#1425 fix: :bug: powerbi filters breaking in production
  Changelog.md
  package.json
  src/modules/powerBI/src/Components/Filter/ExpandedFilter/FilterItems/FilterItems.tsx
  src/modules/powerBI/src/Components/Filter/FilterGroup/FilterGroup.tsx
  src/modules/powerBI/src/Types/powerBiFilter.ts
Labels: dependencies

#1426 Release Castberg@1.37.2
  Changelog.md
  package.json
  src/modules/powerBI/src/Components/Filter/ExpandedFilter/FilterItems/FilterItems.tsx
  src/modules/powerBI/src/Components/Filter/FilterGroup/FilterGroup.tsx
  src/modules/powerBI/src/Types/powerBiFilter.ts
Labels: dependencies

#1427 fix: :bug: fix sidesheet header overflow:hidden
  Changelog.md
  package.json
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
Labels: dependencies, Packages

#1428 fix: :bug: fix sidesheet header overflow:hidden (#1427)
  Changelog.md
  package.json
  src/packages/Sidesheet/Components/ResizableSidesheet.tsx
Labels: dependencies, Packages
