Repository equinor/lighthouse-client, pull requests merged in 2023-08, with the labels that each got.

#1357 feat: :sparkles: change test to prod
  src/apps/apps.ts
Labels: Apps

#1358 chore: :memo: update changelog and bump version
  Changelog.md
  package.json
Labels: dependencies

#1359 feat/add punch priority to table
  Changelog.md
  package.json
  src/apps/Punch/utility/config/tableConfig.tsx
  src/apps/WorkOrder/index.tsx
Labels: dependencies, Apps, Packages

#1360 Publish version 1.30.0
  Changelog.md
  package.json
  src/apps/Punch/utility/config/tableConfig.tsx
Labels: dependencies, Apps

#1363 feat: default filter for state uncheck voided
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
Labels: Apps

#1367 Merge to main
  Changelog.md
  package.json
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
  src/typings/worker-loader.d.ts
  webpack/migration.md
  webpack/moduleLoader.ts
  webpack/umd.js
  webpack/webpack.config.ts
  yarn.lock
Labels: dependencies, Apps
