Repository equinor/lighthouse-client, pull requests merged in 2023-03, with the labels that each got.

#1283 [SCR] fix: add hardbreak to markdown
  src/packages/MarkdownEditor/src/MarkdownEditor.tsx
Labels: Packages

#1285 [Release] - Changelog v1.26.17
  Changelog.md
  package.json
Labels: dependencies

#1286 Castberg Portal Release v1.26.17
  Changelog.md
  package.json
  src/apps/Loop/components/Sidesheet/Checklists.tsx
  src/apps/Loop/components/Sidesheet/LoopSidesheet.tsx
  src/apps/Loop/types/checklistForLoop.ts
  src/apps/Loop/types/loop.ts
  src/apps/Loop/utility/api/getChecklistsForLoop.ts
  src/apps/ScopeChangeRequest/Components/DetailView/RelatedObjects/McPkg/McPkg.tsx
  src/packages/MarkdownEditor/src/MarkdownEditor.tsx
  src/packages/Workflow/src/Api/PCS/Batch/batchMcPkg.ts
  src/packages/Workflow/src/Api/Search/PCS/searchMcPkg.ts
Labels: dependencies, Apps, Packages

#1287 feat: :sparkles: Added EIT analytics
  src/apps/EIT/index.ts
  src/apps/apps.ts
Labels: Apps

#1288 [MarkdownEditor] - fix: add more space to new line in editor
  src/packages/MarkdownEditor/src/editor.styles.ts
Labels: Packages

#1290 fix: :bug: Removed mechanicalcompletionstatus for API call to work
  src/apps/Loop/components/Sidesheet/3D/3dView.tsx
  src/apps/Loop/types/loopContent.ts
  src/apps/Loop/utility/api/getChecklistsForLoop.ts
  src/apps/Loop/utility/api/getLoopContent.ts
Labels: Apps

#1291 [Release] - Changelog 1.26.18
  Changelog.md
  package.json
Labels: dependencies

#1292 Castberg Portal Release v1.26.18
  Changelog.md
  package.json
  src/apps/EIT/index.ts
  src/apps/Loop/components/Sidesheet/3D/3dView.tsx
  src/apps/Loop/types/loopContent.ts
  src/apps/Loop/utility/api/getChecklistsForLoop.ts
  src/apps/Loop/utility/api/getLoopContent.ts
  src/apps/apps.ts
  src/packages/MarkdownEditor/src/editor.styles.ts
Labels: dependencies, Apps, Packages

#1293 chore: :lipstick: Change name from EIT to EIT79
  src/apps/apps.ts
Labels: Apps

#1289 [SCR] - feat: add not found wos to wo table
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
Labels: Apps

#1294 [Release] - Changelog v1.26.19
  Changelog.md
  package.json
Labels: dependencies

#1295 Castberg Portal Release v1.26.19
  Changelog.md
  package.json
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/WorkOrders/WorkOrderTab.tsx
  src/apps/apps.ts
Labels: dependencies, Apps

#1297 Bug/name change reply date
  src/apps/Query/components/QuerySidesheet/Tabs/DetailsTab.tsx
  src/apps/Query/types/query.ts
  src/apps/Query/utility/config/gardenConfig.ts
  src/apps/Query/utility/config/sidesheetConfig.ts
  src/apps/Query/utility/config/tableConfig.tsx
  src/apps/apps.ts
Labels: Apps

#1298 [Release] - Changelog v1.26.20
  Changelog.md
  package.json
Labels: dependencies

#1302 feat: :sparkles: Added activities app
  src/apps/Activities/index.ts
  src/apps/apps.ts
Labels: Apps

#1303 Feat/no link to procosys on notvalid workorders
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrder.tsx
Labels: Apps

#1304 [Release] - Changelog v1.26.21
  Changelog.md
  package.json
Labels: dependencies

#1305 Castberg Portal Release v1.26.21
  Changelog.md
  package.json
  src/apps/Activities/index.ts
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/CompactWorkOrder/CompactWorkOrder.tsx
  src/apps/ScopeChangeRequest/Components/WorkOrderTable/WorkOrderTable.tsx
  src/apps/apps.ts
Labels: dependencies, Apps

#1308 [Release] - Changelog v1.26.22
  Changelog.md
  package.json
Labels: dependencies

#1312 feat: :sparkles: Added workorder analytics
  src/apps/WorkOrder/index.tsx
  src/apps/WorkOrder/utility/analyticsConfig.ts
Labels: Apps

#1313 [loop] - fix: cache key for 3d loop content interferring with loop content
  src/apps/Loop/components/Sidesheet/3D/3dView.tsx
Labels: Apps

#1314 [Release] - Changelog v1.26.3
  Changelog.md
  package.json
Labels: dependencies

#1316 [P&HT] - chore: remove mcpkgUrlId from table view
  src/apps/DisciplineReleaseControl/utils/config/Table/tableConfig.tsx
Labels: Apps

#1317 [loop] - chore: add help page to loop
  src/apps/apps.ts
Labels: Apps
