Repository equinor/lighthouse-client, pull requests merged in 2023-11, with the labels that each got.

#1437 chore:remove unused files
  src/Core/PerformanceObserver/PerformanceObserver.tsx
  src/Core/PerformanceObserver/usePerformanceObserver.ts
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/Core/WorkSpace/src/Context/DataProvider.tsx
  src/Core/WorkSpace/src/Tabs/TimeLineTAb.tsx
  src/Core/WorkSpace/src/Tabs/VisualEditorTab.tsx
  src/Core/WorkSpace/src/Util/tabsConfig.ts
  src/Core/WorkSpace/src/WorkSpaceApi/WorkSpaceTypes.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceApi.ts
  src/Core/WorkSpace/src/WorkSpaceApi/workspaceState.ts
Labels: Core, WorkSpace

#1439 Fix/handover loading
  src/Core/Client/ClientState/ClientState.ts
  src/Core/Client/Functions/Settings.ts
  src/Core/Client/Service/createClient.ts
  src/Core/Client/Types/AppConfig.ts
  src/Core/Client/Types/ClientSettings.ts
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/components/Menu/Components/CompactMenu/CompactMenu.tsx
  src/components/Menu/Components/ExpandedMenu/ExpandedMenu.tsx
  src/components/TopBar/BreadCrumbs/Breadcrumbs.tsx
Labels: Components, Portal, Core, WorkSpace, Client

#1440 Chore/adjust name
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
Labels: Core, WorkSpace

#1442 Migrate pnpm
  .docker/Dockerfile
  package.json
  pnpm-lock.yaml
  src/packages/Workflow/src/Components/AdvancedDocumentSearch/Results.tsx
  tsconfig.json
  yarn.lock
Labels: dependencies, Packages

#1448 fix: :bug: when clicking a task it now opens a new tab with the corre…
  Changelog.md
  package.json
  src/Core/Assignments/Functions/handleActionClick.ts
Labels: dependencies, Core

#1449 fix: query client invalidation
  src/components/Routes/Routes.tsx
Labels: Components

#1452 fix: small cache fix
  src/AppClient.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/BookmarksSidesheet.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/MenuOptions.tsx
  src/packages/BookmarksManager/src/utils/api/unfavouriteBookmark.ts
Labels: Packages

#1453 fix: RC query invalidation
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/hooks/useReleaseControlMutation.ts
  src/apps/ReleaseControl/hooks/useReleaseControlMutationWatcher.ts
  src/apps/ReleaseControl/hooks/useWorkflowSigning.ts
  src/apps/ScopeChangeRequest/hooks/mutations/useRequestMutations.ts
  src/components/Routes/Routes.tsx
Labels: Components, Apps

#1455 fix: RC query invalidation (#1453)
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/hooks/useReleaseControlMutation.ts
  src/apps/ReleaseControl/hooks/useReleaseControlMutationWatcher.ts
  src/apps/ReleaseControl/hooks/useWorkflowSigning.ts
  src/apps/ScopeChangeRequest/hooks/mutations/useRequestMutations.ts
  src/components/Routes/Routes.tsx
Labels: Components, Apps

#1456 feat: :sparkles: SCR: change default selection for the state filter
  Changelog.md
  package.json
  src/apps/ScopeChangeRequest/workspaceConfig/filter/filterConfig.ts
Labels: dependencies, Apps

#1457 feat/add help page new apps
  src/apps/apps.ts
Labels: Apps

#1479 feat: add help person
  Changelog.md
  package.json
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/components/TopBar/HelpMenu.tsx
  src/components/TopBar/TopBar.tsx
  src/hooks/useContactPerson.ts
Labels: dependencies, Components, Portal, Core, WorkSpace

#1484 feat: :sparkles: add "Time on step" column and filter
  Changelog.md
  package.json
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ReleaseControl/workspaceConfig/dataOptions.ts
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
  src/apps/ReleaseControl/workspaceConfig/table/tableConfig.tsx
Labels: dependencies, Apps

#1486 feat: :sparkles: add more options to Time on step filter
  Changelog.md
  package.json
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
Labels: dependencies, Apps

#1490 fix: bookmark bugs
  Changelog.md
  package.json
  src/fusion-framework/AppLoaderWrapper.tsx
  src/packages/BookmarksManager/src/hooks/useBookmarks.ts
Labels: dependencies, Packages

#1499 fix: :bug: fix bookmark refreshing the page
  Changelog.md
  package.json
  pnpm-lock.yaml
Labels: dependencies
