Repository equinor/lighthouse-client, pull requests merged in 2023-06, with the labels that each got.

#1353 fix: enable tag selection in release control
  src/packages/Workflow/src/Api/FAM/searchTag.ts
Labels: Packages

#1354 chore: set allowance only to test
  src/apps/apps.ts
Labels: Apps

#1355 fix: search ht cable
  src/packages/Workflow/src/Api/FAM/searchHtCable.ts
Labels: Packages

#1356 Release@1.28.0
  Changelog.md
  package.json
  src/apps/Allowance/index.ts
  src/apps/apps.ts
  src/packages/Workflow/src/Api/FAM/searchHtCable.ts
  src/packages/Workflow/src/Api/FAM/searchTag.ts
Labels: dependencies, Apps, Packages
