Repository equinor/lighthouse-client, pull requests merged in 2023-05, with the labels that each got.

#1321 [Workorder] - chore: update fam wo endpoints to v1
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/useMaterial.ts
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/useMccr.ts
  src/apps/WorkOrder/Garden/models/workOrder.ts
  src/apps/WorkOrder/Mock/groupedWorkorder.ts
  src/apps/WorkOrder/index.tsx
  src/apps/WorkOrder/utility/sidesheetConfig.ts
  src/apps/functions.ts
  src/apps/widgets.ts
Labels: Apps

#1327 [Piping&HT] - chore: update fam endpoints
  src/apps/DisciplineReleaseControl/Api/getWorkOrdersById.ts
  src/apps/DisciplineReleaseControl/Types/workOrder.ts
Labels: Apps

#1325 [workflow] - chore: update fam endpoints
  src/packages/Workflow/src/Api/FAM/Batch/getBatchPunch.ts
  src/packages/Workflow/src/Api/FAM/getPunchListItemByNo.ts
  src/packages/Workflow/src/Api/FAM/getWorkOrderById.ts
  src/packages/Workflow/src/Api/FAM/searchHtCableTagNo.ts
  src/packages/Workflow/src/Api/FAM/searchPunchListItems.ts
  src/packages/Workflow/src/Api/FAM/searchTagNo.ts
Labels: Packages

#1324 [query] - chore: update fam endpoints
  src/apps/Query/index.ts
  src/apps/Query/utility/api/getQueryCommpkgs.ts
  src/apps/Query/utility/api/getQuerySignatureData.ts
  src/apps/Query/utility/config/sidesheetConfig.ts
Labels: Apps

#1323 feat: update loop endpoints to v1
  src/apps/Loop/index.tsx
  src/apps/Loop/utility/api/getChecklistsForLoop.ts
  src/apps/Loop/utility/api/getLoopContent.ts
  src/apps/Loop/utility/api/getWorkorders.ts
  src/apps/Loop/utility/config/sidesheetConfig.ts
Labels: Apps

#1322 [punch] - chore: update fam endpoints for punch
  src/apps/Punch/index.tsx
  src/apps/Punch/utility/config/sidesheetConfig.ts
  src/packages/Workflow/src/Api/FAM/searchHtCable.ts
  src/packages/Workflow/src/Api/FAM/searchTag.ts
Labels: Apps, Packages

#1333 chore: :bookmark: release Lighthouse@1.27.0
  Changelog.md
  package.json
Labels: dependencies

#1334 Update fam endpoints
  Changelog.md
  index.html
  package.json
  src/apps/DisciplineReleaseControl/Api/getWorkOrdersById.ts
  src/apps/DisciplineReleaseControl/Types/workOrder.ts
  src/apps/Loop/index.tsx
  src/apps/Loop/utility/api/getChecklistsForLoop.ts
  src/apps/Loop/utility/api/getLoopContent.ts
  src/apps/Loop/utility/api/getWorkorders.ts
  src/apps/Loop/utility/config/sidesheetConfig.ts
  src/apps/Punch/index.tsx
  src/apps/Punch/utility/config/sidesheetConfig.ts
  src/apps/Query/index.ts
  src/apps/Query/utility/api/getQueryCommpkgs.ts
  src/apps/Query/utility/api/getQuerySignatureData.ts
  src/apps/Query/utility/config/sidesheetConfig.ts
  src/apps/ScopeChangeRequest/Components/Form/Inputs/OriginIdPicker/SelectSWCR.tsx
  src/apps/ScopeChangeRequest/hooks/observers/useOctopusErrorHandler.ts
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/useMaterial.ts
  src/apps/WorkOrder/Garden/components/WorkOrderSidesheet/hooks/useMccr.ts
  src/apps/WorkOrder/Garden/models/workOrder.ts
  src/apps/WorkOrder/Mock/groupedWorkorder.ts
  src/apps/WorkOrder/index.tsx
  src/apps/WorkOrder/utility/sidesheetConfig.ts
  src/apps/apps.ts
  src/apps/functions.ts
  src/apps/widgets.ts
  src/packages/Workflow/src/Api/FAM/Batch/getBatchPunch.ts
  src/packages/Workflow/src/Api/FAM/getPunchListItemByNo.ts
  src/packages/Workflow/src/Api/FAM/getWorkOrderById.ts
  src/packages/Workflow/src/Api/FAM/searchHtCable.ts
  src/packages/Workflow/src/Api/FAM/searchHtCableTagNo.ts
  src/packages/Workflow/src/Api/FAM/searchPunchListItems.ts
  src/packages/Workflow/src/Api/FAM/searchTag.ts
  src/packages/Workflow/src/Api/FAM/searchTagNo.ts
  src/packages/Workflow/src/Components/PersonRoleSearch/PCSPersonRoleSearch.tsx
Labels: dependencies, Apps, Packages

#1336 Fix/fam url release
  src/packages/Workflow/src/Api/FAM/searchHtCable.ts
  src/packages/Workflow/src/Api/FAM/searchTag.ts
Labels: Packages

#1338 Release@1.27.1
  Changelog.md
  package.json
  src/packages/Workflow/src/Api/FAM/searchHtCable.ts
  src/packages/Workflow/src/Api/FAM/searchTag.ts
Labels: dependencies, Packages

#1339 chore(handover):add phase,priority1 to quickfilter
  src/Core/WorkSpace/src/Components/QuickFilter/QuickFilter.tsx
  src/apps/Handover/utility/config/filterSetup.ts
Labels: Apps, Core, WorkSpace

#1340 Fix/remove looptag url
  src/apps/Loop/components/Sidesheet/LoopContentTable.tsx
  src/components/Menu/Components/CompactMenu/CompactMenu.tsx
Labels: bug, Components, Portal, Apps

#1342 release 1.27.2
  Changelog.md
  package.json
Labels: dependencies

#1343 Castberg Portal Release v.1.27.2
  Changelog.md
  package.json
  src/Core/WorkSpace/src/Components/QuickFilter/QuickFilter.tsx
  src/apps/Handover/utility/config/filterSetup.ts
  src/apps/Loop/components/Sidesheet/LoopContentTable.tsx
  src/components/Menu/Components/CompactMenu/CompactMenu.tsx
Labels: dependencies, Components, Portal, Apps, Core, WorkSpace

#1344 hotfix/work order feature flag
  src/apps/WorkOrder/index.tsx
Labels: Apps
