Repository equinor/lighthouse-client, pull requests merged in 2023-01, with the labels that each got.

#1215 [Handover] - fix column width in sidesheet for Tab NCr
  src/apps/Handover/Garden/components/HandoverSidesheet/HandoverSidesheetTabs/NcrTab.tsx
Labels: Apps

#1216 [Release] Changelog 1.26.1
  Changelog.md
  package.json
Labels: dependencies

#1210 [SCR] - Remirror markdown editor and markdown viewer
  jest.config.ts
  package.json
  src/Core/Client/styleProvider.ts
  src/apps/ScopeChangeRequest/Components/Form/Inputs/DescriptionInput/DescriptionInput.tsx
  src/apps/ScopeChangeRequest/Components/Form/ScopeChangeRequestEditForm.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/SidesheetWrapper/SidesheetWrapper.tsx
  src/apps/ScopeChangeRequest/Components/Sidesheet/Tabs/Request/RequestTab.tsx
  src/packages/MarkdownEditor/index.ts
  src/packages/MarkdownEditor/src/MarkdownEditor.tsx
  src/packages/MarkdownEditor/src/MarkdownViewer/ComponentOverrides.tsx
  src/packages/MarkdownEditor/src/MarkdownViewer/MarkdownViewer.tsx
  src/packages/MarkdownEditor/src/MarkdownViewer/index.ts
  src/packages/MarkdownEditor/src/editor.styles.ts
  src/packages/MarkdownEditor/src/index.ts
  src/packages/MarkdownEditor/src/theme.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: dependencies, Portal, Apps, Core, Packages, Client

#1223 [Release] - Changelog v1.26.2
  Changelog.md
  package.json
Labels: dependencies

#1226 [MarkdownEditor] - chore: styling improvements
  src/packages/MarkdownEditor/src/editor.styles.ts
Labels: Packages

#1227 [Release] - Changelog v.1.26.3
  Changelog.md
  package.json
Labels: dependencies

#1228 Castberg Portal Release v.1.26.3
  Changelog.md
  package.json
  src/packages/MarkdownEditor/src/editor.styles.ts
Labels: dependencies, Packages

#1224 chore: bump luxon
  package.json
  yarn.lock
Labels: dependencies

#1229 [Release] - Changelog 1.26.4
  Changelog.md
  package.json
Labels: dependencies

#1230 Castberg Portal Release v.1.26.4
  Changelog.md
  package.json
  yarn.lock
Labels: dependencies

#1231 chore: update browser title
  index.html
  src/Core/Client/Service/appConfig.ts
Labels: Portal, Core, Client

#1222 [Loop] - fix: use cl status instead of mc status
  src/apps/Loop/components/Sidesheet/LoopContentTable.tsx
  src/apps/Loop/types/loopContent.ts
  src/apps/Loop/utility/api/getLoopContent.ts
Labels: Apps

#1233 Added Tags analytics
  src/apps/TagsAnalytics/index.ts
  src/apps/apps.ts
Labels: Apps

#1219 Added section about release deployment in readme
  README.md
Labels: documentation

#1234 [SCR & MarkdownEditor] - chore: add placeholder text and style
  src/apps/ScopeChangeRequest/Components/Form/Inputs/DescriptionInput/DescriptionInput.tsx
  src/packages/MarkdownEditor/src/editor.styles.ts
Labels: Apps, Packages

#1235 [Release] - Changelog v1.26.5
  Changelog.md
  package.json
Labels: dependencies

#1236 Johan Castberg Portal v.1.26.5
  Changelog.md
  README.md
  index.html
  package.json
  public/favicon.png
  src/Core/Client/Service/appConfig.ts
  src/apps/Loop/components/Sidesheet/LoopContentTable.tsx
  src/apps/Loop/types/loopContent.ts
  src/apps/Loop/utility/api/getLoopContent.ts
  src/apps/ScopeChangeRequest/Components/Form/Inputs/DescriptionInput/DescriptionInput.tsx
  src/apps/TagsAnalytics/index.ts
  src/apps/apps.ts
  src/packages/MarkdownEditor/src/editor.styles.ts
Labels: dependencies, Portal, Apps, Core, Packages, Client

#1237 [SCR] - fix: styling for markdown viewer
  src/packages/MarkdownEditor/src/MarkdownViewer/ComponentOverrides.tsx
  src/packages/MarkdownEditor/src/MarkdownViewer/MarkdownViewer.tsx
Labels: Packages

#1238 [Release]- Changelog v1.26.6
  Changelog.md
  package.json
Labels: dependencies

#1239 Johan Castberg Portal Release v.1.26.6
  Changelog.md
  package.json
  src/packages/MarkdownEditor/src/MarkdownViewer/ComponentOverrides.tsx
  src/packages/MarkdownEditor/src/MarkdownViewer/MarkdownViewer.tsx
Labels: dependencies, Packages

#1240 [MarkdownEditor] - fix: font sizes for md viewer
  src/packages/MarkdownEditor/src/MarkdownViewer/ComponentOverrides.tsx
  src/packages/MarkdownEditor/src/MarkdownViewer/MarkdownViewer.tsx
Labels: Packages

#1241 [Release] - Changelog v1.26.7
  Changelog.md
  package.json
Labels: dependencies

#1242 Johan Castberg Portal Release v.1.26.7
  Changelog.md
  package.json
  src/packages/MarkdownEditor/src/MarkdownViewer/ComponentOverrides.tsx
  src/packages/MarkdownEditor/src/MarkdownViewer/MarkdownViewer.tsx
Labels: dependencies, Packages

#1244 add description to Query
  src/apps/Query/components/QuerySidesheet/Tabs/DetailsTab.tsx
  src/apps/Query/types/query.ts
  src/apps/Query/utility/config/sidesheetConfig.ts
Labels: Apps

#1245 [apps] - feat: add link to operation garden
  src/apps/apps.ts
Labels: Apps

#1246 [apps] - fix: update url for operation garden
  src/apps/apps.ts
Labels: Apps

#1247 [Release] - Changelog v1.26.8
  Changelog.md
  package.json
Labels: dependencies

#1248 Castberg Portal Release v.1.26.8
  Changelog.md
  package.json
  src/apps/Query/components/QuerySidesheet/Tabs/DetailsTab.tsx
  src/apps/Query/types/query.ts
  src/apps/Query/utility/config/sidesheetConfig.ts
  src/apps/apps.ts
Labels: dependencies, Apps

#1249 [Workflow] - feat: new batch search for tags using saved search
  src/packages/Workflow/src/Api/PCS/Batch/batchTag.ts
  src/packages/Workflow/src/Components/AdvancedDocumentSearch/AdvancedDocumentSearch.tsx
Labels: Packages
