Repository equinor/lighthouse-client, pull requests merged in 2024-01, with the labels that each got.

#1564 feat: allow contributors on all step
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaActionBar.tsx
  src/apps/ReleaseControl/components/Workflow/Workflow.tsx
  src/fusion-framework/config.ts
Labels: Apps

#1577 feat: dedupe tag selection
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchHtCables.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchTags.tsx
Labels: Apps

#1574 fix: :bug: Improved mapping of tags in create release-control workflow.
  Changelog.md
  package.json
  src/packages/Workflow/src/Hooks/Search/useFAMSearch.ts
Labels: dependencies, Packages

#1575 feat: Added "Contains Step" filter on RC
  Changelog.md
  package.json
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
Labels: dependencies, Apps

#1580 fix: 🐛 Fixed issue with missing area in tag/HT cable tables before submitting RC
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/Form/Inputs/Scope/HtCableTable.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/TagTable.tsx
Labels: dependencies, Apps

#1581 feat: generic load fusion apps in JC
  src/components/Routes/FusionAppLoader.tsx
  src/components/Routes/Routes.tsx
  src/components/TopBar/TopBar.tsx
Labels: Components, Portal

#1543 feat: onboard new mc app
  packages/echo3dViewer/src/index.ts
  pnpm-lock.yaml
  src/Core/Functions/Api/functionStore.ts
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/apps/apps.ts
  src/components/TopBar/BreadCrumbs/Breadcrumbs.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/BookmarkEntry.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/MenuOptions.tsx
Labels: dependencies, Components, Portal, Apps, Core, Packages, WorkSpace

#1596 fix: criteria not found
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlDetailView.tsx
Labels: dependencies, Apps

#1598 feat: show functional role signed
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/Criteria.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/CriteriaDetail.tsx
Labels: dependencies, Apps

#1601 feat: show contributors on finished steps
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/Criteria.tsx
Labels: Apps

#1607 add job analytics
  Changelog.md
  package.json
  src/apps/apps.ts
Labels: dependencies, Apps
