Repository equinor/lighthouse-client, pull requests merged in 2024-02, with the labels that each got.

#1614 fix: broken bookmarks jca-job-analytics
  Changelog.md
  package.json
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/AppBookmarks.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/BookmarkEntry.tsx
Labels: dependencies, Packages

#1624 fix: job analytics copy url
  Changelog.md
  package.json
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/MenuOptions.tsx
Labels: dependencies, Packages

#1627 feat: add 10min refetch interval to RC sidesheet
  src/apps/ReleaseControl/hooks/useGetReleaseControl.ts
  src/packages/Workflow/src/Api/CacheTime.ts
Labels: Apps, Packages

#1629 ci: add build action
  .docker/Dockerfile
  .github/actions/pnpm-setup/action.yml
  .github/workflows/ci-build.yml
  package.json
Labels: dependencies, GithubActions

#1611 Feat/update scopetag and scopehttag
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/components/Form/Inputs/Scope/CreateRcHtCableTable.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/CreateRcTagTable.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/HtCableTable.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchHtCables.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchTags.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/TagTable.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlRequestEditForm.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlSidesheet.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/ScopeTab.tsx
  src/apps/ReleaseControl/hooks/useGetReleaseControl.ts
  src/apps/ReleaseControl/queries/queries.ts
  src/apps/ReleaseControl/types/releaseControl.ts
  src/apps/ReleaseControl/workspaceConfig/table/tableConfig.tsx
  src/fusion-framework/config.ts
  src/packages/CircuitDiagram/src/Api/getEleNetworks.ts
  src/packages/Workflow/src/Api/Backend/getScopeTag.ts
  src/packages/Workflow/src/Api/FAM/searchHtCable.ts
  src/packages/Workflow/src/Api/FAM/searchHtCableTagNo.ts
  src/packages/Workflow/src/Api/FAM/searchTag.ts
  src/packages/Workflow/src/Api/FAM/searchTagNo.ts
  src/packages/Workflow/src/Components/PersonRoleSearch/typedSelectOption.ts
  src/packages/Workflow/src/Hooks/Search/useCompletionSearch.ts
  src/packages/Workflow/src/Hooks/Search/useReferencesSearch.ts
  src/packages/Workflow/src/Types/ProCoSys/ProCoSysTypes.ts
  src/packages/Workflow/src/index.ts
Labels: Apps, Packages

#1640 fix: FAM preprocessed views update
  Changelog.md
  package.json
  src/apps/Loop/utility/api/getChecklistsForLoop.ts
  src/apps/Punch/index.tsx
  src/apps/Punch/utility/config/sidesheetConfig.ts
Labels: dependencies, Apps

#1643 fix: :bug: scopetag table was not showing in edit mode
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchTags.tsx
Labels: dependencies, Apps

#1644 Feat/add new columns in scopetag table
  Changelog.md
  package.json
  src/apps/ReleaseControl/Styles/WrapperStyles.ts
  src/apps/ReleaseControl/components/Form/Inputs/Scope/TagTable.tsx
  src/apps/ReleaseControl/functions/statusUtils.ts
  src/apps/ReleaseControl/types/releaseControl.ts
Labels: dependencies, Apps

#1647 fix handover redirect old app
  Changelog.md
  package.json
  src/components/TopBar/BreadCrumbs/Breadcrumbs.tsx
Labels: dependencies, Components, Portal

#1653 refactor: :lipstick: add and reorder columns in CreateRcTagTable
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/Form/Inputs/Scope/CreateRcTagTable.tsx
Labels: dependencies, Apps

#1658 add icon indicating contributors on step
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
Labels: dependencies, Apps

#1677 fix: incorrect tag status if value is null
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/Form/Inputs/Scope/TagTable.tsx
Labels: dependencies, Apps

#1660 fix: elenetwork 404
  Changelog.md
  package.json
  src/apps/DisciplineReleaseControl/Components/3D/3dView.tsx
  src/packages/CircuitDiagram/src/CircuitDiagram.tsx
Labels: dependencies, Apps, Packages

#1682 feat: :sparkles: Update all SingelSelect (old EDS component) in RC to Autocomplete (new EDS component)
  Changelog.md
  package.json
  src/apps/DisciplineReleaseControl/Components/Form/Inputs/PhaseSelect.tsx
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
  src/apps/ReleaseControl/components/Form/releaseControlProcessForm.styles.ts
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepSidesheet.tsx
  src/packages/Workflow/src/Components/Workflow/SelectWorkflowTemplate.tsx
Labels: dependencies, Apps, Packages

#1683 fix: :bug: Icon bug
  Changelog.md
  package.json
  src/index.tsx
Labels: dependencies

#1684 fix: sequence contains no elements
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/EditTabs/EditButtonBar.tsx
Labels: dependencies, Apps

#1685 Fix/search field
  Changelog.md
  package.json
  src/apps/ReleaseControl/ReleaseControlApp.tsx
Labels: dependencies, Apps

#1686 fix: :bug: KPI "% closed" shows NaN
  Changelog.md
  package.json
  src/apps/ReleaseControl/workspaceConfig/statusBar/statusBarConfig.ts
Labels: dependencies, Apps

#1687 fix: :bug: quickfilter infochip overlaps advanced search in createRC
  Changelog.md
  package.json
  src/Core/WorkSpace/src/Components/QuickFilter/QuickFilter.tsx
Labels: dependencies, Core, WorkSpace

#1693 fix: create duplicate rc
  Changelog.md
  package.json
  src/AppClient.tsx
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
Labels: dependencies, Apps

#1694 fix/upload attachment
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/ScopeTab.tsx
  src/fusion-framework/config.ts
Labels: dependencies, Apps

#1700 fix: :bug: voiding wrong RC
  Changelog.md
  package.json
  src/apps/ReleaseControl/hooks/useSidesheetEffects.tsx
Labels: dependencies, Apps

#1703 Feat/min three chars
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchHtCables.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchTags.tsx
Labels: dependencies, Apps

#1704 🐛 : Navigating via Breadcrumbs in apps doesnt work
  Changelog.md
  package.json
  src/Core/WorkSpace/src/Context/LocationProvider.tsx
Labels: dependencies, Core, WorkSpace

#1698 🎁: Form Validation in RC Forms
  package.json
  pnpm-lock.yaml
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/AddContributor.tsx
  src/packages/Admin/src/Components/Form/Inputs/StepCompletedStatusSelect.tsx
  src/packages/Admin/src/Components/Form/Inputs/StepDescriptionInput.tsx
  src/packages/Admin/src/Components/Form/Inputs/StepRejectedStatusSelect.tsx
  src/packages/Admin/src/Components/Modal/CreateStatusModal.tsx
  src/packages/Admin/src/Components/Modal/CreateStepModal.tsx
  src/packages/Admin/src/Components/Modal/CreateWorkflowModal.tsx
  src/packages/Admin/src/Components/Modal/EditStatusModal.tsx
  src/packages/Admin/src/Components/Modal/EditStepModal.tsx
  src/packages/Admin/src/Components/Modal/EditWorkflowModal.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepActions.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepCreateButtonBar.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepSaveButtonBar.tsx
  src/packages/Admin/src/Components/Sidesheet/WorkflowStepSidesheet.tsx
  src/packages/Admin/src/Hooks/useWorkflowStepFormActions.ts
  src/packages/Admin/src/Hooks/useWorkflowStepStatuses.ts
  src/packages/EdsForm/index.ts
  src/packages/EdsForm/src/Components/Autocomplete.tsx
  src/packages/EdsForm/src/Components/FormContainer.tsx
  src/packages/EdsForm/src/Components/TextField.tsx
  src/packages/EdsForm/src/Components/index.ts
  src/packages/Workflow/src/Components/Modal/SignWithCommentModal.tsx
Labels: dependencies, Apps, Packages

#1714 feat: :sparkles: add new filter "Contains Person"
  Changelog.md
  package.json
  pnpm-lock.yaml
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
Labels: dependencies, Apps

#1718 feat: :sparkles: change default description in create RC sidesheet
  Changelog.md
  package.json
  src/apps/ReleaseControl/components/Form/Inputs/Description/Description.tsx
Labels: dependencies, Apps
