Repository equinor/lighthouse-client, pull requests merged in 2024-03, with the labels that each got.

#1585 feat: add new scaled loop app🚀
  src/Core/WorkSpace/src/Components/DataViewerHeader/Header.tsx
  src/apps/apps.ts
  src/components/TopBar/BreadCrumbs/Breadcrumbs.tsx
  src/packages/BookmarksManager/src/components/BookmarksSidesheet/BookmarkEntry.tsx
Labels: Components, Portal, Apps, Core, Packages, WorkSpace

#1731 feat: use v2 dynamic for punch
  Changelog.md
  package.json
  src/packages/Workflow/src/Api/FAM/searchPunchListItems.ts
Labels: dependencies, Packages

#1744 feat: :sparkles: update rc sidesheet banner
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlSidesheetBanner.tsx
  src/apps/ReleaseControl/workspaceConfig/dataOptions.ts
Labels: Apps

#1747 feat: :sparkles: Move due date to banner and change name
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlSidesheetBanner.tsx
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/Tabs/ScopeTab.tsx
Labels: Apps

#1748 feat: :sparkles: Remove "Edit isolation" button in circuit diagram in rc
  src/packages/CircuitDiagram/src/CircuitDiagram.tsx
Labels: Packages

#1749 feat: :sparkles: add default unchecked "closed" in filter
  src/apps/ReleaseControl/workspaceConfig/filter/filterConfig.ts
Labels: Apps

#1730 feat: :sparkles: Update scopeTag
  src/apps/ReleaseControl/Styles/WrapperStyles.ts
  src/apps/ReleaseControl/components/Form/Inputs/Scope/CreateRcHtCableTable.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/CreateRcTagTable.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/HtCableTable.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchHtCables.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/SearchTags.tsx
  src/apps/ReleaseControl/components/Form/Inputs/Scope/TagTable.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
Labels: Apps

#1753 feat: :sparkles: adjust column width in htCableTable
  src/apps/ReleaseControl/components/Form/Inputs/Scope/HtCableTable.tsx
Labels: Apps

#1722 workflow step description wip
  src/apps/ReleaseControl/Atoms/formAtomApi.ts
  src/apps/ReleaseControl/components/Form/ReleaseControlProcessForm.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowCustomEditor.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowEditorHelpers.tsx
  src/apps/ReleaseControl/components/Form/WorkflowEditor/WorkflowStep.tsx
  src/apps/ReleaseControl/components/Workflow/Criteria/Components/Criteria.tsx
  src/apps/ReleaseControl/components/Workflow/Workflow.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
  src/packages/MarkdownEditor/src/MarkdownEditor.tsx
  src/packages/MarkdownEditor/src/MarkdownRemirrorViewer.tsx
  src/packages/MarkdownEditor/src/editor.styles.ts
  src/packages/MarkdownEditor/src/index.ts
Labels: Apps, Packages

#1757 chore: Add github issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bump-deps.md
  .github/ISSUE_TEMPLATE/enh_report.md
  .github/ISSUE_TEMPLATE/feat_report.md
  .github/ISSUE_TEMPLATE/scaling_report.md
  .prettierrc
Labels: GithubActions

#1758 fix: :ambulance: fix RC sidesheet banner bug
  src/apps/ReleaseControl/components/sidesheet/ReleaseControlSidesheet/ReleaseControlSidesheetBanner.tsx
  src/apps/ReleaseControl/types/releaseControl.ts
Labels: Apps

#1759 chore: Update issue template 2
  .github/ISSUE_TEMPLATE/scaling_report.md
Labels: GithubActions

#1760 chore: Remove scaling issue template
  .github/ISSUE_TEMPLATE/scaling_report.md
Labels: GithubActions

#1633 feat: move to radix🚀
  .docker/scripts/create-client-config.py
  .docker/scripts/env-replace.py
  .docker/scripts/run-nginx.sh
  .env
  .env.default
  .github/pull_request_template.md
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-dev2.yml
  .github/workflows/post-service-message.yml
  .github/workflows/truffle-hog.yml
  .gitignore
  .radix/nginx/conf.d/default.conf
  .radix/scripts/run-nginx.sh
  .radix/scripts/startup.sh
  Dockerfile
  docker-compose.yml
  index.html
  package.json
  pipelines/frontend-build.yml
  radixconfig.yaml
  src/Core/Client/Service/appConfig.ts
  src/Core/Client/Service/envConfig.ts
  src/Core/Client/Utils/crypt.ts
  src/components/Messages/Service/Hooks/useServiceMessage.ts
  vite.config.ts
Labels: dependencies, GithubActions, Components, Portal, Core, Client, Pipelines, blocked

#1761 CI: update github actions environment
  .github/workflows/deploy-pr.yml
  .github/workflows/post-service-message.yml
Labels: GithubActions

#1762 Housekeeping🧹: Removing unused variables and components
  .github/labeler.yml
  .github/workflows/deploy-pr.yml
  .github/workflows/label.yml
  .github/workflows/post-service-message.yml
  Dockerfile
  src/AppClient.tsx
  src/Core/Client/Service/envConfig.ts
  src/Core/Client/Types/ScopeAndUrls.ts
  src/components/Messages/Service/Components/ServiceMessagePost.tsx
  src/components/Messages/Service/Components/ServiceMessagePostStyle.ts
  src/components/Messages/Service/Hooks/useServiceMessage.ts
Labels: GithubActions, Components, Portal, Core, Client
